<section class="pagination-section">
  <nav aria-label="pagination">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="previous">
          <span class="visuallyhidden">Previous set of pages</span>
          <span aria-hidden="true" role="presentation">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#"><span class="visuallyhidden">page </span>1</a></li>
      <li class="page-item"><a class="page-link" href="#"><span class="visuallyhidden">page </span>2</a></li>
      <li class="page-item active"><a class="page-link" href="#"><span class="visuallyhidden">page</span>3</a></li>
      <li class="page-item"><a class="page-link" href="#"><span class="visuallyhidden">page </span>4</a></li>
      <li class="page-item"><a class="page-link" href="#"><span class="visuallyhidden">page </span>5</a></li>
      <li class="page-item ml-0_5">
        <a class="page-link" href="#" aria-label="Next">
          <span class="visuallyhidden">Next set of pages</span>
          <span aria-hidden="true" role="presentation">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</section>
