// Pagination (draft)
//
// <ul>
//   <li>word</li>
// </ul>
//
// Markup: pagination.twig
//
// Style guide: Navigation.pagination

// Import site utilities.
@import '../../global/utils/init';

.pagination {
  background-color: $color-alabaster;
  display: inline-block;
  padding-left: 0;

  li {
    list-style: none;
    float: left;
    padding-bottom: 0 !important;
    border: 1px solid $color-silver;
    border-right: 1px solid $color-alabaster;

    &:first-child {
      border-top-left-radius: $border-rd-sm;
      border-bottom-left-radius: $border-rd-sm;
      padding-left: 0;
      border-right: 0;
    }

    &:last-child {
      border-top-right-radius: $border-rd-sm;
      border-bottom-right-radius: $border-rd-sm;
      border-right: 1px solid $color-silver;
    }

    &.active {
      background-color: $color-cherry;
      color: $color-white;
      border: 1px solid $color-cherry;

      a {
        color: $color-white;
      }

      &:hover {
        background-color: $color-ruby;
      }
    }

    &:hover:not(.active) {
      background-color: $color-alto;
      border-right: 1px solid $color-alto;

      &:first-child {
        border-right: 0;
      }

      &:last-child {
        border-right: 1px solid $color-silver;
      }
    }
  }

  a {
    color: $color-midnight;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
}
