<section class="pagination-section">
  <nav aria-label="pagination">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">
          <span class="visuallyhidden">
            Previous
            <span>set of pages</span>
          </span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">
          <span class="visuallyhidden">page </span>1
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">
          <span class="visuallyhidden">page </span>2
        </a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#" aria-current="page"><span class="visuallyhidden">page</span>3
      </a>
    </li>
      <li class="page-item">
        <a class="page-link" href="#">
          <span class="visuallyhidden">page </span>4
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">
          <span class="visuallyhidden">page </span>5
        </a>
      </li>
      <li class="page-item ml-0_5">
        <a class="page-link" href="#">
          <span class="visuallyhidden">
            Next
            <span>set of pages</span>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</section>
