// Pagination
//
// <ul>
//   <li>word</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation" target="_blank">Info and Relationships</a> - Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.</blockquote>
//
//
//
// Markup: pagination.twig
//
// Style guide: Navigation.pagination

// Import site utilities.
@import '../../global/utils/init';
