// Pagination
//
// <ul>
//  <li>Place the pager in a `<nav>` element when you can.</li>
//  <li>If you do not use a `<nav>` element, you need to add `role="navigation"` to the markup. <strong>Note:</strong> this role is implied when you use the `<nav>` element so it is a bit redundant to use both at the same time.</li>
//  <li>The markup includes an `aria-label="pagination"` to describe the type of navigation.</li>
// </ul>
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#pagination_guide">WCAG 2.0 Guidelines</a></h3><div id="pagination_guide" class="atblock__panel guidelines"><p><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#navigation-mechanisms-location" target="_blank">2.4.8 Location</a> - Information about the user's location within a set of Web pages is available. (Level AAA)</p></div><div class="markup"></div></section>
//
//
//
// Markup: pagination.twig
//
// Style guide: Navigation.pagination

// Import site utilities.
@import '../../global/utils/init';

.pagination {
  display: inline-block;
  padding-left: 0;

  li {
    list-style: none;
    float: left;
    padding-bottom: 0;
    background-color: $color-alabaster;
    border: 1px solid $color-silver;

    &:first-child {
      border-top-left-radius: $border-rd-sm;
      border-bottom-left-radius: $border-rd-sm;
      padding-left: 0;
    }

    &:last-child {
      border-top-right-radius: $border-rd-sm;
      border-bottom-right-radius: $border-rd-sm;
      border-right: 1px solid $color-silver;
    }

    &.active {
      background-color: $color-cherry;
      color: $color-white;
      border: 1px solid $color-cherry;

      a {
        color: $color-white;
      }

      &:hover {
        background-color: $color-ruby;
      }
    }

    &:hover:not(.active) {
      background-color: $color-alto;

      &:last-child {
        border-right: 1px solid $color-silver;
      }
    }
  }

  a {
    color: $color-midnight;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
}

.pagination,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination li:not([class*='current']) a:hover {
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.pagination li:first-of-type a {
  border-left-width: 1px;
}

.pagination li:first-of-type span,
.pagination li:last-of-type span,
.pagination li:nth-of-type(2) span,
.pagination li:nth-last-of-type(2) span {
  /* screen readers only */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pagination li:first-child a::before,
.pagination li:last-child a::after,
.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}

.pagination li:first-child a::before,
.pagination li:last-child a::after {
  content: '\25C0 \25C0';
}

.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {
  content: ' \25C0';
  padding-right: $padding-xsm;
}

.pagination li:last-child a::after,
.pagination li:nth-last-of-type(2) a::after {
  transform: rotate(180deg);
}

.pagination .current a {
  padding-top: 0.25em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.25);
  cursor: default;
  pointer-events: none;
}

@media only screen and ( max-width: 64.063em ) {
  .pagination li:first-child,
  .pagination li:last-child {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li:nth-of-type(2) a {
    border-left-width: 1px;
  }

}

@media only screen and ( max-width: 40.063em ) {
  .pagination li {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination .current,
  .pagination li:first-of-type,
  .pagination li:last-of-type,
  .pagination li:nth-of-type(2),
  .pagination li:nth-last-of-type(2) {
    position: initial;
    top: initial;
    left: initial;
  }

  .pagination li:nth-of-type(2) a {
    border-left-width: 0;
  }
}
