<section class="l-highlight highlight section highlight--left-small">
 <div class="l-center">
    <div class="highlight__image">
      <!-- variant for images -->
      <!-- <img src="http://placebear.com/400/600" alt="Alternate text related to the image/video"/> -->
      <!-- variant for videos -->
      {{> components.media}}
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">{{title}}</h2>
      </div>
      <div class="highlight__description">
        {{description}}
      </div>
    </div>
  </div>
</section>