<section class="l-highlight highlight section highlight--right">
 <div class="l-center">
    <div class="highlight__image">
      <!-- variant for images -->
      <!-- <img src="http://placebear.com/400/300" alt="Alternate text related to the image/video"/> -->
      <!-- variant for videos -->
      {{> components.media}}
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">{{title}}</h2>
      </div>
      <div class="highlight__description">
        {{description}}
      </div>
      <div class="highlight__buttons buttons buttons--left">
        <a href="#" class="button">Learn More <span class="element-invisible">about highlight box title</span></a>
      </div>
    </div>
  </div>
</section>