<!-- inline background image only applied on the default/full variant -->
<section class="l-highlight highlight section highlight--full {{modifier_class}}" style="background-image: url('../../../assets/dist/background--highlight.jpg');">
  <div class="l-center">
    <!-- add the element invisible class for the default/full variant -->
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">{{title}}</h2>
        <!-- optional sub-title -->
        {{#if subtitle}}
        <h3 class="highlight__sub-title">{{subtitle}}</h3>
        {{/if}}
      </div>
      <div class="highlight__description">
        {{description}}
      </div>
      <div class="highlight__buttons buttons buttons--center">
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
    <div class="highlight__image element-invisible">
      <img src="http://placebear.com/400/300" alt="Alternate text related to the image/video"/>
    </div>
  </div>
</section>