<section class="images-section">
  <div class="images"><img src="../assets/snail.jpg" alt="Small, pink snail resting on top of a gray capped mushrom with green moss as the background">
  </div>
</section>
