// Images
//
// <b>A11y pro tips</b>:
// <ul>
//  <li>A `<button>` doesn't need anything special to work. ARIA's role="button" is already assigned natively.</li>
//  <li>If you are using a link as a button, add the `role="button"` attribute.</li>
//  <li>Add `class="visuallyhidden"` with descriptive text to give more context to the button's purpose.</li>
// </ul>
//
// .buttons--center - modifier for centered buttons
// .buttons--right - modifier for right aligned buttons
//
// Markup: images.twig
//
// Style guide: Media.images

// Import site utilities.
@import '../../global/utils/init';

button,
.button {
  @include button;
  position: relative;
  margin-top: $padding-sm;
}

.button--outline {
  @include button-outline;
  position: relative;
  margin-top: $padding-sm;
}

.buttons--center {
  text-align: center;
  clear: both;
  position: relative;
  margin-top: $padding-sm;
}

.buttons--right {
  text-align: right;
  clear: both;
}

.buttons--left {
  text-align: left;
  clear: both;
}
