{{ attach_library('theme_name/radio-buttons') }}
<fieldset>
  <label class="control control--radio">First radio
    <input type="radio" name="radio"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--radio">Second radio
    <input type="radio" name="radio"/>
    <div class="control__indicator"></div>
  </label>
</fieldset>
