// Colors
//
// <ul>
//  <li>Avoid using color *only* to communicate information. In the case of links, use another identifier such as bold or underline to indicate a link verses using color alone.</li>
//  <li>Some users have difficulty reading text if there is too little contrast between foreground and background. To meet Level AA, text must have a contrast ratio of at least 4.5:1 (or 3:1 for large text). In order to meet the guidelines at the stricter Level AAA, the contrast ratio must be at least 7:1 (or 4.5:1 for large text).</li>
//  <li>Tools:<br><a href="http://colorsafe.co/" target="_blank">Color Safe</a><br><a href="http://contrastchecker.com/" target="_blank">Contrast Checker</a><br><a href="http://www.color-blindness.com/coblis-color-blindness-simulator/" target="_blank">Color Blindness Simulator</a></li>
// </ul>
//
// <blockquote><h3>Guidelines</h3><div class="more-info"><button class="more"><span class="visuallyhidden">Button to collapse and expand the guideline information</span></button><a href="https://www.w3.org/WAI/WCAG20/quickref/#visual-audio-contrast-without-color" target="_blank">1.4.1. Use of Color</a> - Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.<br><a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast" target="_blank">1.4.3 Contrast (Minimum)</a> - The visual presentation of text and images of text has a contrast ratio of at least 4.5:1, except for some cases.</div></blockquote>
//
//
//
// Markup:
// <h3>Primary</h3>
// <div class="kss-swatch" style="background-color: #e00000">
//   <div class="kss-swatch__hex">$color-cherry<br>#e00000</div>
// </div>
// <div class="kss-swatch" style="background-color: #a51323">
//   <div class="kss-swatch__hex">$color-ruby<br>#a51323</div>
// </div>
// <div class="kss-swatch" style="background-color: #7fffd4">
//   <div class="kss-swatch__hex">$color-sea-glass<br>#7fffd4</div>
// </div>
// <div class="kss-swatch" style="background-color: #3cf73c">
//   <div class="kss-swatch__hex">$color-grass<br>#3cf73c</div>
// </div>
// <div class="kss-swatch" style="background-color: #4083ae">
//   <div class="kss-swatch__hex">$color-cornflower<br>#4083ae</div>
// </div>
// <div class="kss-swatch" style="background-color: #0a3055">
//   <div class="kss-swatch__hex">$color-navy<br>#0a3055</div>
// </div>
// <div class="kss-swatch" style="background-color: #ffa0e5">
//   <div class="kss-swatch__hex">$color-ballet-slipper<br>#ffa0e5</div>
// </div>
// <div class="kss-swatch" style="background-color: #550055">
//   <div class="kss-swatch__hex">$color-eggplant<br>#550055</div>
// </div>
// <div class="break"></div>
// <h3>Black, White, Grays</h3>
// <div class="kss-swatch" style="background-color: #000000">
//   <div class="kss-swatch__hex">$color-black<br>#000000</div>
// </div>
// <div class="kss-swatch" style="background-color: #464646">
//   <div class="kss-swatch__hex">$color-midnight<br>#464646</div>
// </div>
// <div class="kss-swatch" style="background-color: #888b8d">
//   <div class="kss-swatch__hex">$color-manatee<br>#888b8d</div>
// </div>
// <div class="kss-swatch" style="background-color: #bbbbbb">
//   <div class="kss-swatch__hex">$color-silver<br>#bbbbbb</div>
// </div>
// <div class="kss-swatch" style="background-color: #dddddd">
//   <div class="kss-swatch__hex">$color-alto<br>#dddddd</div>
// </div>
// <div class="kss-swatch" style="background-color: #eeeeee">
//   <div class="kss-swatch__hex">$color-gallery<br>#eeeeee</div>
// </div>
// <div class="kss-swatch" style="background-color: #f7f7f7">
//   <div class="kss-swatch__hex">$color-alabaster<br>#f7f7f7</div>
// </div>
// <div class="kss-swatch" style="background-color: #ffffff">
//   <div class="kss-swatch__hex">$color-white<br>#ffffff</div>
// </div>
//
// Style guide: General.colors

// Primary
$color-cherry: #e00000;
$color-ruby: #a51323;
$color-sea-glass: #7fffd4;
$color-grass: #3cf73c;
$color-cornflower: #4083ae;
$color-navy: #0a3055;
$color-ballet-slipper: #ffa0e5;
$color-eggplant: #550055;

// Grays
$color-black: #000000;
$color-midnight: #464646;
$color-manatee: #888b8d;
$color-silver: #bbbbbb;
$color-alto: #dddddd;
$color-gallery: #eeeeee;
$color-alabaster: #f7f7f7;
$color-white: #ffffff;
