//=======================================================
// Variables
//=======================================================

$asset-path: '../assets';

$border-rd-sm: 4px;
$border-rd-md: 12px;
$border-rd-lg: 32px;

$border-thin: 1px solid rgba(136, 139, 141, 0.25);
$border-regular: 2px solid rgba(136, 139, 141, 0.5);
$border-bold: 2px solid rgba(136, 139, 141, 0.75);

$padding-xsm: 0.5rem;
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-md-lg: 3rem;
$padding-lg: 4rem;
$padding-xl: 6rem;
$padding-xxl: 8rem;
$padding-xxxl: 10rem;

$shadow-sm: 0 0 2px rgba(0, 0, 0, 0.5);
$shadow-md: 0 2px 2px rgba(136, 139, 141, 0.5);
$shadow-lg: 0 4px 2px rgba(136, 139, 141, 0.5);

$anim-standard: ease-in-out;
$anim-speed-faster: 100ms;
$anim-speed-fast: 250ms;
$anim-speed-moderate: 500ms;
$anim-speed-slow: 800ms;
$anim-speed-slower: 1000ms;

$tip--color-white: #fff !default;
$tip--color-black: #000 !default;
$tip--color-gray: #666 !default;
$tip--bg: fade-out($tip--color-black, 0.1) !default;
$tip--base-size: 12px !default;
$tip--arrow-size: 10px !default;
$tip--trigger--border-bottom: 1px dotted $tip--color-gray !default;
$tip--compile-bottom: true !default;
$tip--compile-left: true !default;
$tip--compile-right: true !default;
$tip--delay: 1s !default;
$tip--no-delay: 0.18s !default;

$person-grid-item--height: 202px;
$person-grid-item--width: 150px;
$person-list-image--width: 128px;