// Fields
//
// <ul>
//  <li>Inputs with errors should have `aria-describedby` to insure that the associated field level error message is read by assistive technology. If the error message has an `id="my-error-message"`, then the input should have `aria-describedby="my-error-message"`.</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation" target="_blank">Info and Relationships</a> - Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.</blockquote><br>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">Headings and Labels</a> - Headings and labels describe topic or purpose.</blockquote><br>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#minimize-error" target="_blank">Labels or Instructions</a> - Labels or instructions are provided when content requires user input.</blockquote>
//
//
//
// Markup: fields.twig
//
// Style guide: Forms.fields

// Import site utilities.
@import '../../global/utils/init';

.fields {
  //to-do
}
