{{ attach_library('theme_name/fields') }}
<section class="fields-section">
  <div class="fields">
  	<label for="field-id" class="c-field__label">label</label>
  	<input id="field-id" type="text" placeholder="Placeholder" value="" />
  </div>
</section>
