<div class="directory directory-layout--photo-grid-name">
  <ul class="directory__items">
    <li class="directory directory-layout--photo-grid-name directory__item">
      <section class="cards-bio cards-bio-grid__item-wrapper photo-grid-names">
        <div class="cards-bio-grid__image">
          <a href="#"><img src="../assets/mae-jemison.jpg" alt="Mae Carol Jemison in an orange space suit holding their helmet to their side"></a>
        </div>
        <div class="cards-bio-grid__content">
          <h3 class="cards-bio-grid__name">
            <a href="https://en.wikipedia.org/wiki/Mae_Jemison">Mae Carol Jemison</a>
          </h3>
          <div class="cards-bio-grid__title">Astronaut, NASA</div>
          <div class="cards-bio-grid__email">
            <a href="mailto:email@email.com">email@email.com</a>
          </div>
        </div>
      </section>
    </li>
    <li class="directory directory-layout--photo-grid-name directory__item">
      <section class="cards-bio cards-bio-grid__item-wrapper photo-grid-names">
        <div class="cards-bio-grid__image">
          <a href="#"><img src="../assets/gus-grissom.jpg" alt="Gus Grissom holding replica space rocket with American flag in the background"></a>
        </div>
        <div class="cards-bio-grid__content">
          <h3 class="cards-bio-grid__name">
            <a href="https://en.wikipedia.org/wiki/Gus_Grissom">Gus Grissom</a>
          </h3>
          <div class="cards-bio-grid__title">Astronaut, NASA</div>
          <div class="cards-bio-grid__email">
            <a href="mailto:email@email.com">email@email.com</a>
          </div>
        </div>
      </section>
    </li>
    <li class="directory directory-layout--photo-grid-name directory__item">
      <section class="cards-bio cards-bio-grid__item-wrapper photo-grid-names">
        <div class="cards-bio-grid__image">
          <a href="#"><img src="../assets/tracy-caldwell.jpg" alt="Tracy Caldwell in an orange space suit with their helment in front of them"></a>
        </div>
        <div class="cards-bio-grid__content">
          <h3 class="cards-bio-grid__name">
            <a href="https://en.wikipedia.org/wiki/Tracy_Caldwell_Dyson">Tracy Caldwell Dyson</a>
          </h3>
          <div class="cards-bio-grid__title">Astronaut, NASA</div>
          <div class="cards-bio-grid__email">
            <a href="mailto:email@email.com">email@email.com</a>
          </div>
        </div>
      </section>
    </li>
  </ul>
  <div>
  </div>
</div>