<section class="image-gallery-section">
  <div class="image-gallery">
    <div class="square"><img src="http://placecage.com/300/300" alt="randomly generated image of the zany Nic Cage"></div>
    <div class="square"><img src="http://fillmurray.com/300/300" alt="randomly generated image of the fabulous Bill Murray"></div>
    <div class="square"><img src="http://placecage.com/300/300" alt="randomly generated image of the zany Nic Cage"></div>
    <div class="square"><img src="http://fillmurray.com/300/300" alt="randomly generated image of the fabulous Bill Murray"></div>
    <div class="square"><img src="http://placecage.com/300/300" alt="randomly generated image of the zany Nic Cage"></div>
    <div class="square"><img src="http://fillmurray.com/300/300" alt="randomly generated image of the fabulous Bill Murray"></div>
    <div class="square"><img src="http://placecage.com/300/300" alt="randomly generated image of the zany Nic Cage"></div>
    <div class="square"><img src="http://fillmurray.com/300/300" alt="randomly generated image of the fabulous Bill Murray"></div>
    <div class="square"><img src="http://placecage.com/300/300" alt="randomly generated image of the zany Nic Cage"></div>
    <div class="square"><img src="http://fillmurray.com/300/300" alt="randomly generated image of the fabulous Bill Murray"></div>
    <div class="square"><img src="http://placecage.com/300/300" alt="randomly generated image of the zany Nic Cage"></div>
    <div class="square"><img src="http://fillmurray.com/300/300" alt="randomly generated image of the fabulous Bill Murray"></div>
  </div>
</section>
