{{ attach_library('theme_name/text-inputs') }}
<div class="text-inputs">
  <form>
    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="textfield">
    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" name="textfield" aria-describedby="my-error-message" required>
    <input type="submit" value="Submit">
  </form>
</div>
