{{ attach_library('theme_name/text-inputs') }}
<section class="text-inputs-section">
  <form>
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" name="textfield">
    <label for="last-name" class="required-field">Last Name</label>
    <input id="last-name" type="text" name="textfield" aria-describedby="my-error-message" required>
    <label for="address">Enter your street address</label>
    <textarea id="address" name="addresstext"></textarea>
    <input type="submit" value="Submit">
  </form>
</section>
