<section class="text-inputs-section">
  <form>
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" name="textfield">
    <label for="last-name" class="required-field">Last Name</label>
    <input id="last-name" type="text" name="textfield" aria-describedby="error-message" required>
    <div id="error-message" class="visuallyhidden">This field is required.</div>
    <label for="address">Enter your street address</label>
    <textarea id="address" name="addresstext"></textarea>
    <input type="submit" value="Submit">
  </form>
</section>
