// Text Inputs & Textarea
//
// <ul>
//  <li>Keep it simple - screen readers do not support multiple labels that are linked to the same form element.</li>
//  <li>Use labels for every input and make the `for=""` and `id=""` values match. IDs must be unique on each page, only one label can be associated to each unique form element.</li>
//  <li>Make required fields obvious by using an indicator - border color change, asterisk, description text, etc.</li>
//  <li>Fields with error validation should have `aria-describedby` to insure that the associated field level error message is read by assistive technology. If the error message has an `id="my-error-message"`, then the input should have `aria-describedby="my-error-message"`.</li>
// </ul>
//
// <div class="more-wrap"><div class="more-toggle"><h3>WCAG 2.0 Guidelines</h3></div><div class="more-content guidelines"><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-content-structure-separation-programmatic">1.3.1 Info and Relationships:</a> Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text. (Level A)<br><br><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-descriptive">2.4.6 Headings and Labels:</a> Headings and labels describe topic or purpose. (Level AA)<br><br><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-minimize-error-cues">3.3.2 Labels or Instructions:</a> Labels or instructions are provided when content requires user input. (Level A)<br><br><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-ensure-compat-rsv">4.1.2 Name, Role, Value:</a> For all user interface components (including but not limited to: form elements, links and components generated by scripts), the name and role can be programmatically determined; states, properties, and values that can be set by the user can be programmatically set; and notification of changes to these items is available to user agents, including assistive technologies. (Level A)</div></div>
//
//
//
// Markup: text-fields.twig
//
// Style guide: Forms.text-fields

// Import site utilities.
@import '../../global/utils/init';

[type='text'],
textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: $border-rd-sm;
  border: 2px solid $color-gallery;
  font-size: $padding-sm;
  min-height: 49px;
}

input:required,
textarea:required {

  &:focus {
    outline: auto 5px $color-cherry;
  }
}

textarea {
  min-height: $padding-xxl;
}

fieldset {
  padding: 1.75rem 1.5rem $padding-sm;
  border: 2px solid $color-gallery;
  border-radius: $border-rd-sm;
}

legend {
  font-weight: bold;
}

.required-field {

  &::after {
    content: '*';
    color: $color-cherry;
    display: inline-block;
  }
}
