// Link Focus
//
// <ul>
//  <li>List of bullets</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">Focus Visible</a> - Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible.</blockquote>
//
//
//
// Markup: link-focus.twig
//
// Style guide: Structure.link-focus

// Import site utilities.
@import '../../global/utils/init';

.links {
  //to-do
}
