// Audio (draft)
//
// <ul>
//  <li>Build your media with accessibility in mind! It is much easier to work accessibility into the beginning than trying to tack it on later. This is true of all components, but especially for media components.</li>
//  <li>Make sure your player is accessible and includes control elements to pause, stop, and play your media.</li>
//  <li>Do not auto-play your media. This can cause confusion as well as annoyance.</li>
//  <li>Make sure your media has alternative methods to get to the content. For example, add captions to your videos and/or provide a transcript for your users to read.</li>
// </ul>
//
// <blockquote>There are a ton of WCAG Guidelines for media on websites for a reason...there are a lot of factors to consider. Don't let that scare you though, there are also some easy wins. Just including some alternatives to the media you present (ex. transcript for a video) is half the battle.</blockquote>
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#audio_res">Resources</a></h3><div id="audio_res" class="atblock__panel"><ul><li><a href="https://www.w3.org/2008/06/video-notes" target="_blank">Multimedia Accessibility FAQ</a></li></ul></div></section>
//
//
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#audio_guide">WCAG 2.0 Guidelines</a></h3><div id="audio_guide" class="atblock__panel guidelines"><p><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv-all" target="_blank">1.1.1 Non-text Content</a>: All non-text content that is presented to the user has a text alternative that serves the equivalent purpose (some exceptions). (Level A)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#media-equiv-av-only-alt" target="_blank">1.2.1 Audio-only and Video-only (Prerecorded)</a>: Prerecorded Video-only: Either an alternative for time-based media or an audio track is provided that presents equivalent information for prerecorded video-only content. (Level A)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#media-equiv-captions" target="_blank">1.2.2 Captions (Prerecorded)</a>: Captions are provided for all prerecorded audio content in synchronized media, except when the media is a media alternative for text and is clearly labeled as such. (Level A)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#media-equiv-audio-desc" target="_blank">1.2.3 Audio Description or Media Alternative (Prerecorded)</a>: An alternative for time-based media or audio description of the prerecorded video content is provided for synchronized media, except when the media is a media alternative for text and is clearly labeled as such. (Level A)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#media-equiv-sign" target="_blank">1.2.6 Sign Language (Prerecorded)</a>: Sign language interpretation is provided for all prerecorded audio content in synchronized media. (Level AAA)</p></div><div class="markup"></div></section>
//
//
//
// Markup: audio.twig
//
// Style guide: Media.audio

// Import site utilities.
@import '../../global/utils/init';

// to-do
