<section class="audio-section">
  <div class="audio">
    <audio src="../dist/assets/test.mp3" controls>
      <p>Your user agent does not support the HTML5 Audio element.</p>
    </audio>
  </div>
</section>
