<section class="tables-section">
  <h3>Option #1: Table with one header</h3>
  <table class="tables" cellspacing="0" summary="Information for surprise party">
  	<tr>
  		<th>Date</th>
  		<th>Event</th>
  		<th>Venue</th>
  	</tr>
  	<tr>
  		<td>3 February</td>
  		<td>Surprise Party</td>
  		<td>Party Town USA</td>
  	</tr>
  </table>
</section>
<section class="tables-section2">
  <div class="break"></div>
  <h3>Option #2: Table with two headers and caption</h3>
  <table class="tables" cellspacing="0">
    <caption>Color Names in Multiple Languages</caption>
    <tr class="headers">
      <th scope="col">Color</th>
      <th scope="col">French</th>
      <th scope="col">German</th>
      <th scope="col">Italian</th>
      <th scope="col">Portuguese</th>
      <th scope="col">Spanish</th>
    </tr>
    <tr>
      <th scope="row">Red</th>
      <td>rouge</td>
      <td>rot</td>
      <td>rosso</td>
      <td>vermelho</td>
      <td>rojo</td>
    </tr>
    <tr>
      <th scope="row">Orange</th>
      <td>orange</td>
      <td>orange</td>
      <td>arancione</td>
      <td>laranja</td>
      <td>anaranjado</td>
    </tr>
    <tr>
      <th scope="row">Yellow</th>
      <td>jaune</td>
      <td>gelb</td>
      <td>giallo</td>
      <td>amarelo</td>
      <td>amarillo</td>
    </tr>
    <tr>
      <th scope="row">Green</th>
      <td>vert</td>
      <td>grün</td>
      <td>verde</td>
      <td>verde</td>
      <td>verde</td>
    </tr>
    <tr>
      <th scope="row">Blue</th>
      <td>bleu</td>
      <td>blau</td>
      <td>blu</td>
      <td>azul</td>
      <td>azul</td>
    </tr>
    <tr>
      <th scope="row">Purple</th>
      <td>pourpre</td>
      <td>lila</td>
      <td>porpora</td>
      <td>roxo</td>
      <td>morado</td>
    </tr>
  </table>
</section>
<section class="tables-section3">
  <div class="break"></div>
  <h3>Option #3: Complex Table</h3>
  <table class="tables" cellspacing="0">
  	<tbody>
  		<tr class="headers">
  			<th id="co1" headers="blank">Kingdom</th>
  			<th id="co2" headers="blank">Phylum</th>
  			<th id="co3" headers="blank">Class</th>
  			<th id="co4" headers="blank">Order</th>
  		</tr>
  		<tr>
  			<td headers="co1">Animalia</td>
  			<td headers="co2">Chordata</td>
  			<td headers="co3">Mammalia</td>
  			<td headers="co4">Carnivora</td>
  		</tr>
  		<tr>
  			<td headers="co1">Animalia</td>
  			<td headers="co2">Arthropoda</td>
  			<td headers="co3">Insecta</td>
  			<td headers="co4">Lepidoptera</td>
  		</tr>
  		<tr>
  			<td headers="co1">Animalia</td>
  			<td headers="co2">Echinodermata</td>
  			<td headers="co3">Asteroidea</td>
  			<td headers="co4">Forcipulatida</td>
  		</tr>
		  <tr class="headers">
        <th id="co5" headers="blank">Family</th>
  			<th id="co6" headers="blank">Genus</th>
  			<th id="co7" headers="blank">Species</th>
  			<th id="co8" headers="blank">Common</th>
  		</tr>
  		<tr>
  			<td headers="co5">Felidae</td>
  			<td headers="co6">Panthera</td>
  			<td headers="co7">Panthera tigris</td>
  			<td headers="co8">Tiger</td>
  		</tr>
  		<tr>
  			<td headers="co5">Danaidae</td>
  			<td headers="co6">Dannaus</td>
  			<td headers="co7">Plexippus</td>
  			<td headers="co8">Monarch Butterfly</td>
  		</tr>
  		<tr>
  			<td headers="co5">Asteriidae</td>
  			<td headers="co6">Asterias</td>
  			<td headers="co7">Asterias amurensis</td>
  			<td headers="co8">Northern Pacific seastar</td>
  		</tr>
  	</tbody>
  </table>
</section>
<section class="tables-section4">
  <div class="break"></div>
  <h3>Option #4: Responsive Table</h3>
  <table class="responsive-table" id="tables">
    <tbody>
      <tr align="center">
        <th>House Side</th>
        <th>House Address</th>
        <th>Other</th>
        <th>Other Address</th>
        <th>Senate Side</th>
        <th>Senate Address</th>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Rayburn House Office Building</strong></td>
        <td style="text-align: left;">50 Independence Ave, SW Washington, DC 20515</td>
        <td style="text-align: left;">Library of Congress</td>
        <td style="text-align: left;">101 Independence Ave SE, Washington, DC 20540</td>
        <td style="text-align: left;">Russell Senate Office Building</td>
        <td style="text-align: left;">2 Constitution Ave NE, Washington, DC 20002</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Longworth House Office Building</strong></td>
        <td style="text-align: left;">15 Independence Ave, SW Washington, DC 20515</td>
        <td style="text-align: left;">Supreme Court</td>
        <td style="text-align: left;">1 First Street, NE Washington, DC 20543</td>
        <td style="text-align: left;">Dirksen Senate Office Building</td>
        <td style="text-align: left;">100 Constitution Ave NE Washington, DC 20002</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Cannon House Office Building</strong></td>
        <td style="text-align: left;">25 Independence Ave, SE Washington, DC 20003</td>
        <td style="text-align: left;">Capitol Visitors Center</td>
        <td style="text-align: left;">First &amp; East Capitol St SE, Washington, DC 20004</td>
        <td style="text-align: left;">Hart Senate Office Building</td>
        <td style="text-align: left;">150 Constitution Ave NE Washington, DC 20510</td>
      </tr>
      <tr><td style="text-align: left;"><strong>Capitol South Metro</strong></td>
        <td style="text-align: left;">307 First Street SE Washington, DC 20003</td>
        <td style="text-align: left;">Federal Center Metro</td>
        <td style="text-align: left;">401 3rd Street SW Washington, DC 20024</td>
        <td style="text-align: left;">Union Station Metro</td>
        <td style="text-align: left;">701 First St. NE Washington, DC 20002</td>
      </tr>
    </tbody>
  </table>
</section>
