<section class="tables-section">
  <h3>Option #1: Table with one header</h3>
  <table class="tables" cellspacing="0" summary="Information for surprise party">
  	<tr>
  		<th>Date</th>
  		<th>Event</th>
  		<th>Venue</th>
  	</tr>
  	<tr>
  		<td>3 February</td>
  		<td>Surprise Party</td>
  		<td>Party Town USA</td>
  	</tr>
  </table>
  <div class="break"></div>
  <h3>Option #2: Table with two headers and caption</h3>
  <table class="tables" cellspacing="0">
    <caption>Color Names in Multiple Languages</caption>
    <tr  class="headers">
      <th scope="col">Color</th>
      <th scope="col">French</th>
      <th scope="col">German</th>
      <th scope="col">Italian</th>
      <th scope="col">Portuguese</th>
      <th scope="col">Spanish</th>
    </tr>
    <tr>
      <th scope="row">Red</th>
      <td>rouge</td>
      <td>rot</td>
      <td>rosso</td>
      <td>vermelho</td>
      <td>rojo</td>
    </tr>
    <tr>
      <th scope="row">Orange</th>
      <td>orange</td>
      <td>orange</td>
      <td>arancione</td>
      <td>laranja</td>
      <td>anaranjado</td>
    </tr>
    <tr>
      <th scope="row">Yellow</th>
      <td>jaune</td>
      <td>gelb</td>
      <td>giallo</td>
      <td>amarelo</td>
      <td>amarillo</td>
    </tr>
    <tr>
      <th scope="row">Green</th>
      <td>vert</td>
      <td>grün</td>
      <td>verde</td>
      <td>verde</td>
      <td>verde</td>
    </tr>
    <tr>
      <th scope="row">Blue</th>
      <td>bleu</td>
      <td>blau</td>
      <td>blu</td>
      <td>azul</td>
      <td>azul</td>
    </tr>
    <tr>
      <th scope="row">Purple</th>
      <td>pourpre</td>
      <td>lila</td>
      <td>porpora</td>
      <td>roxo</td>
      <td>morado</td>
    </tr>
  </table>
  <div class="break"></div>
  <h3>Option #3: Complex Table</h3>
  <table class="tables" cellspacing="0">
  	<tbody>
  		<tr class="headers">
  			<th id="co1" headers="blank">Kingdom</th>
  			<th id="co2" headers="blank">Phylum</th>
  			<th id="co3" headers="blank">Class</th>
  			<th id="co4" headers="blank">Order</th>
  		</tr>
  		<tr>
  			<td headers="co1">Animalia</td>
  			<td headers="co2">Chordata</td>
  			<td headers="co3">Mammalia</td>
  			<td headers="co4">Carnivora</td>
  		</tr>
  		<tr>
  			<td headers="co1">Animalia</td>
  			<td headers="co2">Arthropoda</td>
  			<td headers="co3">Insecta</td>
  			<td headers="co4">Lepidoptera</td>
  		</tr>
  		<tr>
  			<td headers="co1">Animalia</td>
  			<td headers="co2">Echinodermata</td>
  			<td headers="co3">Asteroidea</td>
  			<td headers="co4">Forcipulatida</td>
  		</tr>
		  <tr class="headers">
        <th id="co5" headers="blank">Family</th>
  			<th id="co6" headers="blank">Genus</th>
  			<th id="co7" headers="blank">Species</th>
  			<th id="co8" headers="blank">Common</th>
  		</tr>
  		<tr>
  			<td headers="co5">Felidae</td>
  			<td headers="co6">Panthera</td>
  			<td headers="co7">Panthera tigris</td>
  			<td headers="co8">Tiger</td>
  		</tr>
  		<tr>
  			<td headers="co5">Danaidae</td>
  			<td headers="co6">Dannaus</td>
  			<td headers="co7">Plexippus</td>
  			<td headers="co8">Monarch Butterfly</td>
  		</tr>
  		<tr>
  			<td headers="co5">Asteriidae</td>
  			<td headers="co6">Asterias</td>
  			<td headers="co7">Asterias amurensis</td>
  			<td headers="co8">Northern Pacific seastar</td>
  		</tr>
  	</tbody>
  </table>
</section>
