<section id="no-more-tables" class="tables-section">
  <h3>Option #1: Table with one header</h3>
  <table class="tables" cellspacing="0" summary="Information for surprise party">
    <thead>
    	<tr>
    		<th>Date</th>
    		<th>Event</th>
    		<th>Venue</th>
    	</tr>
  	</thead>
    <tbody>
    	<tr>
    		<td data-title="Date">12 February</td>
    		<td data-title="Event">Surprise Party</td>
    		<td data-title="Venue">Party Town USA</td>
    	</tr>
    </tbody>
  </table>
  <div class="break"></div>
  <h3>Option #2: Table with two headers and scrolling</h3>
  <table class="tables" cellspacing="0" summary="Color names for red, orange, yellow, green, blue, purple in multiple languages">
    <caption>Color Names in Multiple Languages</caption>
    <thead>
      <tr>
        <th scope="col">Color</th>
        <th scope="col">French</th>
        <th scope="col">German</th>
        <th scope="col">Italian</th>
        <th scope="col">Portuguese</th>
        <th scope="col">Spanish</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Red</th>
        <td>rouge</td>
        <td>rot</td>
        <td>rosso</td>
        <td>vermelho</td>
        <td>rojo</td>
      </tr>
      <tr>
        <th scope="row">Orange</th>
        <td>orange</td>
        <td>orange</td>
        <td>arancione</td>
        <td>laranja</td>
        <td>anaranjado</td>
      </tr>
      <tr>
        <th scope="row">Yellow</th>
        <td>jaune</td>
        <td>gelb</td>
        <td>giallo</td>
        <td>amarelo</td>
        <td>amarillo</td>
      </tr>
      <tr>
        <th scope="row">Green</th>
        <td>vert</td>
        <td>grün</td>
        <td>verde</td>
        <td>verde</td>
        <td>verde</td>
      </tr>
      <tr>
        <th scope="row">Blue</th>
        <td>bleu</td>
        <td>blau</td>
        <td>blu</td>
        <td>azul</td>
        <td>azul</td>
      </tr>
      <tr>
        <th scope="row">Purple</th>
        <td>pourpre</td>
        <td>lila</td>
        <td>porpora</td>
        <td>roxo</td>
        <td>morado</td>
      </tr>
    </tbody>
  </table>
  <div class="break"></div>
  <h3>Option #3: Table with two headers</h3>
  <table class="tables" cellspacing="0" summary="Animal taxonomy">
  	<thead>
  		<tr>
  			<th>Kingdom</th>
  			<th>Phylum</th>
  			<th>Class</th>
  			<th>Order</th>
  			<th>Family</th>
  			<th>Genus</th>
  			<th>Species</th>
  			<th>Common Name</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td data-title="Kingdom">Animalia</td>
  			<td data-title="Phylum">Chordata</td>
  			<td data-title="Class">Mammalia</td>
  			<td data-title="Order">Carnivora</td>
  			<td data-title="Family">Felidae</td>
  			<td data-title="Genus">Panthera</td>
  			<td data-title="Species">Panthera tigris</td>
  			<td data-title="Common Name">Tiger</td>
  		</tr>
  		<tr>
  			<td data-title="Kingdom">Animalia</td>
  			<td data-title="Phylum">Arthropoda</td>
  			<td data-title="Class">Insecta</td>
  			<td data-title="Order">Lepidoptera</td>
  			<td data-title="Family">Danaidae</td>
  			<td data-title="Genus">Dannaus</td>
  			<td data-title="Species">Plexippus</td>
  			<td data-title="Common Name">Monarch Butterfly</td>
  		</tr>
  		<tr>
  			<td data-title="Kingdom">Animalia</td>
  			<td data-title="Phylum">Echinodermata</td>
  			<td data-title="Class">Asteroidea</td>
  			<td data-title="Order">Forcipulatida</td>
  			<td data-title="Family">Asteriidae</td>
  			<td data-title="Genus">Asterias</td>
  			<td data-title="Species">Asterias amurensis</td>
  			<td data-title="Common Name">Northern Pacific seastar</td>
  		</tr>
  	</tbody>
  </table>
</section>
