// Tables (draft)
//
// <ul>
//  <li>To create an accessible table, the top row of column headers (th) are placed in a thead. Each one receives the scope="col" attribute. The first non-actionable (meaning that doesn't contain a checkbox or menu) column in each row should be marked as a th with a scope="row" attribute.</li>
// </ul>
//
// <div class="more-wrap"><div class="more-toggle"><h3>WCAG 2.0 Guidelines</h3></div><div class="more-content guidelines"><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv-all" target="_blank">1.1.1 Non-text Content</a>: All non-text content that is presented to the user has a text alternative that serves the equivalent purpose (some exceptions). (Level A)<br><br><strong>Note:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.<br><br><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation" target="_blank">Info and Relationships</a> - Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.<br><br><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation" target="_blank">Meaningful Sequence</a> - When the sequence in which content is presented affects its meaning, a correct reading sequence can be programmatically determined.</div></div><div class="markup"></div>
//
//
//
// Markup: tables.twig
//
// Style guide: Structure.tables

// Import site utilities.
@import '../../global/utils/init';

// to-do
