// Buttons
//
// Default button elements, along with various modifier
// classes for different colors, sizes, etc. The `.buttons`
// wrapper is used to display multiple buttons next to each
// other, and includes modifiers for different alignments.
//
//  A11y tip: A button doesn't need anything special to work! ARIA's role="button" is already assigned natively.
//
// .buttons--center - modifier for centered buttons
// .buttons--right - modifier for right aligned buttons
//
// Markup: buttons.twig
//
// Style guide: Components.buttons

// Import site utilities.
@import '../../global/utils/init';

button,
.button {
  @include button;
  position: relative;
  margin-top: $padding-sm;
}

.button--outline {
  @include button-outline;
  position: relative;
  margin-top: $padding-sm;
}

.buttons--center {
  text-align: center;
  clear: both;
  position: relative;
  margin-top: $padding-sm;
}

.buttons--right {
  text-align: right;
  clear: both;
}

.buttons--left {
  text-align: left;
  clear: both;
}
