<div class="buttons {{modifier_class}}">
  <form action="" method="post">
    <button type="submit" href="#" class="button">Button</button>
    <button type="submit" href="#" class="button button--outline">Button Outline</button>
    <a href="#" class="button" role="button">Read More<span class="visuallyhidden">about the topic this article is pertaining to.</span></a>
  </form>
</div>
