// Buttons
//
// <ul>
//  <li>A `<button>` doesn't need anything special to work. ARIA's role="button" is already assigned natively.</li>
//  <li>If you are using a link as a button, add the `role="button"` attribute.</li>
//  <li>Add `class="visuallyhidden"` with descriptive text to give more context to the button's purpose.</li>
//  <li>If your button is created entirely with an image/icon, you must include `alt=""` descriptions. If your button includes an image/icon that is decorative, you do not need an `alt=""` description.
// </ul>
//
// <div class="more-wrap"><div class="more-toggle"><h3>WCAG 2.0 Guidelines</h3></div><div class="more-content guidelines"><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv-all" target="_blank">1.1.1 Non-text Content</a>: All non-text content that is presented to the user has a text alternative that serves the equivalent purpose (some exceptions). (Level A)<br><br><strong>Note:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.</div></div><div class="markup"></div>
//
// .buttons--center - modifier for centered buttons
// .buttons--right - modifier for right aligned buttons
//
// Markup: buttons.twig
//
// Style guide: General.buttons

// Import site utilities.
@import '../../global/utils/init';

[type='submit'],
button {
  @include button;
}

.button {
  @include button;
  line-height: 0.9;
}

.button--outline {
  @include button-outline;
}

.buttons--center {
  text-align: center;
  clear: both;
}

.buttons--right {
  text-align: right;
  clear: both;
}

.buttons--left {
  text-align: left;
  clear: both;
}

.button-icon {
  @include button;
  line-height: 0.9;
  padding: 0.8rem $padding-md 0.8rem ($padding-md + $padding-xsm);

  &::before {
    float: left;
    text-align: center;
    font-size: 1.5rem;
    margin: -0.25rem $padding-xsm $padding-xsm (-$padding-sm);
    padding: 0 0.2rem;
    pointer-events: none;
  }

  &.button--outline {
    @include button-outline;
    line-height: 0.9;
    padding: 0.8rem $padding-md 0.8rem ($padding-md + $padding-xsm);
  }

  &.heart {

    &::before {
      content: '\2764';
      color: $color-ballet-slipper;
    }

    &:hover::before {
      color: $color-sea-glass;
    }
  }

  &.wheelchair {

    &::before {
      content: '\267F';
      color: $color-midnight;
    }
  }
}

