<section class="buttons-section">
  <button class="button" id="button_state" aria-pressed="false" aria-describedby="button-example">Button</button>
  <span id="button-example" class="visuallyhidden">Example button markup</span>
  <button type="button" class="button-icon heart button--outline" id="button_like" aria-pressed="false" aria-describedby="like-button-example" aria-label="heart icon">Like</button>
  <span id="like-button-example" class="visuallyhidden">Like example button markup</span>
  <button class="button-icon wheelchair" id="button_all" aria-pressed="false" aria-describedby="a11y-button-example" aria-label="wheelchair icon">A11Y<span class="visuallyhidden">all the things.</span><span id="a11y-button-example" class="visuallyhidden">A11y example button markup</span></button>
  <input type="image" class="magnifyingglass" id="button_search" aria-pressed="false" src="../assets/searchicon.png" alt="Search" />
</section>
