// Buttons
//
// <ul>
//  <li>A `<button>` doesn't need anything special to work. ARIA's role="button" is already assigned natively.</li>
//  <li>If you are using a link as a button, add the `role="button"` attribute.</li>
//  <li>Add `class="visuallyhidden"` with descriptive text to give more context to the button's purpose.</li>
//  <li>If your button is created entirely with an image/icon, you must include `alt=""` descriptions. If your button includes an image/icon that is decorative, you do not need an `alt=""` description.
// </ul>
//
// <blockquote><h3>Guidelines</h3><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv" target="_blank">Guideline 1.1 - Text Alternatives</a>: Provide text alternatives for any non-text content so that it can be changed into other forms people need, such as large print, braille, speech, symbols or simpler language. <strong>Note:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.</blockquote>
//
// .buttons--center - modifier for centered buttons
// .buttons--right - modifier for right aligned buttons
//
// Markup: buttons.twig
//
// Style guide: General.buttons

// Import site utilities.
@import '../../global/utils/init';

[type='submit'],
button {
  @include button;
}

.button--outline {
  @include button-outline;
}

a.button {
  @include button;
  line-height: 0.9;
}

.buttons--center {
  text-align: center;
  clear: both;
}

.buttons--right {
  text-align: right;
  clear: both;
}

.buttons--left {
  text-align: left;
  clear: both;
}

.button-icon {
  @include button;
  line-height: 0.9;
  padding: 0.8rem $padding-md 0.8rem ($padding-md + $padding-xsm);

  &::before {
    float: left;
    width: $padding-sm;
    text-align: center;
    font-size: 1.5rem;
    margin: -0.25rem $padding-sm 0 (-$padding-sm);
    padding: 0 0.2rem;
    pointer-events: none;
  }

  &.heart {

    &::before {
      content: '\2764';
      color: $color-ballet-slipper;
    }

    &:hover::before {
      color: $color-sea-glass;
    }
  }

  &.wheelchair {

    &::before {
      content: '\267F';
      color: $color-midnight;
    }
  }
}

