{{ attach_library('theme_name/buttons') }}
<section class="buttons-section">
  <div class="buttons {{modifier_class}}">
    <form action="" method="post">
      <button type="submit" href="#" class="button">Regular Button</button>
      <button type="submit" href="#" class="button button--outline">Outline Button</button>
      <a href="#" class="button" role="button">Read More<span class="visuallyhidden">about the topic this article is pertaining to.</span></a>
      <a href="#" class="button-icon heart button--outline" role="button">Like<span class="visuallyhidden">the topic this button follows.</span></a>
      <a href="#" class="button-icon wheelchair" role="button">A11Y<span class="visuallyhidden">all the things.</span></a>
    </form>
  </div>
</section>
