<section class="buttons-section">
  <button type="button" class="button">Regular button</button>
  <button type="button" class="button-icon heart button--outline">Like</button>
  <a href="#" class="button-icon wheelchair" type="button" role="button" id="button" aria-pressed="false">A11Y<span class="visuallyhidden">all the things.</span></a>
  <a href="#" class="button--outline" role="button" type="button" role="button" id="print" aria-pressed="false">Print Page</a>
  <a href="#" class="button" type="button" role="button" id="alert1" aria-pressed="false">Tell me something nice</a>
</section>
