{{ attach_library('theme_name/buttons') }}
<section class="buttons">
  <div class="buttons {{modifier_class}}">
    <form action="" method="post">
      <button type="submit" href="#" class="button">Regular Button</button>
      <button type="submit" href="#" class="button button--outline">Outline Button</button>
      <a href="#" class="button" role="button">Link Button<span class="visuallyhidden">about the topic this article is pertaining to.</span></a>
    </form>
  </div>
</section>
