<section class="buttons-section">
  <button class="button" id="button_state" aria-pressed="false" aria-describedby="item_title">Regular Button</button>
  <button class="button-icon wheelchair button--outline" id="button_all" aria-pressed="false" aria-describedby="item_title">A11Y<span class="visuallyhidden">all the things.</span></button>
  <input type="image" class="magnifyingglass" id="button_search" aria-pressed="false" src="../assets/searchicon.png" alt="Search" />
</section>
