// Buttons
//
// <ul>
//  <li>A `<button>` doesn't need anything special to work. ARIA's role="button" is already assigned natively.</li>
//  <li>If you are using a link as a button, add the `role="button"` attribute.</li>
//  <li>Add `class="visuallyhidden"` with descriptive text to give more context to the button's purpose.</li>
// </ul>
//
// <blockquote><h3>Guidelines</h3><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv" target="_blank">Guideline 1.1 - Text Alternatives</a>: Provide text alternatives for any non-text content so that it can be changed into other forms people need, such as large print, braille, speech, symbols or simpler language.<br><br>If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.</blockquote>
//
// .buttons--center - modifier for centered buttons
// .buttons--right - modifier for right aligned buttons
//
// Markup: buttons.twig
//
// Style guide: Forms.buttons

// Import site utilities.
@import '../../global/utils/init';

[type='submit'] {
  @include button;
}

button {
  @include button;
  position: relative;
  margin-top: $padding-sm;
}

.button {
  @include button;
  position: relative;
  margin-top: $padding-sm;
  padding-top: 0.7rem;
}

.button--outline {
  @include button-outline;
  position: relative;
  margin-top: $padding-sm;
}

.buttons--center {
  text-align: center;
  clear: both;
  position: relative;
  margin-top: $padding-sm;
}

.buttons--right {
  text-align: right;
  clear: both;
}

.buttons--left {
  text-align: left;
  clear: both;
}
