<section class="buttons-section">
  <div class="buttons {{modifier_class}}">
    <form action="" method="post">
      <button type="button" href="#" class="button">Regular Button</button>
      <button type="button" href="#" class="button button--outline">Outline Button</button>
      <button type="button" href="#" class="button-icon wheelchair">A11Y<span class="visuallyhidden">all the things.</span></button>
      <button type="button" href="#" class="button-icon heart button--outline">Like<span class="visuallyhidden">the topic this button follows.</span></button>
    </form>
  </div>
</section>
