<section class="toggle-section">
  <toggle type="toggle" class="toggle">Regular toggle</toggle>
  <toggle type="toggle" class="toggle-icon heart toggle--outline">Like</toggle>
  <a href="#" class="toggle-icon wheelchair" type="toggle" role="toggle" id="toggle" aria-pressed="false">A11Y<span class="visuallyhidden">all the things.</span></a>
  <a href="#" class="toggle--outline" role="toggle" type="toggle" role="toggle" id="print" aria-pressed="false">Print Page</a>
  <a href="#" class="toggle" type="toggle" role="toggle" id="alert1" aria-pressed="false">Tell me something nice</a>
</section>
