<section class="buttons-section">
  <button class="button" id="button_state" aria-pressed="false" aria-describedby="Regular button example">Regular Button</button>
  <button type="button" class="button-icon heart button--outline" id="button_like" aria-pressed="false" aria-describedby="Like button example" aria-label="heart icon">Like</button>
  <button class="button-icon wheelchair" id="button_all" aria-pressed="false" aria-describedby="A11y test button example" aria-label="wheelchair icon">A11Y<span class="visuallyhidden">all the things.</span></button>
  <input type="image" class="magnifyingglass" id="button_search" aria-pressed="false" src="../assets/searchicon.png" alt="Search" />
</section>
