<section class="buttons-section">
  <div class="buttons {{modifier_class}}">
    <button type="button" class="button">Regular Button</button>
    <a href="#" class="button-icon heart button--outline" tabindex="0" role="button" id="toggle" aria-pressed="false">Like</span></a>
    <a href="#" class="button-icon wheelchair" type="button" role="button" tabindex="0" id="toggle" aria-pressed="false">A11Y<span class="visuallyhidden">all the things.</span></a>
    <div class="button--outline" role="button" type="button" role="button" tabindex="0" id="print" aria-pressed="false">Print Page</div>
    <a href="#" class="button" type="button" role="button" tabindex="0" id="alert1" aria-pressed="false">Tell me something nice</a>
  </div>
</section>
