{{ attach_library('theme_name/references') }}
<section class="references-section">
  <div class="references">
    <h2>ARIA Labels</h2>
    <ul>
      <li><a href="http://www.last-child.com/aria-labelledby-on-lists/">ARIA Labelledby on Lists</a></li>
      <li><a href="http://www.w3.org/TR/2014/NOTE-WCAG20-TECHS-20140408/ARIA8#ARIA8-examples">Describing the purpose of a link in HTML using aria-label</a></li>
    </ul>
    <div class="break"></div>
    <h2>ARIA Landmark Rules</h2>
    <ul>
      <li><a href="http://www.washington.edu/accessibility/web/landmarks/">Washington U Landmark Rules</a></li>
    </ul>
    <div class="break"></div>
    <h2>Scalable vector graphics (SVGs)</h2>
    <ul>
      <li><a href="https://www.sitepoint.com/tips-accessible-svg">Tips for Creating Accessible SVG</a></li>
      <li><a href="https://css-tricks.com/accessible-svgs">Accessible SVGs</li>
    </ul>
  </div>
  <p>To-do: add dyslexic font, color contrast option, back to top</p>
</section>
