// Highlight Card
//
// Markup: cards-highlight-blocks.twig
//
// Style guide: Cards.cards-highlight-blocks

// Import site utilities.
@import '../../global/utils/init';

.highlight-blocks {
  @include clearfix;
  margin-bottom: $padding-xxl;

  .three-photos {
    @include clearfix;
    margin: 0 auto;
    padding: $padding-md $padding-md $padding-lg;
    position: relative;
    text-align: center;

    @include breakpoint($bp-sm) {
      max-width: 400px;
    }

    @include breakpoint($bp-md) {
      max-width: 1010px;
      padding: 0 0 $padding-md-lg $padding-sm;
    }

    li {
      list-style: none;
      margin-bottom: $padding-xl;
    }

    .col {
      float: none;
      width: 100%;

      .image-overlay::before {
        border-radius: $border-rd-sm;
      }

      .highlight__img-overlay {
        text-transform: uppercase;
        color: $color-white;
        margin-top: -64px;
        padding: $padding-md;
        background: $color-midnight;
        opacity: 0.75;
        border-radius: $border-rd-sm;
        width: 100%;
        max-width: 860px;
        position: absolute;
        bottom: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include breakpoint($bp-xsm) {
          border-radius: 0 0 $border-rd-sm $border-rd-sm;
          height: auto;
        }
      }

      .highlight__image {
        max-width: 770px;
        width: 100%;
        margin: auto;
        position: relative;

        img {
          border-radius: $border-rd-sm;
          width: 100%;
          min-height: 125px;
          border: 0;
        }
      }

      p {
        text-transform: uppercase;
      }

      @include breakpoint($bp-md) {
        float: left;
        width: 29%;
        margin: 2%;
      }
    }
  }
}
