<section class="cards teaser teaser--full section">
  <div class="l-center">
    <div class="teaser__content">
      <div class="teaser__header">
        <h2 class="teaser__title">Stopping by Woods on a Snowy Evening</h2>
        <h3 class="teaser__sub-title">Robert Frost</h3>
      </div>
      <div class="teaser__description">
        <p>Whose woods these are I think I know.<br>
        His house is in the village, though;<br>
        He will not see me stopping here<br>
        To watch his woods fill up with snow.<br><br>

        My little horse must think it queer<br>
        To stop without a farmhouse near<br>
        Between the woods and frozen lake<br>
        The darkest evening of the year.<br><br>

        He gives his harness bells a shake<br>
        To ask if there is some mistake.<br>
        The only other sound's the sweep<br>
        Of easy wind and downy flake.<br><br>

        The woods are lovely, dark, and deep.<br>
        But I have promises to keep,<br>
        And miles to go before I sleep,<br>
        And miles to go before I sleep.<p>
      </div>
      <div class="teaser__buttons buttons buttons--center">
        <a href="https://en.wikipedia.org/wiki/Robert_Frost" class="button">Learn more about Robert Frost</a>
      </div>
    </div>
  </div>
</section>