<section class="cards teaser section">
  <div class="l-center">
    <div class="teaser__content">
      <div class="teaser__header">
        <h2 class="teaser__title">Teaser Title</h2>
        <h3 class="teaser__sub-title">Teaser Subtitle</h3>
      </div>
      <div class="teaser__description">
        <p>In convallis euismod nibh a ornare. Integer vitae ultrices lectus, quis semper leo. Sed tempus massa vel arcu dapibus tempus. Quisque dignissim ac diam et auctor. In hac habitasse platea dictumst. Vestibulum ut tellus eu magna varius tempus. Sed vitae scelerisque odio, ut tempor dolor. Vivamus non ultrices nisl. Donec maximus vehicula consequat. Integer sed fermentum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p>
      </div>
      <div class="teaser__buttons buttons buttons--center">
        <a href="#" class="button">Learn more<span class="element-invisible"> about this teaser</span></a>
      </div>
    </div>
    <div class="teaser__image">
      <img src="http://placebear.com/400/300" alt="Alternate text related to the image/video"/>
    </div>
  </div>
</section>