// Teaser Card
//
// Markup: cards-teaser.twig
//
// Style guide: Cards.cards-teaser
//
// Import site utilities.
@import '../../global/utils/init';

.teaser {
  position: relative;
  padding: $padding-md;
  text-align: center;

  @include breakpoint($bp-sm) {
    padding: $padding-lg $padding-md;
  }

  .l-center {
    @include clearfix;
  }

  h3 {
    margin-bottom: $padding-xsm;
  }
}

.teaser__content {
  z-index: $zi-low;
  position: relative;
  max-width: 1020px;
  margin: auto;
  padding: $padding-md 0;
}

.teaser__title {
  padding: $padding-sm;
  margin: $padding-md-lg;
  text-align: center;
}

.teaser__sub-title {
  font-weight: bold;
  text-transform: capitalize;
  margin: $padding-md 0;
  float: left;

  &::after {
    content: ' | ';
    display: block;
    float: right;
    padding: 0 5px;
  }
}

.teaser__description {
  font-weight: bold;
  margin-bottom: $padding-md;
  max-width: 1020px;

  @include breakpoint($bp-sm) {
    margin-bottom: $padding-lg;
  }
}

.teaser__image {
  max-width: 640px;
  margin: 5rem auto 0;
  overflow: hidden;

  @include breakpoint($bp-md) {
    margin: 1.3rem auto;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 3px solid $color-silver;
    margin: 0 auto;
    border-radius: $border-rd-sm;
  }
}

.teaser--right,
.teaser--right-small,
.teaser--left,
.teaser--left-small {
  text-align: center;

  &::before {
    display: none;
  }

  .teaser__content {
    color: $color-manatee;
    text-shadow: none;
    padding: 0;
    margin-top: -$padding-md;
  }

  .teaser__title {
    text-align: center;
    padding: $padding-sm;
    margin: $padding-md-lg $padding-md-lg 0;
    order: 1;

    @include breakpoint($bp-md) {
      float: left;
      margin: $padding-md-lg 0 0;
      clear: both;
      padding: 0 0 $padding-sm;
      text-align: left;
    }
  }

  .teaser__description {
    text-align: center;
    width: 100%;

    @include breakpoint($bp-md) {
      float: left;
      clear: both;
      text-align: left;
      margin: $padding-md auto;
      padding-top: $padding-md;
      border-top: 2px solid $color-silver;
    }
  }

  .buttons--left {
    margin-bottom: $padding-lg;
    text-align: center;

    @include breakpoint($bp-md) {
      margin-bottom: $padding-md;
      text-align: left;
    }
  }

  .teaser__sub-title {
    order: 0;
    margin: 0;
  }
}

/* Grid layouts for each variant */
.teaser--left {
  width: 100%;

  .teaser__content {
    @include breakpoint($bp-md) {
      width: 50%;
      padding-left: $padding-md;
    }
  }

  .teaser__image {
    @include breakpoint($bp-md) {
      width: 50%;
      padding-right: $padding-md;

      img {
        margin: 0;
        float: left;
      }
    }
  }
}

.teaser--left-small {
  width: 100%;

  .teaser__content {
    @include breakpoint($bp-md) {
      width: 66%;
      padding-left: $padding-md;
    }
  }

  .teaser__image {
    @include breakpoint($bp-md) {
      width: 33%;
      padding-right: $padding-md;

      img {
        margin: 0;
        float: left;
      }
    }
  }
}

/* Right variants */
.teaser--right {
  width: 100%;

  .teaser__content {
    @include breakpoint($bp-md) {
      padding-right: $padding-md;
    }
  }

  .teaser__image {
    @include breakpoint($bp-md) {
      width: 50%;
      padding-left: $padding-md;

      img {
        margin: 0;
        float: right;
      }
    }
  }
}

.teaser--right-small {
  width: 100%;

  .teaser__content {
    @include breakpoint($bp-md) {
      width: 66%;
      padding-right: $padding-md;
    }
  }

  .teaser__image {
    @include breakpoint($bp-md) {
      width: 33%;
      padding-right: 0;
      padding-left: $padding-md;

      img {
        margin: 0;
        float: right;
      }
    }
  }
}

/* Variants */
.teaser--full {
  background: url('#{$asset-path}/snow.jpg') $color-cherry center no-repeat;
  background-size: cover !important; // sass-lint:disable-line no-important

  @include breakpoint($bp-sm) {
    padding: $padding-xl $padding-md;
  }

  &::before {
    display: block;
    content: '';
    background: rgba($color-white, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $zi-ground;
  }

  &.section--background--1 {
    background: $color-white;
  }

  .teaser__content {
    color: $color-manatee;
  }

  .teaser__title {
    padding: $padding-sm;
    text-align: center;
    margin: $padding-md 0;
  }

  .teaser__sub-title {
    text-transform: uppercase;
    margin: $padding-md 0;
  }

  .teaser__description {
    margin-bottom: $padding-lg;
  }

  .teaser__image {
    @include element-invisible;
  }
}
