// Field Sets
//
// <ul>
//  <li>words</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">Focus Visible</a> - Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible.</blockquote>
//
//
//
// Markup: field-sets.twig
//
// Style guide: Forms.field-sets

// Import site utilities.
@import '../../global/utils/init';

.field-sets {

  fieldset {
    margin: 2px;
    padding: $padding-sm 1.5rem;
    border: 1px solid $color-gallery;
    border-radius: 3px;
  }

  legend {
    font-weight: bold;
  }
}
