{{ attach_library('theme_name/field-sets') }}
<div class="field-sets">
	<field>
   <legend>What is your favorite color?</legend>
   <div>
   <input type="radio" name="color" value="Red" id="color_red">
   <label for="color_red">Red</label>
   </div>
   <div>
       <input type="radio" name="color" value="Green" id="color_green">
       <label for="color_green">Green</label>
     </div>
     <div>
       <input type="radio" name="color" value="Blue" id="color_blue">
       <label for="color_blue">Blue</label>
   </div>
 </field>
</div>
