<div class="section__content clearfix">
  <div class="card effect__click">
    <div class="card__front">
      <span class="card__text">front</span>
    </div>
    <div class="card__back">
      <span class="card__text">back</span>
    </div>
  </div><!-- /card -->
  <div class="card effect__click">
    <div class="card__front">
      <span class="card__text">front</span>
    </div>
    <div class="card__back">
      <span class="card__text">back</span>
    </div>
  </div><!-- /card -->
  <div class="card effect__click">
    <div class="card__front">
      <span class="card__text">front</span>
    </div>
    <div class="card__back">
      <span class="card__text">back</span>
    </div>
  </div><!-- /card -->
  <div class="card effect__click">
    <div class="card__front">
      <span class="card__text">front</span>
    </div>
    <div class="card__back">
      <span class="card__text">back</span>
    </div>
  </div>
</div>