// Cards
//
// Markup: cards.twig
//
// Style guide: Experimental.cards

// Import site utilities.
@import '../../global/utils/init';

.toggle {
  position: relative;
  display: inline-block;
}

.toggle [aria-hidden] {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
}

.toggle [aria-hidden='false'] {
  display: inline-block;
  z-index: 2;
}

.card__back[aria-hidden='false'] {
  transform-origin: center top;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 25%;
  text-align: center;

  button {
    height: 250px;
    width: 100%;
  }
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 250px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ff5078;
}

.card__back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.cards {
  @include clearfix;
  margin: $padding-md auto;
  padding: 0 $padding-md-lg;

  @include breakpoint ($bp-sm) {
    margin: $padding-md auto;
    max-width: 600px;
  }

  @include breakpoint ($bp-lg) {
    max-width: 1060px;
  }

  .link {
    position: relative;
    text-align: center;
    margin-bottom: $padding-md-lg;
    bottom: $padding-md-lg;
  }

  .l-center {
    padding: 0;
    margin: 0 auto;
    clear: both;
  }
}

.cards__title {
  padding: $padding-sm;
  margin: $padding-md-lg $padding-md-lg 0;
  text-align: center;
  clear: both;
  font-size: 2rem;

  @include breakpoint ($bp-sm) {
    font-size: 4rem;
  }
}

.cards__content {
  @include clearfix;
  margin: $padding-md auto;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint ($bp-sm) {
    margin: $padding-md auto;
    max-width: 600px;
  }

  @include breakpoint ($bp-lg) {
    max-width: 1060px;
  }
}

/* Cards - Columns */
.cards__item {
  @include box-shadow;
  border: 1px solid $color-silver;
  border-radius: $border-rd-sm;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: $color-white;
  max-width: 225px;
  max-height: 300px;

  &:hover {
    .cards__back {
      transform: translateY(-100%);
    }
  }

  .button {
    // tighten padding between mobile and tablet
    @include breakpoint ($bp-sm $bp-md) {
      padding: $padding-sm;
      min-height: auto;
    }
  }
}

.cards__item-content {
  padding: $padding-sm $padding-md $padding-md;
  background: rgba($color-white, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-60px);
  transition: transform $anim-standard $anim-speed-fast;
}

.cards__item-description {
  display: block;
  text-align: left;
  margin-bottom: $padding-md;
  font-size: 1rem;
  color: $color-silver;
  height: 134px;
  overflow: hidden;
}

.cards__item-image {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  height: 170px;
  width: 225px;

  img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
  }
}

.cards__item-icon {
  float: left;
}

.cards__item-account {
  float: right;
  text-align: right;
  flex-grow: 1;
  color: $color-grass;
}

.cards__item-title {
  margin: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  clear: both;
  padding: $padding-sm $padding-sm $padding-xsm;
  text-align: center;
  display: flex;
  line-height: 1;

  a {
    text-align: center;
  }

  .cards--slideout & {
    color: $color-cornflower;
    text-align: center;
  }
}

.cards__item-top {
  @include clearfix;
  padding: $padding-sm $padding-sm $padding-xsm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.cards__back .cards__item-top {
  @include clearfix;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0 (-$padding-sm);
}

.cards__item-below {
  text-align: center;
  font-size: 1rem;
  padding: $padding-xsm $padding-sm;
  color: $color-silver;
  text-shadow: none;
}

.cards__items {
  @include clearfix;
  margin: $padding-lg 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.cards__column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto 50px;
  min-height: 271px;
}

/* Sliding layout for variants that use front/back classes */
.cards__front {
  min-height: 202px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  .cards__item-top,
  .cards__item-title,
  .cards__item-below {
    width: 100%;
    flex: 0 auto;
    text-shadow: none;
  }

  .cards__item-below {
    height: 30px;
    overflow: hidden;
  }

  /* Grow the title section */
  .cards__item-title {
    max-width: 225px;
    margin: 0 auto;
  }
}

.cards__back {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $padding-md;
  background: $color-white;
  transform: translateY(0);
  transition: transform $anim-standard $anim-speed-fast;
}

.cards__description {
  margin-bottom: $padding-md;
  margin: $padding-sm auto;
  text-align: center;

  @include breakpoint ($bp-sm) {
    margin-bottom: $padding-lg;
  }
}
