<div class="section__content clearfix">
  <button id="card1" class="card card__click" aria-pressed="false">
    <div class="card__front">
      <span class="card__text">True or False:<br>Sloths can swim.</span>
    </div>
    <div class="card__back">
      <span class="card__text">True!<br>Sloths are clumsy on land but are great swimmers.</span>
    </div>
  </button><!-- /card -->
  <button id="card2" class="card card__click" aria-pressed="false">
    <div class="card__front">
      <span class="card__text">True or False:<br>Sloths have short tongues.</span>
    </div>
    <div class="card__back">
      <span class="card__text">False!<br>Sloths can extend their tongues 10 to 12 inches out of their mouths.</span>
    </div>
  </button><!-- /card -->
  <button id="card3" class="card card__click" aria-pressed="false">
    <div class="card__front">
      <span class="card__text">True or False:<br>Sloths sleep away most of the day.</span>
    </div>
    <div class="card__back">
      <span class="card__text">False!<br>Sloths only sleep up to 10 hours a day.</span>
    </div>
  </button><!-- /card -->
  <button id="card4" class="card card__click" aria-pressed="false">
    <div class="card__front">
      <span class="card__text">True or False:<br>Sloths have four-part stomachs.</span>
    </div>
    <div class="card__back">
      <span class="card__text">True!<br>Sloths have a four-part stomach that very slowly digests the tough leaves they eat, it can sometimes take up to a month for them to digest a meal.</span>
    </div>
  </button>
</div>