<div class="toggle card effect__click">
  <button aria-controls="content">
    <div class="cards__item-image card__front">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Two_toed_sloth.JPG" alt="Alt text related to the image" />
      <p>True or False:<br>Sloths can swim</p>
    </div>
  </button>
  <div id="content" class="card__back">
    <a href="#">True!<br>Sloths are clumsy on land but are great swimmers</a>
    <a href="#">Learn more about sloths</a>
  </div><!--/#content-->
</div><!--/.toggle-->

  <div class="cards__content">
    <div class="cards__column">
      <div class="cards__item card effect__click">
        <button id="card1" aria-pressed="false">
          <div class="card__front">
            <span class="card__text">True or False:<br>Sloths can swim.</span>
          </div>
          <div class="card__back">
            <span class="card__text" aria-hidden="true">True!<br>Sloths are clumsy on land but are great swimmers.</span>
          </div>
        </button><!-- /cards -->
      </div>
    </div>
    <div class="cards__column">
      <div class="cards__item card effect__click">
        <button id="card2" aria-pressed="false">
          <div class="card__front">
            <span class="cards__text">True or False:<br>Sloths have short tongues.</span>
          </div>
          <div class="cards__back">
            <span class="cards__text">False!<br>Sloths can extend their tongues 10 to 12 inches out of their mouths.</span>
          </div>
        </button><!-- /cards -->
      </div>
    </div>
    <div class="cards__column">
      <button id="cards3" class="cards cards__click" aria-pressed="false">
        <div class="cards__front">
          <span class="cards__text">True or False:<br>Sloths sleep away most of the day.</span>
        </div>
        <div class="cards__back">
          <span class="cards__text">False!<br>Sloths only sleep up to 10 hours a day.</span>
        </div>
      </button><!-- /cards -->
    </div>
    <div class="cards__column">
      <button id="cards4" class="cards cards__click" aria-pressed="false">
        <div class="cards__front">
          <span class="cards__text">True or False:<br>Sloths have four-part stomachs.</span>
        </div>
        <div class="cards__back">
          <span class="cards__text">True!<br>Sloths have a four-part stomach that very slowly digests the tough leaves they eat, it can sometimes take up to a month for them to digest a meal.</span>
        </div>
      </button>
    </div>
  </div>
</div>