// Cards
//
// <ul>
//  <li>Make sure you have tabbing focus indicators for all elements that need to be highlighted.</li>
//  <li>Every `<img>` you add to your site needs to have an alt attribute. If the image is informational, set the `alt` equal to a *descriptive* alternative for that image.</li>
//  <li>If the image is decorative or redundant to adjacent text, set `alt=""`, which conveys to assistive technology users that the image isn’t necessary for understanding the page.</li>
//  <li>Avoid using generic strings like photo, image, or icon as `alt` values, as they don’t communicate valuable content to the user. Be as descriptive as possible.</li>
//  <li>You can add `class="visuallyhidden"` with descriptive text to give more context to a button or link's purpose.</li>
// </ul>
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#cards_res">Resources</a></h3><div id="cards_res" class="atblock__panel"><ul><li><a href="http://callmenick.com/post/css-transitions-transforms-animations-flipping-card" target="_blank">CSS Transitions, Transforms & Animations – Flipping Card</a></li></ul></div></section>
//
//
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#cards_guide">WCAG 2.0 Guidelines</a></h3><div id="cards_guide" class="atblock__panel guidelines"><p><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv" target="_blank">1.1.1 Non-text Content</a> - All non-text content that is presented to the user has a text alternative that serves the equivalent purpose (some exceptions). (Level A)<br><br><strong>Note:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#visual-audio-contrast-contrast" target="_blank">1.4.3 Contrast (Minimum)</a> - The visual presentation of text and images of text has a contrast ratio of at least 4.5:1 (some exceptions). (Level AA)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#visual-audio-contrast-text-presentation" target="_blank">1.4.5 Images of Text</a> - If the technologies being used can achieve the visual presentation, text is used to convey information rather than images of text (some exceptions). (Level AA)</p><p><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#navigation-mechanisms-focus-visible" target="_blank">2.4.7 Focus Visible</a> - Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible. (Level AA)</p></div><div class="markup"></div></section>
//
//
//
//
// Markup: cards.twig
//
// Style guide: Media.cards

// Import site utilities.
@import '../../global/utils/init';

// Base styling for click cards
.toggleflip {
  @include font-stack-base;
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

.toggleflip [aria-hidden] {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
}

.toggleflip [aria-hidden='false'] {
  display: inline-block;
  z-index: 2;
}

.card__back[aria-hidden='false'] {
  transform-origin: center top;
  animation-duration: $anim-speed-moderate;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 250px;
  backface-visibility: hidden;
  transition: transform 0.3s;
}

.card__back {
  transform: rotateY(-180deg);
  position: absolute;
  padding: $padding-sm 1.5rem;
  background: $color-white;

  .cards__item-description {
    height: 155px;
  }
}

.card.effect__click.flipped .card__front {
  transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  transform: scale(-1, 1);
}

// Base styling for all cards, plus hover effect
.cards {
  @include clearfix;
  margin: $padding-md auto;
  padding: 0 $padding-md-lg;

  @include breakpoint ($bp-sm) {
    margin: $padding-md auto;
    max-width: 600px;
  }

  @include breakpoint ($bp-lg) {
    max-width: 1200px;
    padding: 0;
  }

  .link {
    position: relative;
    text-align: center;
    margin-bottom: $padding-md-lg;
    bottom: $padding-md-lg;
  }

  .l-center {
    padding: 0;
    margin: 0 auto;
    clear: both;
  }

  button {
    background-color: transparent;
    border: 0;
    width: 100%;
  }
}

.cards__title {
  padding: $padding-sm;
  margin: $padding-md-lg $padding-md-lg 0;
  text-align: center;
  clear: both;
  font-size: $padding-md;

  @include breakpoint ($bp-sm) {
    font-size: $padding-lg;
  }
}

.cards__content {
  @include clearfix;
  margin: $padding-md auto;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint ($bp-sm) {
    margin: $padding-md auto;
    max-width: 600px;
  }

  @include breakpoint ($bp-lg) {
    max-width: 1060px;
  }
}

.cards__item {
  @include box-shadow;
  border-radius: $border-rd-sm;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: $color-white;
  max-width: 225px;
  max-height: 300px;

  &:hover {
    .cards__back {
      transform: translateY(-100%);
      animation-duration: $anim-speed-moderate;
    }
  }

  .button {
    // tighten padding between mobile and tablet
    @include breakpoint ($bp-sm $bp-md) {
      padding: $padding-sm;
      min-height: auto;
    }
  }
}

.cards__item-content {
  padding: $padding-sm $padding-md $padding-md;
  background: rgba($color-white, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-60px);
  transition: transform $anim-standard $anim-speed-moderate;
}

.cards__item-description {
  display: block;
  text-align: left;
  margin-bottom: 0;
  font-size: $padding-sm;
  color: $color-midnight;
  height: 175px;
  overflow: hidden;
}

.cards__item-image {
  margin: auto;
  display: block;
  height: 170px;
  width: 225px;

  img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
  }
}

.cards__item-title {
  @include font-stack-base;
  margin: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  clear: both;
  padding: $padding-xsm;
  text-align: center;
  display: flex;
  line-height: 1;
  height: 85px;

  a {
    text-align: center;
  }

  .cards--slideout & {
    color: $color-cherry;
    text-align: center;
  }
}

.cards__item-top {
  @include clearfix;
  padding: $padding-sm $padding-sm $padding-xsm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $padding-sm;
}

.cards__back .cards__item-top {
  @include clearfix;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $padding-sm;
  margin: 0 (-$padding-sm);
}

.cards__item-below {
  text-align: center;
  font-size: $padding-sm;
  padding: $padding-xsm $padding-sm;
  color: $color-midnight;
  text-shadow: none;
}

.cards__items {
  @include clearfix;
  margin: $padding-lg 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.cards__column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto 50px;
  min-height: 271px;
  min-width: 225px;
}

.cards__front {
  min-height: 202px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  .cards__item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 100px;
  }
}

.cards__back {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background: $color-white;
  transform: translateY(0);
  transition: transform $anim-standard $anim-speed-moderate;
  line-height: 1.2;
}

.cards__description {
  margin-bottom: $padding-md;
  margin: $padding-sm auto;
  text-align: center;

  @include breakpoint ($bp-sm) {
    margin-bottom: $padding-lg;
  }
}
