<section class="cards cards--slideout section">
  <h3>Example #1: Cards with hover effect</h3>
  <div class="l-center">
    <div class="cards__content">
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Two_toed_sloth.JPG" width="225" height="126" alt="A sloth hanging upside down from a tree branch">
            </div>
            <div class="cards__item-title">
              <a href="#sloth1">True or False:<br>Sloths can swim.</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth1">True!<br>Sloths are clumsy on land but are great swimmers.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="https://www.thedodo.com/8-awesome-things-you-didnt-kno-668962865.html" class="button"><span class="visuallyhidden">True!<br>Sloths are clumsy on land but are great swimmers. </span>Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://c1.staticflickr.com/5/4064/4539519942_6d974aed83.jpg" width="225" height="126" alt="Close-up of a sloth gripping a tree trunk">
            </div>
            <div class="cards__item-title">
              <a href="#sloth2">True or False:<brSloths have short tongues</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth2">False!<br>Sloths can extend their tongues 10 to 12 inches out of their mouths.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="http://www.animalfactsencyclopedia.com/Sloth-facts.html" class="button"><span class="visuallyhidden">False!<br>Sloths can extend their tongues ten to twelve inches out of their mouths. </span>Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://vignette2.wikia.nocookie.net/sloths/images/b/b3/Buttercup1.jpg/revision/latest?cb=20140206010122" width="225" height="126" alt="Sloth sitting in a basket seeming to smile">
            </div>
            <div class="cards__item-title">
              <a href="#sloth3">True or False:<br>Sloths sleep twenty hours a day.</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth3">False!<br>Sloths only sleep up to twelve hours a day.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="http://www.slothsanctuary.com/2013/02/sleeping-sloths" class="button"><span class="visuallyhidden">False!<br>Sloths only sleep up to twelve hours a day. </span>Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://runwithyou.files.wordpress.com/2011/08/sloth-2.jpg" width="225" height="126" alt="Sloth hugging a tree in the rainforest">
            </div>
            <div class="cards__item-title">
              <a href="#sloth4">True or False:<br>Sloths have four-part stomachs</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth4">True!<br>Sloths slowly digest the tough leaves they eat - it can take up to a month for them to digest a meal.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="http://totescute.com/what-do-sloths-eat" class="button"><span class="visuallyhidden">True!<br>Sloths slowly digest the tough leaves they eat. It can take up to a month for them to digest a meal. </span>Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cards cards--slideout section">
  <h3>Example #2: Cards with click effect</h3>
  <div class="l-center">
    <div class="cards__content">
      <div class="cards__column">
        <button id="flip1" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://runwithyou.files.wordpress.com/2011/08/sloth-2.jpg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths can swim</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>True!<br>Sloths slowly digest the tough leaves they eat - it can take up to a month for them to digest a meal.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip2" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://runwithyou.files.wordpress.com/2011/08/sloth-2.jpg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths can swim</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>True!<br>Sloths slowly digest the tough leaves they eat - it can take up to a month for them to digest a meal.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip3" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://runwithyou.files.wordpress.com/2011/08/sloth-2.jpg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths can swim</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>True!<br>Sloths slowly digest the tough leaves they eat - it can take up to a month for them to digest a meal.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip4" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://runwithyou.files.wordpress.com/2011/08/sloth-2.jpg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths can swim</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>True!<br>Sloths slowly digest the tough leaves they eat - it can take up to a month for them to digest a meal.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>