<section class="lists-section1">
  <h3>Ordered List</h3>
  <h4>Best Nikola Tesla Quotes</h4>
  <ol>
    <li>"Our virtues and our failings are inseparable, like force and matter. When they separate, man is no more."</li>
    <li>"The scientists of today think deeply instead of clearly. One must be sane to think clearly, but one can think deeply and be quite insane."</li>
    <li>"It is paradoxical, yet true, to say, that the more we know, the more ignorant we become in the absolute sense, for it is only through enlightenment that we become conscious of our limitations. Precisely one of the most gratifying results of intellectual evolution is the continuous opening up of new and greater prospects."</li>
  </ol>
</section>
<section class="lists-section2">
  <div class="break"></div>
  <h3>Unordered List</h3>
  <h4>List of Unusual Dog Breeds</h4>
  <ul>
    <li>Beauceron</li>
    <li>Belgian Malinois</li>
    <li>Entlebucher Mountain Dog</li>
    <li>Keeshond</li>
    <li>Kooikerhondje</li>
    <li>Mudi</li>
    <li>Petit Basset Griffon Vendéen</li>
    <li>Portuguese Podengo Pequeno</li>
    <li>Schipperke</li>
    <li>Xoloitzcuintli</li>
  </ul>
</section>
<section class="lists-section3">
  <div class="break"></div>
  <h3>Definition List</h3>
  <dl>
    <dt>Vegetables That Are Technically Fruits</dt>
    <dd>Avocados</dd>
    <dd>Bell Peppers</dd>
    <dd>Cucumbers</dd>
    <dd>Eggplants</dd>
    <dd>Pumpkins</dd>
    <dd>Tomatoes</dd>
    <dd>Zucchinis</dd>
  </dl>
</section>
