// Lists
//
//  - Creating accessible lists is fairly straight-forward and easy *if* you use the correct mark-up.
//  - Use `ol` markup to group ordered lists; use `ul` markup to group unordered lists; and use `dl` markup to group terms with their definitions.
//  - Simple comma-separated lists may not need list markup, but longer lists or groups of links should have it.
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#lists_guide">WCAG 2.1 Guidelines</a></h3><div id="lists_guide" class="atblock__panel guidelines"><p><a href="https://www.w3.org/WAI/WCAG21/quickref/#qr-content-structure-separation-programmatic" target="_blank">1.3.1 Info and Relationships</a> - Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text. (Level A)</p></div><div class="markup"></div></section>
//
//
//
// Markup: lists.twig
//
// Style guide: Structure.lists

// Import site utilities.
@import '../../global/utils/init';

// List styles set in the _base.scss file
