{{ attach_library('theme_name/links') }}
<section class="links-section">
  <form action="" method="post">
    <h3>Example #1</h3>
    <h4 id="headline" class="bold">Storms Hit East Coast</h4>
    <p>Torrential rain and gale force winds have struck the east coast, causing flooding in many coastal towns. <a href="news.html" aria-labelledby="headline" class="links">Read More</a></p>
    <div class="break"></div>
    <h3>Example #2</h3>
    <h4 class="bold">Black Bears Trapped in Cars?</h4>
    <p>Over the past three weeks there have been 15 reports or black bears getting themselves trapped in vehicles. There are several ways to prevent this from happening to you. <a href="/news/black-bears-trapped-in-cars" aria-label="Learn more about trapped black bears" class="read-more">Read More</a></p>
  </form>
</section>
