// Links
//
// <ul>
//  <li>Add id selectors to titles and use `aria-labelledby=""` to link to the title text (example #1).</li>
//  <li>Add decriptive text with `aria-label=""` directly in the link (example #2).</li>
//  <li>Turn read more links into buttons, when you can.</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">2.4.4 Link Purpose (In Context)</a> - The purpose of each link can be determined from the link text alone or from the link text together with its programmatically determined link context, except where the purpose of the link would be ambiguous to users in general. (Level A)</blockquote><hr>
//
//
//
// Markup: links.twig
//
// Style guide: General.links

// Import site utilities.
@import '../../global/utils/init';

.links {

  &::after {
    content: ' > ';
    display: inline-block;
    padding-left: 5px;
  }
}
