<section>
  <h3>Responsive Table</h3>
  <table class="responsive-table">
    <thead>
      <tr align="center">
        <th>House Side</th>
        <th>House Address</th>
        <th>Other</th>
        <th>Other Address</th>
        <th>Senate Side</th>
        <th>Senate Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rayburn House Office Building</td>
        <td>50 Independence Ave, SW Washington, DC 20515</td>
        <td>Library of Congress</td>
        <td>101 Independence Ave SE, Washington, DC 20540</td>
        <td>Russell Senate Office Building</td>
        <td>2 Constitution Ave NE, Washington, DC 20002</td>
      </tr>
      <tr>
        <td>Longworth House Office Building</td>
        <td>15 Independence Ave, SW Washington, DC 20515</td>
        <td>Supreme Court</td>
        <td>1 First Street, NE Washington, DC 20543</td>
        <td>Dirksen Senate Office Building</td>
        <td>100 Constitution Ave NE Washington, DC 20002</td>
      </tr>
      <tr>
        <td>Cannon House Office Building</td>
        <td>25 Independence Ave, SE Washington, DC 20003</td>
        <td>Capitol Visitors Center</td>
        <td>First &amp; East Capitol St SE, Washington, DC 20004</td>
        <td>Hart Senate Office Building</td>
        <td>150 Constitution Ave NE Washington, DC 20510</td>
      </tr>
      <tr>
        <td>Capitol South Metro</td>
        <td>307 First Street SE Washington, DC 20003</td>
        <td>Federal Center Metro</td>
        <td>401 3rd Street SW Washington, DC 20024</td>
        <td>Union Station Metro</td>
        <td>701 First St. NE Washington, DC 20002</td>
      </tr>
    </tbody>
  </table>
  <script src="../js/tables.js"></script>
</section>