{{ attach_library('theme_name/read-more') }}
<section class="read-more-section">
  <form action="" method="post">
    <h2>Example #1</h2>
    <h3 id="headline">Storms Hit East Coast</h3>
    <p>Torrential rain and gale force winds have struck the east coast, causing flooding in many coastal towns. <a href="news.html" aria-labelledby="headline" class="read-more">Read More</a></p>
    <div class="break"></div>
    <h2>Example #2</h2>
    <h3>Black Bears Trapped in Cars?</h3>
    <p>Over the past three weeks there have been 15 reports or black bears getting themselves trapped in vehicles. There are several ways to prevent this from happening to you. <a href="/news/black-bears-trapped-in-cars" aria-label="Learn more about trapped black bears" class="read-more">Read More</a></p>
  </form>
</section>
