<section class="read-more-section">
  <h3>Example #1: Using aria-labelledby</h3>
  <h4 id="headline" class="bold">Storms Hit East Coast</h4>
  <p>Torrential rain and gale force winds have struck the east coast, causing flooding in many coastal towns. <a href="#" id="this_link" aria-labelledby="this_link headline" class="read-more">Read More</a></p>
  <div class="break"></div>
  <h3>Example #2: Using aria-label</h3>
  <h4 class="bold">Black Bears Trapped in Cars</h4>
  <p>Over the past three weeks there have been 15 reports or black bears getting themselves trapped in vehicles. There are several ways to prevent this from happening to you. <a href="#" aria-label="Read more about trapped black bears" class="read-more">Read More</a></p>
  <div class="break"></div>
  <h3>Example #3: Using visually hidden text</h3>
  <h4 class="bold">Mass Hysteria</h4>
  <p>Fire and brimstone, coming down from the skies. Rivers and seas boiling... Human sacrifice, dogs and cats, living together...
  <p><a href="#" class="read-more">Read More<span class="visuallyhidden"> about mass hysteria in relation to movie quotes</span></a></p>
</section>
