<section class="read-more-section">
  <h3>Example #1: Using aria-labelledby</h3>
  <h4 id="headline" class="bold">Storms Hit East Coast</h4>
  <p>Torrential rain and gale force winds have struck the east coast, causing flooding in many coastal towns. <a href="#" aria-labelledby="headline" class="read-more">Read More</a></p>
  <div class="break"></div>
  <h3>Example #2: Using aria-label</h3>
  <h4 class="bold">Black Bears Trapped in Cars</h4>
  <p>Over the past three weeks there have been 15 reports or black bears getting themselves trapped in vehicles. There are several ways to prevent this from happening to you. <a href="#" aria-label="Learn more about trapped black bears" class="read-more">Read More</a></p>
  <div class="break"></div>
  <h3>Example #3: Using aria-describedby</h3>
  <h4 class="bold" id="info">Can I have a badge?</h4>
  <p>Badges? We ain't got no badges! We don't need no badges! I don't have to show you any stinking badges!
  <p class="visuallyhidden">This is a quote from the 1948 movie The Treasure of the Sierra Madre.</p><p><a href="#" aria-describedby="info" class="read-more">Read More</a></p>
  <div class="break"></div>
  <h3>Example #4: Using visually hidden text</h3>
  <h4 class="bold">Mass Hysteria</h4>
  <p>Fire and brimstone, coming down from the skies. Rivers and seas boiling... Human sacrifice, dogs and cats, living together...
  <p class="visuallyhidden">This is a quote from the 1984 movie Ghostbusters.</p><p>
  <a href="#" class="read-more">Read More<span class="visuallyhidden"> about mass hysteria in relation to movie quotes</span></a></p>
</section>
