// Read More
//
// <b>A11y pro tips</b>:
// <ul>
//  <li>Add id selectors to titles and use `aria-labelledby=""` to link to the title text (example #1).</li>
//  <li>Add decriptive text with `aria-label=""` directly in the link (example #2).</li>
//  <li>Turn read more links into buttons, when you can.</li>
// </ul>
//
// Markup: read-more.twig
//
// Style guide: General.read-more

// Import site utilities.
@import '../../global/utils/init';

.read-more {

  &::after {
    content: " > ";
    display: inline-block;
    padding-left: 5px;
  }
}
