<section class="basic-tables-section">
  <h3>Option #1: Table with one header</h3>
  <table class="tables" cellspacing="0" summary="Information for surprise party">
  	<tr>
  		<th>Date</th>
  		<th>Event</th>
  		<th>Venue</th>
  	</tr>
  	<tr>
  		<td>3 February</td>
  		<td>Surprise Party</td>
  		<td>Party Town USA</td>
  	</tr>
  </table>
  <div class="break"></div>
  <h3>Option #2: Table with two headers and caption</h3>
  <table class="tables" cellspacing="0">
    <caption>Color Names in Multiple Languages</caption>
    <tr>
      <th scope="col">Color</th>
      <th scope="col">French</th>
      <th scope="col">German</th>
      <th scope="col">Italian</th>
      <th scope="col">Portuguese</th>
      <th scope="col">Spanish</th>
    </tr>
    <tr>
      <th scope="row">Red</th>
      <td>rouge</td>
      <td>rot</td>
      <td>rosso</td>
      <td>vermelho</td>
      <td>rojo</td>
    </tr>
    <tr>
      <th scope="row">Orange</th>
      <td>orange</td>
      <td>orange</td>
      <td>arancione</td>
      <td>laranja</td>
      <td>anaranjado</td>
    </tr>
    <tr>
      <th scope="row">Yellow</th>
      <td>jaune</td>
      <td>gelb</td>
      <td>giallo</td>
      <td>amarelo</td>
      <td>amarillo</td>
    </tr>
    <tr>
      <th scope="row">Green</th>
      <td>vert</td>
      <td>grün</td>
      <td>verde</td>
      <td>verde</td>
      <td>verde</td>
    </tr>
    <tr>
      <th scope="row">Blue</th>
      <td>bleu</td>
      <td>blau</td>
      <td>blu</td>
      <td>azul</td>
      <td>azul</td>
    </tr>
    <tr>
      <th scope="row">Purple</th>
      <td>pourpre</td>
      <td>lila</td>
      <td>porpora</td>
      <td>roxo</td>
      <td>morado</td>
    </tr>
  </table>
</section>
