<section id="no-more-tables" class="basic-tables-section">
  <h3>Option #1: Table with one header</h3>
  <table class="tables" cellspacing="0" summary="Information for surprise party">
    <thead>
    	<tr>
    		<th scope="col">Date</th>
    		<th scope="col">Event</th>
    		<th scope="col">Venue</th>
    	</tr>
  	</thead>
    <tbody>
    	<tr>
    		<td data-title="Date">3 February</td>
    		<td data-title="Event">Surprise Party</td>
    		<td data-title="Venue">Party Town USA</td>
    	</tr>
    </tbody>
  </table>
  <div class="break"></div>
  <h3>Option #2: Table with two headers and caption</h3>
  <table class="tables" cellspacing="0" summary="Color names for red, orange, yellow, green, blue, purple in multiple languages">
    <caption>Color Names in Multiple Languages</caption>
    <thead>
      <tr>
        <th scope="col">Color</th>
        <th scope="col">French</th>
        <th scope="col">German</th>
        <th scope="col">Italian</th>
        <th scope="col">Portuguese</th>
        <th scope="col">Spanish</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Red</th>
        <td data-title="French">rouge</td>
        <td data-title="German">rot</td>
        <td data-title="Italian">rosso</td>
        <td data-title="Portuguese">vermelho</td>
        <td data-title="Spanish">rojo</td>
      </tr>
      <tr>
        <th scope="row">Orange</th>
        <td data-title="French">orange</td>
        <td data-title="German">orange</td>
        <td data-title="Italian">arancione</td>
        <td data-title="Portuguese">laranja</td>
        <td data-title="Spanish">anaranjado</td>
      </tr>
      <tr>
        <th scope="row">Yellow</th>
        <td data-title="French">jaune</td>
        <td data-title="German">gelb</td>
        <td data-title="Italian">giallo</td>
        <td data-title="Portuguese">amarelo</td>
        <td data-title="Spanish">amarillo</td>
      </tr>
      <tr>
        <th scope="row">Green</th>
        <td data-title="French">vert</td>
        <td data-title="German">grün</td>
        <td data-title="Italian">verde</td>
        <td data-title="Portuguese">verde</td>
        <td data-title="Spanish">verde</td>
      </tr>
      <tr>
        <th scope="row">Blue</th>
        <td data-title="French">bleu</td>
        <td data-title="German">blau</td>
        <td data-title="Italian">blu</td>
        <td data-title="Portuguese">azul</td>
        <td data-title="Spanish">azul</td>
      </tr>
      <tr>
        <th scope="row">Purple</th>
        <td data-title="French">pourpre</td>
        <td data-title="German">lila</td>
        <td data-title="Italian">porpora</td>
        <td data-title="Portuguese">roxo</td>
        <td data-title="Spanish">morado</td>
      </tr>
    </tbody>
  </table>
</section>
