// Misc Styling
//
// This is the Misc styling component for small changes that do not need a full component
//

// Import site utilities.
@import '../../global/utils/init';

body {
  @include font-stack-base;
  color: $color-midnight;
}

.break {
  margin: $padding-md-lg 0;
  border-bottom: 1px solid $color-gallery;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
