// Misc Styling
//
// This is the Misc styling component for small changes that do not need a full component
//

// Import site utilities.
@import '../../global/utils/init';

body {
  @include font-stack-base;
  color: $color-midnight;
}

.break {
  margin: $padding-md-lg 0;
  border-bottom: 1px solid $color-gallery;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.more-info {
  height: 0;
  visibility: hidden;
  position: relative;
}

.more-info-open {
  height: auto;
  visibility: visible;
}

.more {
  position: absolute;
  top: -52px;
  visibility: visible;
  left: 160px;
  width: 30px;
  height: 30px;
  background: url('#{$asset-path}/chevron_left_round_red.png') no-repeat; // replace with plus
  background-size: 32px;
  border: 0;
  box-shadow: none;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }
}

.more-info-open .more {
  background: url('#{$asset-path}/chevron_right_round_red.png') no-repeat; // replace with minus
  background-size: 32px;
}
