// Flip Click Card
//
// Markup: cards-click.twig
//
// Style guide: Cards.cards-flip-click

// Import site utilities.
@import '../../global/utils/init';

// Base styling for click cards
.toggleflip {
  @include font-stack-base;
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

.toggleflip [aria-hidden] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.toggleflip [aria-hidden='false'] {
  display: inline-block;
  z-index: 2;
}

.card__back[aria-hidden='false'] {
  transform-origin: center top;
  animation-duration: $anim-speed-moderate;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.card__front,
.card__back {
  backface-visibility: hidden;
  height: 15.625rem;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform .3s ease-in-out;
  width: 100%;
}

.card__back {
  background: $color-white;
  padding: $padding-sm 1.5rem;
  position: absolute;
  transform: rotateY(-180deg);

  .cards__item-description {
    height: 9.6875rem;
    transform: rotateY(-180deg);
    visibility: hidden;
  }
}

.card__front {
  transform: rotateY(0deg);
}

.card.effect__click.flipped .card__front {
  transform: rotateY(0deg);
}

.card.effect__click.flipped .card__back {
  transform: scale(1, 1);

  .cards__item-description {
    transform: rotateY(0deg);
    visibility: visible;
  }
}
