body {
  margin: 0;
}
/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre .comment {
  color: #998;
}
pre .support {
  color: #0086B3;
}
pre .tag,
pre .tag-name {
  color: navy;
}
pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
  font-weight: bold;
}
pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace {
  color: #333;
}
pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
  font-weight: normal;
  color: #099;
}
pre .entity.class {
  color: #458;
}
pre .entity.id,
pre .entity.function {
  color: #900;
}
pre .attribute,
pre .variable {
  color: teal;
}
pre .string,
pre .support.value {
  font-weight: normal;
  color: #d14;
}
pre .regexp {
  color: #009926;
}
#kss-node {
  background: #fff;
}
#kss-node .kss-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}
#kss-node .kss-wrapper:before,
#kss-node .kss-wrapper:after {
  content: " ";
  display: table;
}
#kss-node .kss-wrapper:after {
  clear: both;
}
#kss-node .kss-sidebar {
  overflow: hidden;
  backface-visibility: hidden;
}
@media (min-width: 1230px) {
  #kss-node .kss-sidebar {
    float: left;
    width: 220px;
    overflow: hidden;
  }
  #kss-node .kss-sidebar.kss-fixed {
    position: fixed;
    top: 0;
  }
  #kss-node .kss-sidebar.kss-fixed .kss-sidebar-inner {
    padding-top: 44px;
  }
  #kss-node .kss-sidebar.kss-fixed .kss-nav {
    /* Top margin (44px), logo height (68px), nav top padding (30px). */
    max-height: calc( 100vh - 44px - 68px - 30px);
    /* Make the container scrollable. */
    overflow-y: auto;
    padding-right: 8px;
    backface-visibility: hidden;
  }
}
#kss-node .kss-sidebar-inner {
  padding: 40px 0 10px;
}
#kss-node .kss-header {
  background: #fff;
}
#kss-node .kss-doc-title {
  line-height: 1.3;
  margin: 0 0 30px;
  text-align: right;
  font-size: 20px;
  font-weight: normal;
  color: #19a3d1;
}
#kss-node .kss-doc-title a {
  text-decoration: none;
  color: inherit;
}
#kss-node .kss-nav {
  margin: 30px 0;
}
#kss-node .kss-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#kss-node .kss-menu > .kss-menu-item {
  line-height: 1.3;
  color: #222222;
  font-size: 14px;
  display: block;
}
#kss-node .kss-menu > .kss-menu-item > a {
  display: block;
  padding: 7px 0 7px 5px;
  border-bottom: 1px solid #e3e3e3;
  text-decoration: none;
  font-weight: bold;
  color: #888;
}
#kss-node .kss-menu > .kss-menu-item > a:before,
#kss-node .kss-menu > .kss-menu-item > a:after {
  content: " ";
  display: table;
}
#kss-node .kss-menu > .kss-menu-item > a:after {
  clear: both;
}
#kss-node .kss-menu > .kss-menu-item > a:hover {
  color: #19a3d1;
}
#kss-node .kss-menu > .kss-menu-item > a > .kss-ref {
  float: left;
  margin-right: 10px;
  color: #19a3d1;
}
#kss-node .kss-menu > .kss-menu-item > a > .kss-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}
#kss-node .kss-menu > .kss-menu-item.kss-active > a {
  border-bottom-color: #19a3d1;
  color: #222222;
}
#kss-node .kss-menu-child {
  display: none;
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
  border-bottom: 1px solid #e3e3e3;
}
#kss-node .kss-menu-child > .kss-menu-item {
  line-height: 1.3;
  color: #222222;
  font-size: 12px;
}
#kss-node .kss-menu-child > .kss-menu-item > a {
  display: block;
  padding: 5px 0 6px 5px;
  text-decoration: none;
  color: #888;
}
#kss-node .kss-menu-child > .kss-menu-item > a:hover {
  color: #19a3d1;
}
#kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref {
  float: left;
  margin-right: 10px;
  color: #19a3d1;
}
#kss-node .kss-menu-child > .kss-menu-item > a > .kss-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}
#kss-node .kss-menu-child > .kss-menu-item.kss-active > a {
  color: #222222;
}
#kss-node .kss-content {
  overflow: hidden;
  padding: 40px 0 10px;
}
@media (min-width: 1230px) {
  #kss-node .kss-content {
    margin-left: 250px;
  }
}
#kss-node .kss-section {
  margin: -40px 0 60px;
  padding-top: 40px;
}
#kss-node .kss-overview {
  line-height: 1.3;
  color: #222222;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 14px;
}
#kss-node .kss-overview h1,
#kss-node .kss-overview h2,
#kss-node .kss-overview h3,
#kss-node .kss-overview h4,
#kss-node .kss-overview h5,
#kss-node .kss-overview h6 {
  display: block;
  line-height: 1.3;
  font-weight: bold;
}
#kss-node .kss-overview h1 {
  margin: 60px 0 20px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 36px;
}
#kss-node .kss-overview h2 {
  margin: 30px 0 15px;
  font-size: 28px;
}
#kss-node .kss-overview h3 {
  margin: 20px 0 15px;
  font-size: 20px;
}
#kss-node .kss-overview h4,
#kss-node .kss-overview h5,
#kss-node .kss-overview h6 {
  margin: 15px 0;
  font-size: 16px;
}
#kss-node .kss-overview p,
#kss-node .kss-overview ul,
#kss-node .kss-overview ol,
#kss-node .kss-overview blockquote,
#kss-node .kss-overview pre {
  display: block;
  margin: 15px 0;
}
#kss-node .kss-overview ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-overview ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-overview blockquote {
  margin-left: 2px;
  padding: 0 0 0 16px;
  border-left: 2px solid #e3e3e3;
}
#kss-node .kss-overview pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  padding: 8px 12px;
  border: 1px solid #e3e3e3;
}
#kss-node .kss-overview a,
#kss-node .kss-overview img,
#kss-node .kss-overview strong,
#kss-node .kss-overview em,
#kss-node .kss-overview code {
  display: inline;
}
#kss-node .kss-overview a {
  color: #08a;
  text-decoration: none;
}
#kss-node .kss-overview a:hover {
  text-decoration: underline;
  color: #068;
}
#kss-node .kss-overview img {
  vertical-align: bottom;
}
#kss-node .kss-overview a img {
  border: none;
}
#kss-node .kss-overview strong {
  font-weight: bold;
  font-style: normal;
}
#kss-node .kss-overview em {
  font-weight: normal;
  font-style: italic;
}
#kss-node .kss-overview code {
  line-height: 1.5;
  font-size: 13px;
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  color: #222222;
  padding: 1px 2px;
  border: 1px solid #e3e3e3;
  vertical-align: 1px;
}
#kss-node .kss-overview pre > code {
  padding: 0;
  border: none;
}
#kss-node .kss-title {
  line-height: 1.3;
  color: #222222;
  margin: 0 0 10px;
  font-weight: bold;
}
#kss-node .kss-title .kss-ref {
  margin-right: .2em;
  color: #19a3d1;
}
#kss-node .kss-description {
  line-height: 1.3;
  color: #222222;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 14px;
  margin: 10px 0 20px;
}
#kss-node .kss-description h1,
#kss-node .kss-description h2,
#kss-node .kss-description h3,
#kss-node .kss-description h4,
#kss-node .kss-description h5,
#kss-node .kss-description h6 {
  display: block;
  line-height: 1.3;
  font-weight: bold;
}
#kss-node .kss-description h1 {
  margin: 60px 0 20px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 36px;
}
#kss-node .kss-description h2 {
  margin: 30px 0 15px;
  font-size: 28px;
}
#kss-node .kss-description h3 {
  margin: 20px 0 15px;
  font-size: 20px;
}
#kss-node .kss-description h4,
#kss-node .kss-description h5,
#kss-node .kss-description h6 {
  margin: 15px 0;
  font-size: 16px;
}
#kss-node .kss-description p,
#kss-node .kss-description ul,
#kss-node .kss-description ol,
#kss-node .kss-description blockquote,
#kss-node .kss-description pre {
  display: block;
  margin: 15px 0;
}
#kss-node .kss-description ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-description ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-description blockquote {
  margin-left: 2px;
  padding: 0 0 0 16px;
  border-left: 2px solid #e3e3e3;
}
#kss-node .kss-description pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  padding: 8px 12px;
  border: 1px solid #e3e3e3;
}
#kss-node .kss-description a,
#kss-node .kss-description img,
#kss-node .kss-description strong,
#kss-node .kss-description em,
#kss-node .kss-description code {
  display: inline;
}
#kss-node .kss-description a {
  color: #08a;
  text-decoration: none;
}
#kss-node .kss-description a:hover {
  text-decoration: underline;
  color: #068;
}
#kss-node .kss-description img {
  vertical-align: bottom;
}
#kss-node .kss-description a img {
  border: none;
}
#kss-node .kss-description strong {
  font-weight: bold;
  font-style: normal;
}
#kss-node .kss-description em {
  font-weight: normal;
  font-style: italic;
}
#kss-node .kss-description code {
  line-height: 1.5;
  font-size: 13px;
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  color: #222222;
  padding: 1px 2px;
  border: 1px solid #e3e3e3;
  vertical-align: 1px;
}
#kss-node .kss-description pre > code {
  padding: 0;
  border: none;
}
#kss-node .kss-modifier-block {
  margin: 20px 0;
}
#kss-node .kss-modifier {
  border-top: 1px solid #e3e3e3;
}
#kss-node .kss-modifier-head {
  line-height: 1.3;
  color: #222222;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 14px;
  padding: 8px 0 0;
  font-size: 12px;
}
#kss-node .kss-modifier-head h1,
#kss-node .kss-modifier-head h2,
#kss-node .kss-modifier-head h3,
#kss-node .kss-modifier-head h4,
#kss-node .kss-modifier-head h5,
#kss-node .kss-modifier-head h6 {
  display: block;
  line-height: 1.3;
  font-weight: bold;
}
#kss-node .kss-modifier-head h1 {
  margin: 60px 0 20px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 36px;
}
#kss-node .kss-modifier-head h2 {
  margin: 30px 0 15px;
  font-size: 28px;
}
#kss-node .kss-modifier-head h3 {
  margin: 20px 0 15px;
  font-size: 20px;
}
#kss-node .kss-modifier-head h4,
#kss-node .kss-modifier-head h5,
#kss-node .kss-modifier-head h6 {
  margin: 15px 0;
  font-size: 16px;
}
#kss-node .kss-modifier-head p,
#kss-node .kss-modifier-head ul,
#kss-node .kss-modifier-head ol,
#kss-node .kss-modifier-head blockquote,
#kss-node .kss-modifier-head pre {
  display: block;
  margin: 15px 0;
}
#kss-node .kss-modifier-head ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-modifier-head ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-modifier-head blockquote {
  margin-left: 2px;
  padding: 0 0 0 16px;
  border-left: 2px solid #e3e3e3;
}
#kss-node .kss-modifier-head pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  padding: 8px 12px;
  border: 1px solid #e3e3e3;
}
#kss-node .kss-modifier-head a,
#kss-node .kss-modifier-head img,
#kss-node .kss-modifier-head strong,
#kss-node .kss-modifier-head em,
#kss-node .kss-modifier-head code {
  display: inline;
}
#kss-node .kss-modifier-head a {
  color: #08a;
  text-decoration: none;
}
#kss-node .kss-modifier-head a:hover {
  text-decoration: underline;
  color: #068;
}
#kss-node .kss-modifier-head img {
  vertical-align: bottom;
}
#kss-node .kss-modifier-head a img {
  border: none;
}
#kss-node .kss-modifier-head strong {
  font-weight: bold;
  font-style: normal;
}
#kss-node .kss-modifier-head em {
  font-weight: normal;
  font-style: italic;
}
#kss-node .kss-modifier-head code {
  line-height: 1.5;
  font-size: 13px;
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  color: #222222;
  padding: 1px 2px;
  border: 1px solid #e3e3e3;
  vertical-align: 1px;
}
#kss-node .kss-modifier-head pre > code {
  padding: 0;
  border: none;
}
#kss-node .kss-modifier-head p,
#kss-node .kss-modifier-head ul,
#kss-node .kss-modifier-head ol,
#kss-node .kss-modifier-head blockquote,
#kss-node .kss-modifier-head pre {
  margin: 0;
}
#kss-node .kss-modifier-head code {
  font-size: 11px;
  color: inherit;
}
#kss-node .kss-modifier-head .kss-modifier-name {
  float: left;
  margin-right: 15px;
  font-weight: bold;
}
#kss-node .kss-modifier-head .kss-modifier-description {
  overflow: hidden;
  color: #888;
}
#kss-node .kss-modifier-example {
  padding: 25px 20px 35px;
}
#kss-node .kss-modifier-example:before,
#kss-node .kss-modifier-example:after {
  content: " ";
  display: table;
}
#kss-node .kss-modifier-example:after {
  clear: both;
}
#kss-node .kss-modifier-original .kss-modifier-example {
  padding-top: 35px;
}
#kss-node .kss-markup pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  margin: 0;
  padding: 12px 15px;
  border-top: 1px solid #e3e3e3;
  border-left: 2px solid #159cdf;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  backface-visibility: hidden;
}
#kss-node .kss-markup code {
  line-height: 1.5;
  font-size: 13px;
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  color: #222222;
}
#kss-node .kss-markup code span {
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
}
#kss-node .kss-depth-1 .kss-title,
#kss-node .kss-overview > h1:first-child {
  margin: -0.15em 0 20px;
  border-bottom: 2px solid #159cdf;
  font-size: 42px;
}
#kss-node .kss-depth-2 .kss-title,
#kss-node .kss-depth-3 .kss-title,
#kss-node .kss-depth-4 .kss-title,
#kss-node .kss-depth-5 .kss-title,
#kss-node .kss-depth-6 .kss-title {
  font-size: 28px;
}
#kss-node .kss-footer {
  line-height: 1.3;
  color: #222222;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 14px;
  margin: 80px 0 20px;
  padding: 8px 0 0;
  border-top: 2px solid #e3e3e3;
  font-size: 12px;
}
#kss-node .kss-footer h1,
#kss-node .kss-footer h2,
#kss-node .kss-footer h3,
#kss-node .kss-footer h4,
#kss-node .kss-footer h5,
#kss-node .kss-footer h6 {
  display: block;
  line-height: 1.3;
  font-weight: bold;
}
#kss-node .kss-footer h1 {
  margin: 60px 0 20px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 36px;
}
#kss-node .kss-footer h2 {
  margin: 30px 0 15px;
  font-size: 28px;
}
#kss-node .kss-footer h3 {
  margin: 20px 0 15px;
  font-size: 20px;
}
#kss-node .kss-footer h4,
#kss-node .kss-footer h5,
#kss-node .kss-footer h6 {
  margin: 15px 0;
  font-size: 16px;
}
#kss-node .kss-footer p,
#kss-node .kss-footer ul,
#kss-node .kss-footer ol,
#kss-node .kss-footer blockquote,
#kss-node .kss-footer pre {
  display: block;
  margin: 15px 0;
}
#kss-node .kss-footer ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-footer ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 25px;
}
#kss-node .kss-footer blockquote {
  margin-left: 2px;
  padding: 0 0 0 16px;
  border-left: 2px solid #e3e3e3;
}
#kss-node .kss-footer pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  padding: 8px 12px;
  border: 1px solid #e3e3e3;
}
#kss-node .kss-footer a,
#kss-node .kss-footer img,
#kss-node .kss-footer strong,
#kss-node .kss-footer em,
#kss-node .kss-footer code {
  display: inline;
}
#kss-node .kss-footer a {
  color: #08a;
  text-decoration: none;
}
#kss-node .kss-footer a:hover {
  text-decoration: underline;
  color: #068;
}
#kss-node .kss-footer img {
  vertical-align: bottom;
}
#kss-node .kss-footer a img {
  border: none;
}
#kss-node .kss-footer strong {
  font-weight: bold;
  font-style: normal;
}
#kss-node .kss-footer em {
  font-weight: normal;
  font-style: italic;
}
#kss-node .kss-footer code {
  line-height: 1.5;
  font-size: 13px;
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  color: #222222;
  padding: 1px 2px;
  border: 1px solid #e3e3e3;
  vertical-align: 1px;
}
#kss-node .kss-footer pre > code {
  padding: 0;
  border: none;
}

.kss-swatch {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  width: 180px;
  height: 180px;
  border-radius: 3px;
  vertical-align: top;
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.kss-swatch__hex {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: small;
}

.kss-icons__item {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  min-width: 100px;
  border-radius: 3px;
  vertical-align: top;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.kss-icons__icon {
  vertical-align: middle;
  margin: 20px auto;
  fill: #222222;
  height: 50px;
  width: auto;
  max-width: 100%;
}

.kss-icons__name {
  font-size: small;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.25);
}

.kss-menu-full-width {
  border: 2px solid rgba(0, 0, 0, 0.15);
  font-size: 0.7rem;
  text-transform: uppercase;
  background-color: #e3e3e3;
  margin: 20px 0 0 auto;
  display: block;
  cursor: pointer;
  letter-spacing: 0.02em;
}

.kss-menu-full-width:hover {
  border: 2px solid rgba(0, 0, 0, 0.25);
}
