// SVGs
//
// SVGs are scalable vector graphics and can be made used for icons, images, logos, etc. SVG content is scalable and scales without any reduction in visual quality.
//
// <b>A11y pro tips</b>:
// <ul>
//  <li>The best way to make SVGs accessible to Assistive Technologies (AT) like screen readers and speech recognition tools is to put it directly into your HTML using the `<svg>` tag</li>
//  <li>Avoid using `<embed>`, `<object>`, or `<img>` elements as they are not as supported by browsers as inline SVG</li>
//  <li>Include a `<title>` and `<description>` in your SVG markup</li>
//  <li>Use `aria-labelledby=""` and reference the id values of the title and description elements</li>
//  <li>Give your SVGs a job with the `role=""` attribute</li>
//  <li>To “hide” elements from a screen reader in an SVG add `role="presentation"`</li>
// </ul>
//
// Markup: svgs.twig
//
// Style guide: Media.svgs

// Import site utilities.
@import '../../global/utils/init';

