<section class="cards highlight section highlight--left">
  <div class="l-center">
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">Highlight title</h2>
      </div>
      <div class="highlight__description">
        <p>In convallis euismod nibh a ornare. Integer vitae ultrices lectus, quis semper leo. Sed tempus massa vel arcu dapibus tempus. Quisque dignissim ac diam et auctor. In hac habitasse platea dictumst. Vestibulum ut tellus eu magna varius tempus. Sed vitae scelerisque odio, ut tempor dolor. Vivamus non ultrices nisl. Donec maximus vehicula consequat. Integer sed fermentum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><p>
      </p></div>
      <div class="highlight__buttons buttons buttons--center">
        <a href="#" class="button">Learn more<span class="element-invisible"> about this highlight</span></a>
      </div>
    </div>
    <div class="highlight__image">
      <img src="http://placebear.com/400/300" alt="Alternate text related to the image/video">
    </div>
  </div>
</section>

<section class="cards highlight highlight--left-small section">
 <div class="l-center">
    <div class="highlight__image">
      <div class="card__image">{{ image }}</div>
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">{{ title }}</h2>
      </div>
      <div class="highlight__description">
        {{ description }}
      </div>
    </div>
  </div>
</section>