<section class="headings-section">
  <div>
    <h1>I’m writing the code,</h1>
    <h2>but I do not realize,</h2>
    <h3>hours have gone by.</h3>
    <h4>My eyes are bloodshot,</h4>
    <h5>My fingertips are bleeding,</h5>
    <h6>but I carry on.</h6>
  </div>
</section>
