// Headings
//
// Heading tags were developed to provide information on the structural hierarchy of a document, with `<h1>` having the highest rank, followed by `<h2>`, `<h3>`, `<h4>`, `<h5>`, `<h6>`.
//
// <ul>
//  <li>Navigating through the `<h1>` and `<h2>` give a user an overview of a page and how its content is structured. The `<h3>` through `<h6>` elements provide a quick understanding of the details in each section.</li>
//  <li>Heading tags should be in order. That means an `<h1>` is followed by an `<h2>`, an `<h2>` is followed by a `<h2>` or `<h3>` and so on. It *is* ok to skip heading levels when going up in order (ex. `<h4>` to `<h1>`).</li>
//  <li>Keep heading tags consistent. Inconsistently implementing headings can create confusion and frustration for users using assistive technologies.</li>
//  <li>Do not style text to give the visual appearance of headings - use actual heading tags.</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation" target="_blank">1.3.1 Info and Relationships</a> - Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text. (Level A)</blockquote>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">2.4.6 Headings and Labels</a> - Headings and labels describe topic or purpose. (Level AA)</blockquote><hr>
//
//
//
// Markup: headings.twig
//
// Style guide: Structure.headings

// Import site utilities.
@import '../../global/utils/init';

