// Headings
//
// <ul>
//  <li>Navigating through the `<h1>` and `<h2>` give a user an overview of a page and how its content is structured. The `<h3>` through `<h6>` elements provide a quick understanding of the details in each section.</li>
//  <li>Heading tags should be in order. That means an `<h1>` is followed by an `<h2>`, an `<h2>` is followed by a `<h2>` or `<h3>` and so on. It *is* ok to skip heading levels when going up in order (ex. `<h4>` to `<h1>`).</li>
//  <li>Keep heading tags consistent. Inconsistently implementing headings can create confusion and frustration for users using assistive technologies.</li>
//  <li>Do not style text to give the visual appearance of headings - use actual heading tags.</li>
// </ul>
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#headings_guide">WCAG 2.0 Guidelines</a></h3><div id="headings_guide" class="atblock__panel guidelines"><p><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv-all" target="_blank">1.1.1 Non-text Content</a>: All non-text content that is presented to the user has a text alternative that serves the equivalent purpose (some exceptions). (Level A)<br><br><strong>Note:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.</p></div><div class="markup"></div></section>
//
//
//
// Markup: headings.twig
//
// Style guide: Structure.headings

// Import site utilities.
@import '../../global/utils/init';

// Header styles set in the _base.scss file
