<section class="site-logo-section">
  <h3>Example #1: Logo as a link</h3>
  <div class="site-logo">
    <a href="#">
      <img src="../assets/blueicon.jpg" alt="Accessible Icon Project logo, blue background with white icon of a person in a wheelchair"></img>
    </a>
  </div>
  <div class="break"></div>
  <h3>Example #2: Logo as a link with visible link text</h3>
  <div class="site-logo">
    <a href="#">
      <img src="../assets/blackicon.jpg" alt=""></img>
      <h1>Accessible Icon Project</h1>
    </a>
  </div>
  <div class="break"></div>
  <h3>Example #3: Logo as an image</h3>
  <img src="../assets/site_logo.jpg" alt="Accessible Style Guide logo: Red badge reading 'A11Y' positioned above red text reading 'style guide'"></img>
</section>
