<section class="site-logo-section">
  <div class="site-logo" title="accessible logo component">
    <a href="#" title="accessible site logo component">
      <img src="../assets/blueicon.jpg" alt="Accessible logo with dark blue background and white stencil of a person in a wheelchair traveling at high speeds"></img>
      <h1>Awesome Site</h1>
    </a>
  </div>
</section>
