{# To avoid the screenreader repeating the alt tag and the link text 
  with the same information, the link text describes the destination.
  #}
<section class="site-logo-section">
  <div class="site-logo" title="accessible logo component">
    <a href="#" title="accessible site logo component">
      <img src="../assets/site_logo.jpg" alt="Accessible logo with red icon displaying A11y above red text displaying style guide"></img>
      <h1>Site Home</h1>
    </a>
  </div>
</section>
