<div class="highlight-blocks">
  <div class="three-photos">
    <div class="field-content">
      <h2 class="pane-title">Upcoming Events</h2>
      <ul>
        <li class="col">
          <div class="highlight__image image-overlay blue-overlay">
            <img src="https://picsum.photos/350/350">
            <div class="highlight__img-overlay">10 snowy day activities</div>
          </div>
        </li>
        <li class="col">
          <div class="highlight__image image-overlay green-overlay">
            <img src="https://picsum.photos/350/350">
            <div class="highlight__img-overlay">Quotes from famous people</div>
          </div>
        </li>
        <li class="col">
          <div class="highlight__image image-overlay yellow-overlay">
            <img src="https://picsum.photos/350/350">
            <div class="highlight__img-overlay">Quit dreaming and make it happen</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>