<div class="blocks-color">
  <div class="three-photos">
    <div class="field-content">
      <ul>
        <li class="col">
          <div class="highlight__image image-overlay blue-overlay">
            <img src="http://placecage.com/350/500" alt="Randomly generated image of the zany Nic Cage.">
            <div class="highlight__img-overlay">Nic Cage</div>
          </div>
        </li>
        <li class="col">
          <div class="highlight__image image-overlay green-overlay">
            <img src="http://www.stevensegallery.com/350/500" alt="Randomly generated photo of Steven Segal.">
            <div class="highlight__img-overlay">Steven Segal</div>
          </div>
        </li>
        <li class="col">
          <div class="highlight__image image-overlay purple-overlay">
            <img src="http://fillmurray.com/350/500" alt="randomly generated image of the fabulous Bill Murray.">
            <div class="highlight__img-overlay">Bill Murray</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>