@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.accordion__heading {
  margin: 0; }

.accordion__trigger {
  background-repeat: no-repeat;
  background-image: url("../assets/plus_round_red.png");
  background-size: 28px;
  background-position: 97% 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.5;
  margin: 0.5rem 0;
  width: 100%;
  text-align: left;
  padding: 10px 40px 10px 16px;
  font-size: 1rem;
  color: #000000;
  background-color: #f7f7f7;
  border: 1px solid #bbbbbb;
  display: block;
  text-decoration: none;
  text-transform: none; }
  @media (min-width: 55em) {
    .accordion__trigger {
      background-size: 32px;
      background-position: 98% 50%; } }
  .accordion__trigger[aria-expanded='true'] {
    content: '';
    background: url("../assets/minus_round_red.png");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-color: #f7f7f7; }
    @media (min-width: 55em) {
      .accordion__trigger[aria-expanded='true'] {
        background-size: 32px;
        background-position: 98% 50%; } }
  .accordion__trigger:hover, .accordion__trigger:focus {
    background-color: #e00000;
    border: 1px solid #a51323; }

.accordion__content {
  display: none;
  padding: 10px 16px; }
