.breadcrumb {
  padding: 1rem;
  margin-bottom: 1rem;
  clear: both;
  list-style: none; }
  .breadcrumb .breadcrumb-item {
    float: left;
    list-style: none; }
    .breadcrumb .breadcrumb-item::after {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #464646;
      font-weight: normal;
      content: ' / '; }
    .breadcrumb .breadcrumb-item:last-child::after {
      display: none; }
    .breadcrumb .breadcrumb-item a[aria-current="page"] {
      color: #464646; }
