[type='submit'],
[role='button'],
button {
  display: inline-block;
  background-color: #e00000;
  color: #ffffff;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 3px solid #e00000;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  height: 48px;
  position: relative;
  margin: 0.5rem 0;
  -webkit-appearance: inherit; }
  [type='submit']:hover, [type='submit']:focus,
  [role='button']:hover,
  [role='button']:focus,
  button:hover,
  button:focus {
    background-color: #a51323;
    color: #ffffff;
    border: 3px solid #a51323;
    text-decoration: underline;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  [type='submit'] [role='button'][aria-pressed='true'],
  [role='button'] [role='button'][aria-pressed='true'],
  button [role='button'][aria-pressed='true'] {
    color: #ffffff;
    background: #888b8d; }

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: inherit; }

.button {
  display: inline-block;
  background-color: #e00000;
  color: #ffffff;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 3px solid #e00000;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  height: 48px;
  position: relative;
  margin: 0.5rem 0;
  line-height: 0.9; }
  .button:hover, .button:focus {
    background-color: #a51323;
    color: #ffffff;
    border: 3px solid #a51323;
    text-decoration: underline;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

.button--outline {
  display: inline-block;
  background-color: #e00000;
  color: #ffffff;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 3px solid #e00000;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  height: 48px;
  position: relative;
  margin: 0.5rem 0;
  height: 50px;
  color: #e00000;
  background-color: transparent;
  border: 3px solid #e00000; }
  .button--outline:hover, .button--outline:focus {
    background-color: #a51323;
    color: #ffffff;
    border: 3px solid #a51323;
    text-decoration: underline;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .button--outline:hover, .button--outline:focus {
    background-color: transparent;
    color: #a51323;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .button--outline.magnifyingglass {
    vertical-align: middle; }

.buttons--center {
  text-align: center;
  clear: both; }

.buttons--right {
  text-align: right;
  clear: both; }

.buttons--left {
  text-align: left;
  clear: both; }

.button-icon {
  display: inline-block;
  background-color: #e00000;
  color: #ffffff;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 3px solid #e00000;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  height: 48px;
  position: relative;
  margin: 0.5rem 0;
  line-height: 0.9;
  padding: 0.8rem 2rem 0.8rem 2.5rem; }
  .button-icon:hover, .button-icon:focus {
    background-color: #a51323;
    color: #ffffff;
    border: 3px solid #a51323;
    text-decoration: underline;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .button-icon::before {
    float: left;
    text-align: center;
    font-size: 1.5rem;
    margin: -0.25rem 0.5rem 0.5rem -1rem;
    padding: 0 0.2rem;
    pointer-events: none; }
  .button-icon.button--outline {
    display: inline-block;
    background-color: #e00000;
    color: #ffffff;
    padding: 0.8rem 1rem;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border: 3px solid #e00000;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    height: 48px;
    position: relative;
    margin: 0.5rem 0;
    height: 50px;
    color: #e00000;
    background-color: transparent;
    border: 3px solid #e00000;
    line-height: 1.3;
    padding: 0.8rem 2rem 0.8rem 2.5rem; }
    .button-icon.button--outline:hover, .button-icon.button--outline:focus {
      background-color: #a51323;
      color: #ffffff;
      border: 3px solid #a51323;
      text-decoration: underline;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
    .button-icon.button--outline:hover, .button-icon.button--outline:focus {
      background-color: transparent;
      color: #a51323;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .button-icon.heart::before {
    content: '\2764';
    color: #ffa0e5; }
  .button-icon.heart:hover::before {
    color: #7fffd4; }
  .button-icon.wheelchair::before {
    content: '\267F';
    color: #464646; }
