@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#kss-node .kss-section {
  margin-bottom: 2rem; }
  #kss-node .kss-section:first-child, #kss-node .kss-section:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 1rem; }

#kss-node .kss-depth-2 {
  margin: 0;
  background: url("../assets/hr.png") repeat-x 0 0;
  border: 0;
  float: left;
  clear: both;
  width: 100%; }

#kss-node .kss-modifier {
  border-top: 0; }

#kss-node .kss-wrapper {
  margin-left: 0;
  position: relative;
  max-width: 1440px;
  padding: 0; }

#kss-node .kss-content {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 2rem;
  clear: both; }
  @media (min-width: 40em) {
    #kss-node .kss-content {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      margin: 0 3rem 0 325px;
      clear: none; } }

#kss-node .kss-sidebar-collapsed + .kss-content {
  margin: 0 3rem; }
  @media (min-width: 40em) {
    #kss-node .kss-sidebar-collapsed + .kss-content {
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      margin: 0 3rem 0 6rem; } }

#kss-node .kss-modifier-original .kss-modifier-example {
  padding: 1rem 0; }

#kss-node .kss-overview code,
#kss-node .kss-description code,
#kss-node .kss-description pre {
  padding: 2px 6px;
  background: #f4f4f4;
  border-radius: 4px;
  font-size: 14px; }

#kss-node .kss-description blockquote {
  margin-bottom: 2rem; }

#kss-node .kss-description h3 {
  font-weight: normal;
  font-style: normal;
  margin: 20px 0 0;
  font-size: 16px; }
  @media (min-width: 55em) {
    #kss-node .kss-description h3 {
      font-size: 20px; } }

#kss-node .kss-markup pre {
  border-radius: 0 4px 4px 0;
  border: 2px solid #f4f4f4;
  border-left: 5px solid #e00000; }

#kss-node .kss-sidebar.kss-fixed,
#kss-node .kss-sidebar {
  background: #f4f4f4;
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  float: left;
  height: 100%; }
  #kss-node .kss-sidebar.kss-fixed .kss-sidebar-inner,
  #kss-node .kss-sidebar .kss-sidebar-inner {
    text-decoration: none;
    padding-top: 0;
    margin-top: -1rem; }
  @media (min-width: 40em) {
    #kss-node .kss-sidebar.kss-fixed,
    #kss-node .kss-sidebar {
      height: 100% !important;
      width: 275px;
      position: fixed;
      padding: 2.5rem 2rem;
      overflow-y: auto !important; }
      #kss-node .kss-sidebar.kss-fixed .kss-nav,
      #kss-node .kss-sidebar .kss-nav {
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        max-height: 100%;
        overflow-y: auto !important;
        clear: both;
        width: 100%; } }

#kss-node .kss-menu > .kss-menu-item {
  padding: 0.5rem;
  border-bottom: 1px solid #bbbbbb; }
  #kss-node .kss-menu > .kss-menu-item:last-child {
    border-bottom: 0; }

#kss-node .kss-menu,
#kss-node .kss-menu-child,
#kss-node .kss-menu > .kss-menu-item > a {
  border-bottom: 0; }
  #kss-node .kss-menu li,
  #kss-node .kss-menu-child li,
  #kss-node .kss-menu > .kss-menu-item > a li {
    list-style: none; }
  #kss-node .kss-menu > .kss-menu-item > a > .kss-name,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name {
    text-align: left;
    color: #464646;
    font-weight: 100; }
    #kss-node .kss-menu > .kss-menu-item > a > .kss-name:hover, #kss-node .kss-menu > .kss-menu-item > a > .kss-name:focus, #kss-node .kss-menu > .kss-menu-item > a > .kss-name:active,
    #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name:hover,
    #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name:focus,
    #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name:active,
    #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name:hover,
    #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name:focus,
    #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name:active {
      color: #464646;
      text-decoration: underline; }

#kss-node .kss-menu-child {
  padding: 0; }

#kss-node h1 > a,
#kss-node h2 > a,
#kss-node h3 > a,
#kss-node .kss-menu > .kss-menu-item > a > .kss-ref,
#kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref,
#kss-node .kss-overview a,
#kss-node .kss-description a {
  text-align: left;
  color: #e00000;
  text-decoration: none;
  font-weight: bold; }
  #kss-node h1 > a:hover, #kss-node h1 > a:focus, #kss-node h1 > a:active,
  #kss-node h2 > a:hover,
  #kss-node h2 > a:focus,
  #kss-node h2 > a:active,
  #kss-node h3 > a:hover,
  #kss-node h3 > a:focus,
  #kss-node h3 > a:active,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-ref:hover,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-ref:focus,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-ref:active,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref:hover,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref:focus,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref:active,
  #kss-node .kss-overview a:hover,
  #kss-node .kss-overview a:focus,
  #kss-node .kss-overview a:active,
  #kss-node .kss-description a:hover,
  #kss-node .kss-description a:focus,
  #kss-node .kss-description a:active {
    color: #a51323;
    text-decoration: underline; }

#kss-node .kss-doc-title {
  text-align: left;
  color: #464646;
  text-decoration: none;
  margin: 0; }

#kss-node h2,
#kss-node h3 {
  text-align: left;
  color: #464646;
  text-decoration: none;
  font-weight: normal; }

#kss-node .kss-depth-1 .kss-title,
#kss-node .kss-overview > h1:first-child {
  font-weight: 100;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
  font-size: 30px; }
  @media (min-width: 55em) {
    #kss-node .kss-depth-1 .kss-title,
    #kss-node .kss-overview > h1:first-child {
      font-size: 38px; } }

#kss-node .kss-depth-2 .kss-title {
  font-weight: 100;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
  font-size: 24px; }
  @media (min-width: 55em) {
    #kss-node .kss-depth-2 .kss-title {
      font-size: 28px; } }

#kss-node .kss-header {
  background: transparent; }
  #kss-node .kss-header .site-logo {
    float: left;
    margin-top: 1rem;
    width: 50%;
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 1rem; }
    @media (min-width: 40em) {
      #kss-node .kss-header .site-logo {
        width: 100%;
        max-width: 215px;
        margin-top: 1rem;
        margin-bottom: 0; } }

#kss-node .kss-overview h1,
#kss-node .kss-overview h2,
#kss-node .kss-overview h3,
#kss-node .kss-overview h4,
#kss-node .kss-overview h5,
#kss-node .kss-overview h6,
#kss-node h1,
#kss-node h2,
#kss-node h3,
#kss-node h4,
#kss-node h5,
#kss-node h6 {
  font-weight: normal; }

#kss-node .kss-overview h1 {
  margin: 0 0 30px;
  padding-bottom: 10px;
  font-size: 30px; }
  @media (min-width: 55em) {
    #kss-node .kss-overview h1 {
      font-size: 38px; } }

#kss-node .kss-overview h2 {
  font-size: 24px; }
  @media (min-width: 55em) {
    #kss-node .kss-overview h2 {
      font-size: 28px; } }

#kss-node blockquote {
  font-style: italic; }

.kss-sidebar,
.nav-btn {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: visible !important; }

.kss-sidebar {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }

.no-js .nav-btn {
  display: none; }

.nav-btn {
  display: none; }
  @media (min-width: 40em) {
    .nav-btn {
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      background: url("../assets/chevron_left_round_red.png") no-repeat;
      right: 10px;
      top: 2px;
      background-size: 32px;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      min-height: 0; }
      .nav-btn:hover, .nav-btn:focus, .nav-btn:active {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        cursor: pointer;
        -webkit-box-shadow: 0px 3px 15px #888b8d;
        box-shadow: 0px 3px 15px #888b8d;
        border-radius: 75%; } }

.kss-menu {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: visible; }

@media (min-width: 40em) {
  .kss-sidebar-collapsed {
    -webkit-transform: translateX(-82%);
    -ms-transform: translateX(-82%);
    transform: translateX(-82%);
    overflow-y: hidden !important; }
    .kss-sidebar-collapsed .kss-menu,
    .kss-sidebar-collapsed .kss-header {
      opacity: 0;
      visibility: hidden; } }

@media (min-width: 40em) {
  #kss-node .kss-sidebar.kss-fixed.kss-sidebar-collapsed,
  #kss-node .kss-sidebar-collapsed {
    overflow-y: hidden !important; } }

.kss-sidebar-collapsed .nav-btn {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background: url("../assets/chevron_right_round_red.png") no-repeat;
  background-size: 32px;
  right: 40px;
  top: 2px;
  background-position: 50%;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  min-height: 0; }
  .kss-sidebar-collapsed .nav-btn:hover, .kss-sidebar-collapsed .nav-btn:focus, .kss-sidebar-collapsed .nav-btn:active {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 15px #888b8d;
    box-shadow: 0px 3px 15px #888b8d;
    border-radius: 75%; }

.kss-skip-link {
  background: #e00000;
  border: 3px solid #a51323;
  color: #ffffff;
  display: inline-block;
  left: 0;
  list-style: none;
  opacity: 1;
  padding: 0.8rem;
  pointer-events: none;
  position: fixed;
  text-decoration: underline;
  top: -100px;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  text-transform: capitalize; }
  .kss-skip-link:focus, .kss-skip-link:active {
    color: #ffffff;
    opacity: 1;
    top: 0; }

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #464646; }

.break {
  margin: 3rem 0;
  border-bottom: 1px solid #f4f4f4;
  clear: both;
  float: left;
  width: 100%; }

.markup {
  margin: 1.5rem 0;
  border-bottom: 1px solid #f4f4f4; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.bold {
  font-weight: bold !important; }

.js-show-markup {
  margin: 0.5rem 0; }

abbr[title] {
  text-decoration: none; }

.copied {
  color: #42dc42;
  display: none; }

.atblock {
  position: relative; }

.atblock__title,
.atblock__panel {
  overflow: hidden;
  position: relative;
  padding: 0 0.5rem;
  margin: 0 !important; }
  .atblock__title p,
  .atblock__panel p {
    margin: 10px 0 15px !important; }
  .atblock__title ul,
  .atblock__panel ul {
    margin: 0 !important; }
  .atblock__title.guidelines p,
  .atblock__panel.guidelines p {
    margin: 10px 10px 15px 55px !important;
    border-left: 2px solid #f4f4f4;
    padding-left: 15px;
    position: relative; }

.atblock__title + .atblock__panel {
  max-height: 0;
  visibility: hidden; }

.atblock__title + .atblock__panel[aria-hidden='false'],
.no-js .atblock__title + .atblock__panel:target {
  max-height: 100%;
  visibility: visible;
  padding-bottom: 1rem;
  padding-left: 1rem; }

.atblock__title__trigger {
  font-size: 18px;
  font-weight: normal !important;
  padding: 0;
  background-repeat: no-repeat;
  padding-right: 40px;
  display: inline-block !important;
  background-image: url("../assets/plus_round_red.png");
  background-size: 28px;
  background-position: 97% 0%;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  font-family: 'Open Sans', 'Arial', sans-serif;
  height: 30px;
  line-height: 1.5;
  margin: 0.5rem 0; }
  @media (min-width: 55em) {
    .atblock__title__trigger {
      font-size: 20px;
      background-size: 32px;
      background-position: 100% 50%; } }
  .atblock__title__trigger[aria-expanded='true'] {
    content: '';
    background: url("../assets/minus_round_red.png");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 97% 0%; }
    @media (min-width: 55em) {
      .atblock__title__trigger[aria-expanded='true'] {
        background-size: 32px;
        background-position: 100% 50%; } }
  .atblock__title__trigger:hover, .atblock__title__trigger:focus, .atblock__title__trigger:active {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent; }

.guidelines {
  margin-left: 10px;
  position: relative; }
  .guidelines::before {
    content: '';
    background: url("../assets/w3c.png");
    background-size: 50px;
    float: left;
    clear: both;
    width: 50px;
    margin: auto;
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 10px;
    right: auto;
    text-align: left;
    background-repeat: no-repeat; }

a[target='_blank']::after {
  content: '';
  background: url("../assets/icon_new-tab.png");
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 0 0 -2px 5px;
  width: 15px;
  height: 15px;
  display: inline-block; }

.social-link-twitter {
  content: '';
  background: url("../assets/icon_twitter.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  margin: 0.5rem; }
  .social-link-twitter[target='_blank']::after {
    display: none; }

.social-link-github {
  content: '';
  background: url("../assets/icon_github.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  margin: 0.5rem; }
  .social-link-github[target='_blank']::after {
    display: none; }

.social-link-out {
  position: absolute;
  right: 2rem;
  top: 2rem; }

.back-to-top {
  background-color: transparent;
  bottom: 12px;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  right: 9px;
  -webkit-transform: translateY(130%);
  -ms-transform: translateY(130%);
  transform: translateY(130%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  background-image: url("../assets/chevron_up_round_red.png");
  background-repeat: no-repeat;
  background-size: 42px;
  border-radius: 50%;
  background-position: 50%; }
  .back-to-top:hover, .back-to-top:focus, .back-to-top:active {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 15px #888b8d;
    box-shadow: 0px 3px 15px #888b8d;
    border-radius: 50%; }

.show-back-to-top .back-to-top {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.kss-menu {
  display: none; }
  .kss-menu li {
    list-style: none;
    padding: 0 10px; }
  .kss-menu a {
    text-decoration: none; }
  .kss-menu.active {
    display: block;
    clear: both; }
  .kss-menu.active li {
    display: block;
    clear: both; }
  @media (min-width: 40em) {
    .kss-menu {
      display: block; }
      .kss-menu #toggle-menu {
        display: none; } }

.kss-nav {
  margin-bottom: 0 !important; }
  .kss-nav .menu-toggle {
    float: right;
    margin-top: 1.5rem; }
  .kss-nav .navbar-mobile-icon {
    display: block; }
    .kss-nav .navbar-mobile-icon button {
      background: #e00000; }
    @media (min-width: 40em) {
      .kss-nav .navbar-mobile-icon {
        display: none; } }

/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Arial', sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
  *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  letter-spacing: 0.02em; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Headings are always 'just a bit bigger' than body copy.
 * See: http://csswizardry.com/2016/02/managing-typography-on-large-apps/
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-weight: 100; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.15rem; }

h4,
body,
p,
li {
  font-size: 1rem; }

h5 {
  font-size: 0.85rem; }

h6 {
  font-size: 0.65rem; }

h1 > a,
h2 > a,
h3 > a,
a {
  text-align: left;
  margin-bottom: 0;
  color: #e00000;
  text-decoration: none;
  font-weight: normal; }
  h1 > a:hover, h1 > a:focus, h1 > a:active,
  h2 > a:hover,
  h2 > a:focus,
  h2 > a:active,
  h3 > a:hover,
  h3 > a:focus,
  h3 > a:active,
  a:hover,
  a:focus,
  a:active {
    color: #a51323;
    text-decoration: underline; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1rem;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  color: #e00000;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #a51323;
    text-decoration: underline; }

p {
  margin: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: 0;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border: 0;
  height: auto;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
  padding: 1px; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: 'Open Sans', 'Arial', sans-serif;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  position: relative; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Lists
   ========================================================================== */
/**
 * Unset default list margin and padding because if not
 * we'll have to unset it every. single. time.
 */
ul,
ol,
dl {
  margin: 0;
  padding: 0 0 0 1.2rem; }

li {
  margin: 0;
  padding: 0; }
