.navbar {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  overflow: hidden; }
  .navbar .menu3 a {
    color: #464646;
    padding: 10px 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .navbar .menu3 a:last-child {
      border-right: 0; }
      .navbar .menu3 a:last-child:hover, .navbar .menu3 a:last-child:active {
        border-right: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
    .navbar .menu3 a:first-child {
      border-left: 0; }
      .navbar .menu3 a:first-child:hover, .navbar .menu3 a:first-child:active {
        border-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
    .navbar .menu3 a:hover, .navbar .menu3 a:active {
      background: #e00000;
      color: #ffffff;
      text-decoration: none; }
  .navbar ul {
    padding: 0; }
    .navbar ul li {
      padding-bottom: 0; }
  .navbar .nav-item {
    display: table-cell; }
