.nav,
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1; }

.nav {
  float: left;
  background: #f4f4f4;
  border-radius: 4px; }

.nav ul {
  position: absolute;
  top: 2.5em;
  left: -9999px;
  opacity: 0;
  transition: 0.1s linear opacity;
  min-width: 150px;
  background: #464646;
  background: rgba(0, 0, 0, 0.9); }

.nav li {
  float: left;
  position: relative;
  list-style: none; }

/* Top level nav items */
.nav li > a {
  float: left;
  padding: 10px 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #464646;
  text-decoration: none; }

.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
  background: #e00000;
  color: #ffffff; }

.nav > li:first-child > a {
  border-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.nav > li:last-child > a {
  border-right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.nav li:hover ul,
.nav li:focus ul,
ul.show-menu {
  left: 0;
  opacity: 0.95;
  margin-top: 4px; }

.nav ul li {
  float: none;
  position: static; }

.nav ul a {
  float: none;
  display: block;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #464646;
  border-width: 0 0 1px;
  transition: 0.1s linear all; }

.nav ul,
.nav ul li:last-child a {
  border: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.nav ul a:hover,
.nav ul a:focus {
  background: #e00000;
  color: #ffffff;
  text-shadow: none; }

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none; }
