@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.navbar-mobile-icon {
  /* Menu toggle styles. */
  /* Text meant only for screen readers. */ }
  .navbar-mobile-icon button,
  .navbar-mobile-icon input[type='button'] {
    border: 0;
    background: #464646;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.5em;
    text-transform: uppercase;
    border-radius: 4px; }
  .navbar-mobile-icon .menu-toggle {
    padding: 1rem 1rem 0.65rem;
    height: auto;
    text-decoration: none; }
  .navbar-mobile-icon .icon {
    display: inline-block;
    fill: currentColor;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    position: relative;
    top: -0.0625rem; }
  .navbar-mobile-icon .icon-menu-toggle {
    width: 2rem;
    height: 2rem;
    top: -3px; }
  .navbar-mobile-icon .svg-menu-toggle .line {
    opacity: 1;
    -webkit-transform: rotate(0) translateY(0) translateX(0);
    -ms-transform: rotate(0) translateY(0) translateX(0);
    transform: rotate(0) translateY(0) translateX(0);
    -webkit-transform-origin: 1rem 1em;
    -ms-transform-origin: 1rem 1em;
    transform-origin: 1rem 1em;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .navbar-mobile-icon .svg-menu-toggle .line-1 {
    -webkit-transform-origin: 1rem 2.5rem;
    -ms-transform-origin: 1rem 2.5rem;
    transform-origin: 1rem 2.5rem; }
  .navbar-mobile-icon .svg-menu-toggle .line-3 {
    -webkit-transform-origin: 1rem 4rem;
    -ms-transform-origin: 1rem 4rem;
    transform-origin: 1rem 4rem; }
  .navbar-mobile-icon .menu-toggle.opened svg {
    left: -1px; }
  .navbar-mobile-icon .menu-toggle.opened .svg-menu-toggle .line-1 {
    -webkit-transform: rotate(45deg) translateY(0) translateX(0);
    -ms-transform: rotate(45deg) translateY(0) translateX(0);
    transform: rotate(45deg) translateY(0) translateX(0); }
  .navbar-mobile-icon .menu-toggle.opened .svg-menu-toggle .line-2 {
    opacity: 0; }
  .navbar-mobile-icon .menu-toggle.opened .svg-menu-toggle .line-3 {
    -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
    -ms-transform: rotate(-45deg) translateY(0) translateX(0);
    transform: rotate(-45deg) translateY(0) translateX(0); }
  .navbar-mobile-icon .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden; }
