/* MENU STUFF */
.nav,
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1; }

/* Top level nav */
.nav {
  float: left;
  background: #dddddd;
  background-image: linear-gradient(top, #dddddd, #888b8d);
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

/* Dropdowns */
.nav ul {
  position: absolute;
  top: 2.5em;
  left: -9999px;
  opacity: 0;
  transition: 0.1s linear opacity;
  min-width: 150px;
  background: #464646;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); }

.nav li {
  float: left;
  position: relative;
  list-style: none; }

/* Top level nav items */
.nav li > a {
  float: left;
  padding: 10px 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #464646;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none; }

/* Top level hover state, preserve hover state when hovering dropdown  */
.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
  background: #e00000;
  color: #ffffff; }

/* Rounded corners for first top level nav item */
.nav > li:first-child > a {
  border-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

/* Rounded corners for last top level nav item */
.nav > li:last-child > a {
  border-right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.nav li:hover ul,
.nav li:focus ul,
.show-menu {
  left: 0;
  opacity: 0.9; }

.nav ul li {
  float: none;
  position: static; }

.nav ul a {
  float: none;
  display: block;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #464646;
  border-width: 0 0 1px;
  transition: 0.1s linear all; }

/* Rounded corners for ul and last list item */
.nav ul,
.nav ul li:last-child a {
  border: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.nav ul a:hover,
.nav ul a:focus {
  background: #e00000;
  color: #ffffff; }
