@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.radio.row label {
  display: block;
  float: left; }

.radio.column {
  margin-top: -1.5rem;
  padding: 0 1rem 1rem; }
  .radio.column label {
    display: block; }

.radio input[type='radio'] {
  opacity: 0; }

.radio label {
  position: relative;
  padding: 0 3rem 0 2rem; }

.radio label::before,
.radio label::after {
  position: absolute;
  content: '';
  display: inline-block; }

.radio label::before {
  height: 22px;
  width: 22px;
  left: 0;
  top: 1px;
  background: #f4f4f4;
  border-radius: 50%; }

.radio label::after {
  left: 4px;
  top: 5px;
  width: 13px;
  height: 13px;
  border: 7px solid #e00000;
  border-radius: 50%; }

.radio input[type='radio'] + label::after {
  content: none; }

.radio input[type='radio']:checked + label::after {
  content: ''; }

.radio input[type='radio']:focus + label::before {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color; }
