.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  margin-left: -2px; }

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 15px;
  border: 0;
  background: #f4f4f4;
  color: #e00000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  border-radius: 4px; }
  .select select:hover, .select select:focus {
    color: #464646;
    background: #f4f4f4; }
  .select select:disabled {
    opacity: 0.5;
    pointer-events: none; }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
    border-top-color: #464646; }
  .select select:disabled ~ .select__arrow {
    border-top-color: #f4f4f4; }

.select__arrow {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 10px 8px 0;
  border-color: #e00000 transparent transparent; }
