@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#kss-node .kss-section {
  margin-bottom: 2rem; }
  #kss-node .kss-section:first-child, #kss-node .kss-section:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 1rem; }

#kss-node .kss-depth-2 {
  margin: 0;
  background: url("../assets/hr.png") repeat-x 0 0;
  border: 0;
  float: left;
  clear: both;
  width: 100%; }

#kss-node .kss-modifier {
  border-top: 0; }

#kss-node .kss-wrapper {
  margin-left: 0;
  position: relative;
  max-width: 1440px;
  padding: 0; }

#kss-node .kss-content {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 2rem;
  clear: both; }
  @media (min-width: 40em) {
    #kss-node .kss-content {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      margin: 0 3rem 0 325px;
      clear: none; } }

#kss-node .kss-sidebar-collapsed + .kss-content {
  margin: 0 3rem; }
  @media (min-width: 40em) {
    #kss-node .kss-sidebar-collapsed + .kss-content {
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      margin: 0 3rem 0 6rem; } }

#kss-node .kss-modifier-original .kss-modifier-example {
  padding: 1rem 0; }

#kss-node .kss-overview code,
#kss-node .kss-description code,
#kss-node .kss-description pre {
  padding: 2px 6px;
  background: #f4f4f4;
  border-radius: 4px;
  font-size: 14px; }

#kss-node .kss-description blockquote {
  margin-bottom: 2rem; }

#kss-node .kss-description h3 {
  font-weight: normal;
  font-style: normal;
  margin: 20px 0 0;
  font-size: 16px; }
  @media (min-width: 55em) {
    #kss-node .kss-description h3 {
      font-size: 20px; } }

#kss-node .kss-markup pre {
  border-radius: 0 4px 4px 0;
  border: 2px solid #f4f4f4;
  border-left: 5px solid #e00000; }

#kss-node .kss-sidebar.kss-fixed,
#kss-node .kss-sidebar {
  background: #f4f4f4;
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  float: left;
  height: 100%; }
  #kss-node .kss-sidebar.kss-fixed .kss-sidebar-inner,
  #kss-node .kss-sidebar .kss-sidebar-inner {
    text-decoration: none;
    padding-top: 0;
    margin-top: -1rem; }
  @media (min-width: 40em) {
    #kss-node .kss-sidebar.kss-fixed,
    #kss-node .kss-sidebar {
      height: 100% !important;
      width: 275px;
      position: fixed;
      padding: 2.5rem 2rem;
      overflow-y: auto !important; }
      #kss-node .kss-sidebar.kss-fixed .kss-nav,
      #kss-node .kss-sidebar .kss-nav {
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        max-height: 100%;
        overflow-y: auto !important;
        clear: both;
        width: 100%; } }

#kss-node .kss-menu > .kss-menu-item {
  padding: 0.5rem;
  border-bottom: 1px solid #bbbbbb; }
  #kss-node .kss-menu > .kss-menu-item:last-child {
    border-bottom: 0; }

#kss-node .kss-menu,
#kss-node .kss-menu-child,
#kss-node .kss-menu > .kss-menu-item > a {
  border-bottom: 0; }
  #kss-node .kss-menu li,
  #kss-node .kss-menu-child li,
  #kss-node .kss-menu > .kss-menu-item > a li {
    list-style: none; }
  #kss-node .kss-menu > .kss-menu-item > a > .kss-name,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name {
    text-align: left;
    color: #464646;
    font-weight: 100; }
    #kss-node .kss-menu > .kss-menu-item > a > .kss-name:hover, #kss-node .kss-menu > .kss-menu-item > a > .kss-name:focus, #kss-node .kss-menu > .kss-menu-item > a > .kss-name:active,
    #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name:hover,
    #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name:focus,
    #kss-node .kss-menu-child > .kss-menu-item > a > .kss-name:active,
    #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name:hover,
    #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name:focus,
    #kss-node .kss-menu > .kss-menu-item > a > .kss-menu-item > a > .kss-name:active {
      color: #464646;
      text-decoration: underline; }

#kss-node .kss-menu-child {
  padding: 0; }

#kss-node h1 > a,
#kss-node h2 > a,
#kss-node h3 > a,
#kss-node .kss-menu > .kss-menu-item > a > .kss-ref,
#kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref,
#kss-node .kss-overview a,
#kss-node .kss-description a {
  text-align: left;
  color: #e00000;
  text-decoration: none;
  font-weight: bold; }
  #kss-node h1 > a:hover, #kss-node h1 > a:focus, #kss-node h1 > a:active,
  #kss-node h2 > a:hover,
  #kss-node h2 > a:focus,
  #kss-node h2 > a:active,
  #kss-node h3 > a:hover,
  #kss-node h3 > a:focus,
  #kss-node h3 > a:active,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-ref:hover,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-ref:focus,
  #kss-node .kss-menu > .kss-menu-item > a > .kss-ref:active,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref:hover,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref:focus,
  #kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref:active,
  #kss-node .kss-overview a:hover,
  #kss-node .kss-overview a:focus,
  #kss-node .kss-overview a:active,
  #kss-node .kss-description a:hover,
  #kss-node .kss-description a:focus,
  #kss-node .kss-description a:active {
    color: #a51323;
    text-decoration: underline; }

#kss-node .kss-doc-title {
  text-align: left;
  color: #464646;
  text-decoration: none;
  margin: 0; }

#kss-node h2,
#kss-node h3 {
  text-align: left;
  color: #464646;
  text-decoration: none;
  font-weight: normal; }

#kss-node .kss-depth-1 .kss-title,
#kss-node .kss-overview > h1:first-child {
  font-weight: 100;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
  font-size: 30px; }
  @media (min-width: 55em) {
    #kss-node .kss-depth-1 .kss-title,
    #kss-node .kss-overview > h1:first-child {
      font-size: 38px; } }

#kss-node .kss-depth-2 .kss-title {
  font-weight: 100;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
  font-size: 24px; }
  @media (min-width: 55em) {
    #kss-node .kss-depth-2 .kss-title {
      font-size: 28px; } }

#kss-node .kss-header {
  background: transparent; }
  #kss-node .kss-header .site-logo {
    float: left;
    margin-top: 1rem;
    width: 50%;
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 1rem; }
    @media (min-width: 40em) {
      #kss-node .kss-header .site-logo {
        width: 100%;
        max-width: 215px;
        margin-top: 1rem;
        margin-bottom: 0; } }

#kss-node .kss-overview h1,
#kss-node .kss-overview h2,
#kss-node .kss-overview h3,
#kss-node .kss-overview h4,
#kss-node .kss-overview h5,
#kss-node .kss-overview h6,
#kss-node h1,
#kss-node h2,
#kss-node h3,
#kss-node h4,
#kss-node h5,
#kss-node h6 {
  font-weight: normal; }

#kss-node .kss-overview h1 {
  margin: 0 0 30px;
  padding-bottom: 10px;
  font-size: 30px; }
  @media (min-width: 55em) {
    #kss-node .kss-overview h1 {
      font-size: 38px; } }

#kss-node .kss-overview h2 {
  font-size: 24px; }
  @media (min-width: 55em) {
    #kss-node .kss-overview h2 {
      font-size: 28px; } }

#kss-node blockquote {
  font-style: italic; }

.kss-sidebar,
.nav-btn {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: visible !important; }

.kss-sidebar {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }

.no-js .nav-btn {
  display: none; }

.nav-btn {
  display: none; }
  @media (min-width: 40em) {
    .nav-btn {
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      background: url("../assets/chevron_left_round_red.png") no-repeat;
      right: 10px;
      top: 2px;
      background-size: 32px;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      min-height: 0; }
      .nav-btn:hover, .nav-btn:focus, .nav-btn:active {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        cursor: pointer;
        -webkit-box-shadow: 0px 3px 15px #888b8d;
        box-shadow: 0px 3px 15px #888b8d;
        border-radius: 75%; } }

.kss-menu {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: visible; }

@media (min-width: 40em) {
  .kss-sidebar-collapsed {
    -webkit-transform: translateX(-82%);
    -ms-transform: translateX(-82%);
    transform: translateX(-82%);
    overflow-y: hidden !important; }
    .kss-sidebar-collapsed .kss-menu,
    .kss-sidebar-collapsed .kss-header {
      opacity: 0;
      visibility: hidden; } }

@media (min-width: 40em) {
  #kss-node .kss-sidebar.kss-fixed.kss-sidebar-collapsed,
  #kss-node .kss-sidebar-collapsed {
    overflow-y: hidden !important; } }

.kss-sidebar-collapsed .nav-btn {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background: url("../assets/chevron_right_round_red.png") no-repeat;
  background-size: 32px;
  right: 40px;
  top: 2px;
  background-position: 50%;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  min-height: 0; }
  .kss-sidebar-collapsed .nav-btn:hover, .kss-sidebar-collapsed .nav-btn:focus, .kss-sidebar-collapsed .nav-btn:active {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 15px #888b8d;
    box-shadow: 0px 3px 15px #888b8d;
    border-radius: 75%; }

.kss-skip-link {
  background: #e00000;
  border: 3px solid #a51323;
  color: #ffffff;
  display: inline-block;
  left: 0;
  list-style: none;
  opacity: 1;
  padding: 0.8rem;
  pointer-events: none;
  position: fixed;
  text-decoration: underline;
  top: -100px;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  text-transform: capitalize; }
  .kss-skip-link:focus, .kss-skip-link:active {
    color: #ffffff;
    opacity: 1;
    top: 0; }

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #464646; }

.break {
  margin: 3rem 0;
  border-bottom: 1px solid #f4f4f4;
  clear: both;
  float: left;
  width: 100%; }

.markup {
  margin: 1.5rem 0;
  border-bottom: 1px solid #f4f4f4; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.bold {
  font-weight: bold !important; }

.js-show-markup {
  margin: 0.5rem 0; }

abbr[title] {
  text-decoration: none; }

.copied {
  color: #42dc42;
  display: none; }

.atblock {
  position: relative; }

.atblock__title,
.atblock__panel {
  overflow: hidden;
  position: relative;
  padding: 0 0.5rem;
  margin: 0 !important; }
  .atblock__title p,
  .atblock__panel p {
    margin: 10px 0 15px !important; }
  .atblock__title ul,
  .atblock__panel ul {
    margin: 0 !important; }
  .atblock__title.guidelines p,
  .atblock__panel.guidelines p {
    margin: 10px 10px 15px 55px !important;
    border-left: 2px solid #f4f4f4;
    padding-left: 15px;
    position: relative; }

.atblock__title + .atblock__panel {
  max-height: 0;
  visibility: hidden; }

.atblock__title + .atblock__panel[aria-hidden='false'],
.no-js .atblock__title + .atblock__panel:target {
  max-height: 100%;
  visibility: visible;
  padding-bottom: 1rem;
  padding-left: 1rem; }

.atblock__title__trigger {
  font-size: 18px;
  font-weight: normal !important;
  padding: 0;
  background-repeat: no-repeat;
  padding-right: 40px;
  display: inline-block !important;
  background-image: url("../assets/plus_round_red.png");
  background-size: 28px;
  background-position: 97% 0%;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  font-family: 'Open Sans', 'Arial', sans-serif;
  height: 30px;
  line-height: 1.5;
  margin: 0.5rem 0; }
  @media (min-width: 55em) {
    .atblock__title__trigger {
      font-size: 20px;
      background-size: 32px;
      background-position: 100% 50%; } }
  .atblock__title__trigger[aria-expanded='true'] {
    content: '';
    background: url("../assets/minus_round_red.png");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 97% 0%; }
    @media (min-width: 55em) {
      .atblock__title__trigger[aria-expanded='true'] {
        background-size: 32px;
        background-position: 100% 50%; } }
  .atblock__title__trigger:hover, .atblock__title__trigger:focus, .atblock__title__trigger:active {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent; }

.guidelines {
  margin-left: 10px;
  position: relative; }
  .guidelines::before {
    content: '';
    background: url("../assets/w3c.png");
    background-size: 50px;
    float: left;
    clear: both;
    width: 50px;
    margin: auto;
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 10px;
    right: auto;
    text-align: left;
    background-repeat: no-repeat; }

a[target='_blank']::after {
  content: '';
  background: url("../assets/icon_new-tab.png");
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 0 0 -2px 5px;
  width: 15px;
  height: 15px;
  display: inline-block; }

.social-link-twitter {
  content: '';
  background: url("../assets/icon_twitter.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  margin: 0.5rem; }
  .social-link-twitter[target='_blank']::after {
    display: none; }

.social-link-github {
  content: '';
  background: url("../assets/icon_github.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  margin: 0.5rem; }
  .social-link-github[target='_blank']::after {
    display: none; }

.social-link-out {
  position: absolute;
  right: 2rem;
  top: 2rem; }

.back-to-top {
  background-color: transparent;
  bottom: 12px;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  right: 9px;
  -webkit-transform: translateY(130%);
  -ms-transform: translateY(130%);
  transform: translateY(130%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  background-image: url("../assets/chevron_up_round_red.png");
  background-repeat: no-repeat;
  background-size: 42px;
  border-radius: 50%;
  background-position: 50%; }
  .back-to-top:hover, .back-to-top:focus, .back-to-top:active {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 15px #888b8d;
    box-shadow: 0px 3px 15px #888b8d;
    border-radius: 50%; }

.show-back-to-top .back-to-top {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.kss-menu {
  display: none; }
  .kss-menu li {
    list-style: none;
    padding: 0 10px; }
  .kss-menu a {
    text-decoration: none; }
  .kss-menu.active {
    display: block;
    clear: both; }
  .kss-menu.active li {
    display: block;
    clear: both; }
  @media (min-width: 40em) {
    .kss-menu {
      display: block; }
      .kss-menu #toggle-menu {
        display: none; } }

.kss-nav {
  margin-bottom: 0 !important; }
  .kss-nav .menu-toggle {
    float: right;
    margin-top: 1.5rem; }
  .kss-nav .navbar-mobile-icon {
    display: block; }
    .kss-nav .navbar-mobile-icon button {
      background: #e00000; }
    @media (min-width: 40em) {
      .kss-nav .navbar-mobile-icon {
        display: none; } }

.site-logo a {
  display: inline-block;
  overflow: hidden; }

.site-logo img,
.site-logo svg {
  max-width: 215px;
  vertical-align: middle; }

.site-logo h1 {
  color: #000000;
  display: inline-block;
  margin: 0 0 0 0.25em;
  vertical-align: middle; }
