@import url("https://fonts.googleapis.com/css?family=Open+Sans");
[data-action='aria-switch'] {
  background: #f4f4f4;
  border-radius: 32px;
  display: inline-block;
  position: relative;
  transition: background 0.1s ease-in-out;
  border: 0;
  width: 75px;
  min-height: 34px;
  overflow: hidden;
  clear: both;
  float: left; }
  [data-action='aria-switch']:focus {
    background: #f4f4f4; }
  [data-action='aria-switch']:hover {
    background-color: #f4f4f4; }
  [data-action='aria-switch']:not([disabled]):hover, [data-action='aria-switch']:not([disabled]):focus {
    border: 0; }
  [data-action='aria-switch'] span {
    border-radius: 32px;
    display: inline-block;
    font-weight: bold;
    pointer-events: none;
    text-transform: uppercase;
    position: absolute; }
  [data-action='aria-switch'][aria-checked='false'] span {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 2px;
    left: 2px;
    transition: 0.4s; }
  [data-action='aria-switch'][aria-checked='true'] span {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 2px;
    left: 43px;
    transition: 0.4s; }
  [data-action='aria-switch'][aria-checked='true'] {
    background: #42dc42; }
  [data-action='aria-switch'].text[aria-checked='false'] span::after {
    content: 'OFF';
    display: block;
    color: #464646;
    position: absolute;
    right: -36px;
    top: 7px; }
  [data-action='aria-switch'].text[aria-checked='true'] span::before {
    content: 'ON';
    display: block;
    color: #464646;
    position: absolute;
    left: -32px;
    top: 7px; }
  [data-action='aria-switch'].reverse[aria-checked='false'] {
    background: #ffffff; }
    [data-action='aria-switch'].reverse[aria-checked='false'] span {
      background: #dddddd;
      border: 1px solid #dddddd;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      top: 2px;
      left: 2px;
      transition: 0.4s; }
  [data-action='aria-switch'].reverse[aria-checked='true'] {
    background: #ffffff; }
    [data-action='aria-switch'].reverse[aria-checked='true'] span {
      background: #42dc42;
      border: 1px solid #dddddd;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      top: 2px;
      left: 43px;
      transition: 0.4s; }
  [data-action='aria-switch'].flip {
    background: #f4f4f4;
    border-radius: 0;
    display: inline-block;
    position: relative;
    transition: background 0.1s ease-in-out;
    border: 0;
    width: 75px;
    height: 75px;
    overflow: hidden;
    clear: both;
    float: left; }
    [data-action='aria-switch'].flip:hover {
      background: #f4f4f4; }
    [data-action='aria-switch'].flip span {
      border: 1px solid;
      border-radius: 0;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transition: 0.4s; }
      [data-action='aria-switch'].flip span::after, [data-action='aria-switch'].flip span::before {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0.5rem;
        top: 50%;
        transform: translateY(-50%); }
  [data-action='aria-switch'].flip[aria-checked='false'] {
    background: #ffffff; }
    [data-action='aria-switch'].flip[aria-checked='false'] span {
      background: #e00000;
      border-color: #dddddd; }
  [data-action='aria-switch'].flip[aria-checked='true'] {
    background: #ffffff; }
    [data-action='aria-switch'].flip[aria-checked='true'] span {
      background: #42dc42;
      border-color: #dddddd; }
  [data-action='aria-switch'].flip[aria-checked='false'] span::after {
    content: 'No way!';
    color: #ffffff; }
  [data-action='aria-switch'].flip[aria-checked='true'] span::before {
    content: 'Heck Yes!';
    color: #464646; }

.optional-label {
  display: inline-block;
  padding: 12px 18px; }

.no-js [data-action='aria-switch']:not([aria-checked]) span {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  top: 2px;
  left: 43px;
  transition: 0.4s; }
