<section class="checkboxes-section">
  <h3>Option #1: Use fieldsets to group options</h3>
  <fieldset>
    <legend>Who is your favorite 19th century scientist</legend>
    <label class="control control--checkbox" for="bell">Alexander Graham Bell
      <input id="bell" type="checkbox" value="1" name="scientist" value="bell"/>
      <span class="control__indicator"></span>
    </label>
    <label class="control control--checkbox" for="edison">Thomas Edison
      <input id="edison" type="checkbox" name="scientist" value="edison"/>
      <span class="control__indicator"></span>
    </label>
    <label class="control control--checkbox" for="morse">Samuel Morse
      <input id="morse" type="checkbox" value="1" name="scientist" value="morse"/>
      <span class="control__indicator"></span>
    </label>
    <label class="control control--checkbox" for="nobel">Alfred Nobel
      <input id="nobel" type="checkbox" value="1" name="scientist" value="nobel"/>
      <span class="control__indicator"></span>
    </label>
    <label class="control control--checkbox" for="pasteur">Louis Pasteur
      <input id="pasteur" type="checkbox" value="1" name="scientist" value="pasteur"/>
      <span class="control__indicator"></span>
    </label>
    <label class="control control--checkbox" for="tesla">Nikola Tesla
      <input id="tesla" type="checkbox" value="1" name="scientist" value="tesla"/>
      <span class="control__indicator"></span>
    </label>
  </fieldset>
  <div class="break"></div>
  <h3>Option #2: Use WAI-ARIA to group options</h3>
  <div role="group" aria-labelledby="beatle_head">
  	<h4 id="beatle_head" class="bold">Who is the best Beatle?</h3>
  	<div>
      <label class="control control--checkbox" for="beatle_john">
        <input id="beatle_john" type="checkbox" value="1" name="beatle" value="beatle_john"/>
        <span class="control__indicator"></span>
        <span class="visuallyhidden">The second best Beatle is </span>John Lennon
      </label>
      <label class="control control--checkbox" for="beatle_paul">
        <input id="beatle_paul" type="checkbox" value="1" name="beatle" value="beatle_paul"/>
        <span class="control__indicator"></span>
        <span class="visuallyhidden">The third best Beatle is </span>Paul McCartney
      </label>
      <label class="control control--checkbox" for="beatle_george">
        <input id="beatle_george" type="checkbox" value="1" name="beatle" value="beatle_george"/>
        <span class="control__indicator"></span>
        <span class="visuallyhidden">The very best Beatle is </span>George Harrison
      </label>
      <label class="control control--checkbox" for="beatle_ringo">
        <input id="beatle_ringo" type="checkbox" value="1" name="beatle" value="beatle_ringo"/>
        <span class="control__indicator"></span>
        <span class="visuallyhidden">The forth best Beatle is </span>Ringo Starr
      </label>
  	</div>
  </div>
</section>
