{{ attach_library('theme_name/checkboxes') }}
<section class="checkboxes-section">
  <fieldset class="checkboxes form-element">
    <legend class="form-element__legend form-element__label">Checkbox Group Label</legend>
    <div class="form-element__control">
      <span class="checkbox">
        <input type="checkbox" id="checkbox-25" name="options" checked="" />
        <label class="checkbox__label" for="checkbox-25">
          <span class="checkbox--faux"></span>
          <span class="form-element__label">Checkbox Label One</span>
        </label>
      </span>
      <span class="checkbox">
        <input type="checkbox" id="checkbox-26" name="options" />
        <label class="checkbox__label" for="checkbox-26">
          <span class="checkbox--faux"></span>
          <span class="form-element__label">Checkbox Label Two</span>
        </label>
      </span>
    </div>
  </fieldset>
</section>
