// Checkboxes
//
// <ul>
//  <li>The `<fieldset>` surrounds the entire grouping of checkboxes or radio buttons. The `<legend>` provides a description for the grouping.</li>
//  <li>Some assistive technology reads the legend text for each fieldset, so it should be brief and descriptive. This helps someone using assistive technology to understand the question they are answering with the group of checkboxes.</li>
// </ul>
//
// <blockquote><h3>Guidelines</h3><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#time-limits" target="_blank">Guideline 2.2 - Enough Time</a> - Provide users enough time to read and use content.<br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#minimize-error" target="_blank">Guideline 3.3 - Input Assistance</a> - Help users avoid and correct mistakes.</blockquote>
//
//
//
// Markup: checkboxes.twig
//
// Style guide: Forms.checkboxes

// Import site utilities.
@import '../../global/utils/init';

input[type=checkbox] {
  width: 14px;
  height: 14px;
  margin-right: 22px;
  margin-bottom: 10px;
  cursor: pointer;
  visibility: hidden;
  transform: scale(1.5);

  &:after {
    content: '';
    background-color: $color-white;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
    color: $color-cherry;
    width: 14px;
    height: 14px;
    visibility: visible;
    border: 1px solid $color-cherry;
    border-radius: 2px;
    padding-left: 1px;
  }

  &:checked:after {
    content: "\2714";
    font-weight: bold;
  }
}
