// Checkboxes
//
// <ul>
//  <li>The `<fieldset>` surrounds the entire grouping of checkboxes or radio buttons. The `<legend>` provides a description for the grouping.</li>
//  <li>Some assistive technology reads the legend text for each fieldset, so it should be brief and descriptive. This helps someone using assistive technology to understand the question they are answering with the group of checkboxes.</li>
//  <li>WAI-ARIA provides a grouping role that functions similarly to `fieldset` and `legend`. In option #2 the `div` element has `role=group` to indicate that the contained elements are members of a group and the `aria-labelledby` attribute references the id for text that will serve as the label for the group.</li>
// </ul>
//
// <blockquote><h3>Guidelines</h3><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#consistent-behavior" target="_blank">Guideline 3.2 - Predictable</a>: Make Web pages appear and operate in predictable ways.<br><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#minimize-error" target="_blank">Guideline 3.3 - Input Assistance</a>: Help users avoid and correct mistakes.</blockquote>
//
//
//
// Markup: checkboxes.twig
//
// Style guide: Forms.checkboxes

// Import site utilities.
@import '../../global/utils/init';

.control--checkbox {

  .control__indicator::after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  input:disabled ~ .control__indicator::after {
    border-color: $color-cherry;
  }
}
