// Checkboxes
//
// <ul>
//  <li>The `<fieldset>` surrounds the entire grouping of checkboxes or radio buttons. The `<legend>` provides a description for the grouping.</li>
//  <li>Some assistive technology reads the legend text for each fieldset, so it should be brief and descriptive. This helps someone using assistive technology to understand the question they are answering with the group of checkboxes.</li>
//  <li>WAI-ARIA provides a grouping role that functions similarly to `fieldset` and `legend`. In option #2 the `div` element has `role=group` to indicate that the contained elements are members of a group and the `aria-labelledby` attribute references the id for text that will serve as the label for the group.</li>
// </ul>
//
// <div class="more-wrap"><div class="more-toggle"><h3>WCAG 2.0 Guidelines</h3></div><div class="more-content guidelines"><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-content-structure-separation-programmatic">1.3.1 Info and Relationships:</a> Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text. (Level A)<br><br><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-descriptive">2.4.6 Headings and Labels:</a> Headings and labels describe topic or purpose. (Level AA)<br><br><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-minimize-error-cues">3.3.2 Labels or Instructions:</a> Labels or instructions are provided when content requires user input. (Level A)<br><br><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-ensure-compat-rsv">4.1.2 Name, Role, Value:</a> For all user interface components (including but not limited to: form elements, links and components generated by scripts), the name and role can be programmatically determined; states, properties, and values that can be set by the user can be programmatically set; and notification of changes to these items is available to user agents, including assistive technologies. (Level A)</div></div>
//
//
//
// Markup: checkboxes.twig
//
// Style guide: Forms.checkboxes

// Import site utilities.
@import '../../global/utils/init';

.control--checkbox {

  .control__indicator::after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  input:disabled ~ .control__indicator::after {
    border-color: $color-cherry;
  }
}
