{{ attach_library('theme_name/checkboxes') }}
<fieldset>
  <legend>Who is your favorite 19th century scientist</legend>
  <label class="control control--checkbox" for="bell">Alexander Graham Bell
    <input id="bell" type="checkbox" value="1" name="scientist" value="bell"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox" for="edison">Thomas Edison
    <input id="edison" type="checkbox" name="scientist" value="edison"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox" for="morse">Samuel Morse
    <input id="morse" type="checkbox" value="1" name="scientist" value="morse"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox" for="nobel">Alfred Nobel
    <input id="nobel" type="checkbox" value="1" name="scientist" value="nobel"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox" for="pasteur">Louis Pasteur
    <input id="pasteur" type="checkbox" value="1" name="scientist" value="pasteur"/>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox" for="tesla">Nikola Tesla
    <input id="tesla" type="checkbox" value="1" name="scientist" value="tesla"/>
    <div class="control__indicator"></div>
  </label>
</fieldset>
