<section class="skip-links-section">
  <div class="skip-links">
    <a href="#maincontent">Skip to main content</a>
    <div class="hodor">Hodor hodor; hodor hodor; hodor hodor?! Hodor. Hodor hodor, hodor. Hodor HODOR hodor, hodor hodor... Hodor hodor hodor... Hodor hodor hodor, hodor, hodor hodor. Hodor hodor; hodor hodor; hodor hodor hodor! Hodor hodor hodor - hodor, hodor. Hodor hodor? Hodor! Hodor hodor, hodor hodor hodor... Hodor hodor hodor?!</div>
    <h1><a name="maincontent" id="maincontent"></a> Heading</h1>
    <p>This is the first real paragraph. All that other stuff was just plain hodor.</p>
  </div>
</section>
