// Skip Links
//
//  - Provide ways for users to skip to important sections of your website. This will help users using screenreaders navigate your site easier and more efficiently.
//  - There is no real theming rule when it comes to styling your skip links, as such a lot of websites tend to hide them with <code>class=&quot;visuallyhidden&quot;</code> with a special focus attribute so that sighted keyboard only users are able to see them.
//  - It is important to see that the link points to a valid HTML ID, as often this is overlooked in implementation.
//  - In this site we have used 'Jump to main content', but other valid examples of &quot;skip&quot; links include:
//  <pre>Skip to content<br>Skip to main content<br>Skip to search<br>Skip to bottom navigation<br>Skip to main menu</pre>
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#skip_guide">WCAG 2.1 Guidelines</a></h3><div id="skip_guide" class="atblock__panel guidelines"><p><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=131#navigation-mechanisms-skip" target="_blank">2.4.1 Bypass Blocks</a> - A mechanism is available to bypass blocks of content that are repeated on multiple Web pages. (Level A)</p></div><div class="markup"></div></section>
//
//
//
// Markup: skip-links.twig
//
// Style guide: General.skip-links

// Import site utilities.
@import '../../global/utils/init';
