// Skip Links
//
// <ul>
//  <li>List of bullets</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">2.4.1 Bypass Blocks</a> - A mechanism is available to bypass blocks of content that are repeated on multiple Web pages. (Level A)</blockquote><hr>
//
//
//
// Markup: skip-links.twig
//
// Style guide: Structure.skip-links

// Import site utilities.
@import '../../global/utils/init';

.links {
  //to-do
}
