// Skip Links
//
// <ul>
//  <li>List of bullets</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">Bypass Blocks</a> - A mechanism is available to bypass blocks of content that are repeated on multiple Web pages.</blockquote>
//
//
//
// Markup: skip-links.twig
//
// Style guide: General.skip-links

// Import site utilities.
@import '../../global/utils/init';

// to-do
