<article class="card">
  <a href="#" class="card__link-wrapper">
    <div class="card__image">{{ image }}</div>
    <div class="card__title">
      <a target="_blank" href="{{ link }}" class="card__title--link">{{ title }}</a>
    </div>
  </a>
</article>
