<article class="card">
  <a href="#" class="card__link-wrapper">
    <div class="card__image">{{ image }}</div>
    <div class="card__title">
      <a href="https://twitter.com/cariefisher/status/901993743535964161" class="card__title--link">{{ title }}</a>
    </div>
  </a>
</article>
