<section class="toggles-section">
  <button type="button" data-action="aria-switch" aria-label="Toggle" aria-checked="false" role="switch">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Toggle Text" aria-checked="true" role="switch" class="text">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Toggle Reverse" aria-checked="true" role="switch" class="reverse">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Toggle Reverse with Text" aria-checked="false" role="switch" class="reverse text">
    <span></span>
  </button>
</section>
