<section class="toggles-section">
  <div>
    <button type="button" data-action="aria-switch" aria-labelledby="toggle_label" aria-checked="false" role="switch">
      <span></span>
    </button>
    <span id="toggle_label" style="display: inline-block; padding: 12px 12px 0 0;">
      Night Mode
    </span>
  </div>
  <button type="button" data-action="aria-switch" aria-label="Toggle Text" aria-checked="true" role="switch" class="text">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Toggle Reverse" aria-checked="true" role="switch" class="reverse">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Toggle Reverse with Text" aria-checked="false" role="switch" class="reverse text">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Toggle Flip" aria-checked="false" role="switch" class="flip">
    <span></span>
  </button>
</section>
