<section class="toggles-section">
  <div>
    <label class="a11-y-check-switch" for="a11y-switch-example-1">
      Switch 1 Label
      <input id="a11y-switch-example-1" type="checkbox">
      <span aria-hidden="true"></span>
    </label>
  </div>

  <div>
    <label class="a11-y-check-switch" for="a11y-switch-example-2">
      Switch 2 Label
      <input id="a11y-switch-example-2" type="checkbox" disabled>
      <span aria-hidden="true"></span>
    </label>
  </div>

  <div>
    <label class="a11-y-check-switch" for="a11y-switch-example-3" aria-label="Switch 3 Label">
      <input id="a11y-switch-example-3" type="checkbox">
      <span aria-hidden="true"></span>
    </label>
  </div>
</section>
