<section class="navbar-mobile-icon">
  <button class="menu-toggle" id="menu-toggle-ex1" aria-expanded="false"><span class="screen-reader-text">Menu</span>
    <svg class="icon icon-menu-toggle" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100">
      <g class="svg-menu-toggle">
      <path class="line line-1" d="M5 13h90v14H5z"/>
      <path class="line line-2" d="M5 43h90v14H5z"/>
      <path class="line line-3" d="M5 73h90v14H5z"/>
      </g>
    </svg>
  </button>

  <button class="menu-toggle" id="menu-toggle-ex2" aria-expanded="false"><span>Click for Menu</span>
    <svg class="icon icon-menu-toggle" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100">
      <g class="svg-menu-toggle">
      <path class="line line-1" d="M5 13h90v14H5z"/>
      <path class="line line-2" d="M5 43h90v14H5z"/>
      <path class="line line-3" d="M5 73h90v14H5z"/>
      </g>
    </svg>
  </button>
</section>
