<section class="navbar-section">
  <h3>Option #1: List styling</h3>
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">More Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
  <div class="break"></div>
  <h3>Option #2: No list styling</h3>
  <nav class="navbar">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">More Information</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
    </div>
  </nav>
</section>
