// Navbar (draft)
//
// <ul>
//   <li>to-do</li>
// </ul>
//
// <div class="more-wrap"><div class="more-toggle"><h3>WCAG 2.0 Guidelines</h3></div><div class="more-content guidelines"><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv-all" target="_blank">1.1.1 Non-text Content</a>: All non-text content that is presented to the user has a text alternative that serves the equivalent purpose (some exceptions). (Level A)<br><br><strong>Note:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.</div></div><div class="markup"></div>
//
//
//
// Markup: navbar.twig
//
// Style guide: Navigation.navbar

// Import site utilities.
@import '../../global/utils/init';

.navbar {
  background-color: $color-alabaster;
  position: relative;
  padding: $padding-sm $padding-sm 2.5rem;
  margin-bottom: $padding-sm;
  border-radius: $border-rd-sm;
  border: 1px solid $color-silver;

  ul {
    margin-left: -1.25rem;
  }

  a {
    color: $color-midnight;
  }

  .nav-item {
    float: left;
    list-style: none;
    padding-right: $padding-xsm;
    padding-left: $padding-xsm;
    color: $color-midnight;
    font-weight: normal;
  }
}
