// Video
//
// <ul>
//  <li>words</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#text-equiv" target="_blank">Text Alternatives</a> - Provide text alternatives for any non-text content so that it can be changed into other forms people need, such as large print, braille, speech, symbols or simpler language.<br><br>If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.</blockquote>
//
//
//
// Markup: images.twig
//
// Style guide: Media.images

// Import site utilities.
@import '../../global/utils/init';

.video {
  //to-do
}
