// Dropdown Navigation
//
// <ul>
//  <li>All navigation elements should have a `<nav>` tag.</li>
//  <li>If you have to use a more generic element such as a `<div>`, add `role="navigation"` to every navbar to explicitly identify it as a landmark region for users of assistive technologies.</li>
//  <li>Menus should be labeled according to their individual function. Use can use `class="visuallyhidden">`, `aria-label=""`, or `aria-labelledby=""` to easily add context to the different menus on your site.</li>
// </ul>
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#navdrop_res">Resources</a></h3><div id="navdrop_res" class="atblock__panel"><ul><li><a href="https://codepen.io/grayghostvisuals/pen/ltjDa" target="_blank">Accessible Dropdown Menu</a> - CodePen that shows the base skeleton of an accessible menu</li><li><a href="http://www.washington.edu" target="_blank">University of Washington</a> - great example of a live site using accessible (and beautiful) menus</li></ul></div></section>
//
//
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#navdrop_guide">WCAG 2.0 Guidelines</a></h3><div id="navdrop_guide" class="atblock__panel guidelines"><p><a href="https://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-focus-order" target="_blank">2.4.3 Focus Order</a> - If a Web page can be navigated sequentially and the navigation sequences affect meaning or operation, focusable components receive focus in an order that preserves meaning and operability. (Level A)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-mult-loc" target="_blank">2.4.5 Multiple Ways</a> - More than one way is available to locate a Web page within a set of Web pages except where the Web Page is the result of, or a step in, a process. (Level AA)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-focus-visible" target="_blank">2.4.7 Focus Visible</a> - Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible. (Level AA)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-location" target="_blank">2.4.8 Location</a> - Information about the user's location within a set of Web pages is available. (Level AAA)<br><br><a href="https://www.w3.org/WAI/WCAG20/quickref/#qr-ensure-compat-rsv" target="_blank">4.1.2 Name, Role, Value</a> - For all user interface components (including but not limited to: form elements, links and components generated by scripts), the name and role can be programmatically determined; states, properties, and values that can be set by the user can be programmatically set; and notification of changes to these items is available to user agents, including assistive technologies. (Level A)</p></div><div class="markup"></div></section>
//
//
//
// Markup: navigation-dropdown.twig
//
// Style guide: Navigation.navigation-dropdown

// Import site utilities.
@import '../../global/utils/init';

.nav,
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1;
}

.nav {
  float: left;
  background: $color-alto;
  background-image: linear-gradient(to top, $color-alto, $color-manatee);
  border-radius: $border-rd-sm;
}

.nav ul {
  position: absolute;
  top: 2.5em;
  left: -9999px;
  opacity: 0;
  transition: 0.1s linear opacity;
  min-width: 150px;
  background: $color-midnight;
  background: rgba(0, 0, 0, 0.9);
}

.nav li {
  float: left;
  position: relative;
  list-style: none;
}

/* Top level nav items */
.nav li > a {
  float: left;
  padding: 10px 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: $color-midnight;
  text-decoration: none;
}

.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
  background: $color-cherry;
  color: $color-white;
}

.nav > li:first-child > a {
  border-left: 0;
  border-top-left-radius: $border-rd-sm;
  border-bottom-left-radius: $border-rd-sm;
}

.nav > li:last-child > a {
  border-right: 0;
  border-top-right-radius: $border-rd-sm;
  border-bottom-right-radius: $border-rd-sm;
}

.nav li:hover ul,
.nav li:focus ul,
ul.show-menu { // sass-lint:disable-line no-qualifying-elements
  left: 0;
  opacity: 0.95;
  margin-top: 4px;
}

.nav ul li {
  float: none;
  position: static;
}

.nav ul a {
  float: none;
  display: block;
  color: $color-white;
  font-size: 12px;
  border: 1px solid $color-midnight;
  border-width: 0 0 1px;
  transition: 0.1s linear all; // sass-lint:disable-line no-transition-all
}

.nav ul,
.nav ul li:last-child a {
  border: 0;
  border-bottom-left-radius: $border-rd-sm;
  border-bottom-right-radius: $border-rd-sm;
}

.nav ul a:hover,
.nav ul a:focus {
  background: $color-cherry;
  color: $color-white;
  text-shadow: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
