<div role="navigation" aria-label="Main menu">
	<ul class="nav">
		<li>
			<a href="../generic.html">About</a>
			<ul>
				<li><a href="../generic.html">News</a></li>
				<li><a href="../generic.html">Governance</a></li>
				<li><a href="../generic.html">Diversity</a></li>
				<li><a href="../generic.html">ContactUs</a></li>
			</ul>
		</li>
		<li>
			<a href="../generic.html">Academics</a>
			<ul>
				<li><a href="../generic.html">Degree Programs</a></li>
				<li><a href="../generic.html">Faculty</a></li>
				<li><a href="../generic.html">Distance Learning</a></li>
				<li><a href="../generic.html">Libraries</a></li>
			</ul>
		</li>
		<li>
			<a href="../generic.html">Admissions</a>
			<ul>
				<li><a href="../generic.html">Undergraduate</a></li>
				<li><a href="../generic.html">Tuition</a></li>
				<li><a href="../generic.html">Financial Aid</a></li>
			</ul>
		</li>
		<li>
			<a href="../generic.html">Visitors</a>
			<ul>
				<li><a href="../generic.html">Events</a></li>
				<li><a href="../generic.html">Campus Map</a></li>
				<li><a href="../generic.html">Parking</a></li>
			</ul>
		</li>
	</ul>
</div>