<dialog class="alert danger" role="dialog" open aria-labelledby="dialogMsg">
  <span aria-hidden="true"></span>
  <p id="dialogMsg">You're post was published successfully!</p>
  <button type="button" class="btn-close">
    <div class="img-close" aria-hidden="true"></div>
    close
  </button>
</dialog>

<!-- live example on https://codepen.io/digilou/pen/XeBrGV -->