<dialog class="alert success" role="alert" open>
  <p><span class="icon-alert" aria-hidden="true"></span>You post has published successfully!</p>
  <button type="button"><div class="img-close" aria-hidden="true"></div>Close</button>
</dialog>