// Search
//
// <ul>
//  <li>words</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">Focus Visible</a> - Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible.</blockquote>
//
//
//
// Markup: search.twig
//
// Style guide: Forms.search

// Import site utilities.
@import '../../global/utils/init';

.search {

  input[type=text] {
    background-color: $color-white;
    background-image: url('#{$asset-path}/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;

    &:focus {
      width: 100%;
    }
  }
}
