// Search
//
// <ul>
//  <li>words</li>
// </ul>
//
// <blockquote><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" target="_blank">Focus Visible</a> - Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible.</blockquote>
//
//
//
// Markup: search.twig
//
// Style guide: Forms.search

// Import site utilities.
@import '../../global/utils/init';

input[type='search'] {
  background-color: $color-white;
  background-image: url('#{$asset-path}/searchicon.png');
  background-position: 98% 49%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  box-sizing: border-box;
  border-radius: $border-rd-sm;
  border: 2px solid $color-gallery;
  font-size: $padding-sm;
}
