{{ attach_library('theme_name/search') }}
<section class="search-section">
  <form method="post" class="search-form">
  	<label for="search" class="search-form__label is-vishidden">Search the site</label>
  	<input type="search" id="search" class="search-form__input" placeholder="Search the site" />
  </form>
</section>
