<section class="search-section">
  <h3>Option #1: Search Input with Visible Label</h3>
  <div role="search">
    <label for="search_1" style="display: block;">Search the site:</label>
    <input type="search" name="search" id="search_1" class="search-form__input" />
    <button type="submit"><span class="visuallyhidden">Perform</span>Search</button>
  </div>

  <div class="break"></div>

  <h3>Option #2: Hide the label element</h3>
  <div role="search">
    <label for="search_2" class="visuallyhidden">Search the site</label>
    <input type="search" name="search" id="search_2" class="search-form__input" placeholder="search for..." />
    <button type="submit"><span class="visuallyhidden">Perform</span>Search</button>
  </div>

  <div class="break"></div>

  <h3>Option #3: Use aria-label</h3>
  <div role="search">
    <input type="search" name="search" aria-label="Search">
    <button type="submit"><span class="visuallyhidden">Perform</span>Search</button>
  </div>
</section>
