<section class="resources">
<h2 id="foundational-a11y-resources">Foundational accessibility resources</h2>
<ul>
<li><a href="https://www.researchgate.net/profile/Dahlia-Shaewitz/publication/324603094_A_Hidden_Market_The_Purchasing_Power_of_Working-Age_Adults_With_Disabilities_A_Hidden_Market_The_Purchasing_Power_of_Working-Age_Adults_With_Disabilities/links/5ad89016458515c60f5918f3/A-Hidden-Market-The-Purchasing-Power-of-Working-Age-Adults-With-Disabilities-A-Hidden-Market-The-Purchasing-Power-of-Working-Age-Adults-With-Disabilities.pdf">A Hidden Market: The Purchasing Power of PwD</a></li>
<li><a href="https://www.a11yproject.com/posts/2017-08-26-a11y-and-other-numeronyms/">A11y &amp; a Brief Numeronyms Primer</a></li>
<li><a href="https://www.w3.org/WAI/fundamentals/accessibility-principles/">Accessibility Principles (POUR)</a></li>
<li><a href="https://www.cdc.gov/ncbddd/disabilityandhealth/infographic-disability-impacts-all.html">CDC Disability Report</a></li>
<li><a href="https://www.3playmedia.com/blog/major-accessibility-laws/">Deep Dive on Major Web Accessibility Laws</a></li>
<li><a href="https://www.penguinrandomhouse.com/books/646508/demystifying-disability-by-emily-ladau/">Demystifying Disability (book)</a></li>
<li><a href="https://www.w3.org/WAI/fundamentals/foundations-course/">Digital Accessibility Foundations (free course)</a></li>
<li><a href="https://cariefisher.com/heart/">Getting to the Heart of Digital Accessibility</a></li>
<li><a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/">Introduction to Web Accessibility</a></li>
<li><a href="https://webaim.org/projects/million/">The WebAIM Million</a></li>
<li><a href="https://info.usablenet.com/2020-report-on-digital-accessibility-lawsuits">UsableNet Accessibility Lawsuits Report</a></li>
<li><a href="https://www.who.int/teams/noncommunicable-diseases/sensory-functions-disability-and-rehabilitation/world-report-on-disability">WHO Disability Report</a></li>
<li><a href="https://www.w3.org/WAI/policies/">Web Accessibility Laws &amp; Policies</a></li>
<li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a></li>
<li><a href="https://www.youtube.com/watch?v=hufMi9LZX2I">What is Web Accessibility in 60 seconds (video)</a></li>
</ul><br><br>
<h2 id="accessible-ux-design-resources">Accessible UX/design resources</h2>
<ul>
<li><a href="https://drive.google.com/file/d/1GYlEqdOxq7RdKxG_Od7GzrBh_iYEfNBY/view">Accessibility Heuristics</a></li>
<li><a href="https://www.youtube.com/watch?v=yrwKWtJdZ_c">Deaf Tech from Past to Future (video)</a></li>
<li><a href="https://inclusivedesignprinciples.org/">Inclusive Design Principles</a></li>
<li><a href="https://www.microsoft.com/design/inclusive/">Microsoft Inclusive Design</a></li>
<li><a href="https://github.com/UKHomeOffice/posters/blob/master/accessibility/dos-donts/posters_en-UK/accessibility-posters-set.pdf">UK Home Office Posters</a></li><br>
<li>Design annotation kits:<ul>
<li><a href="https://www.deque.com/blog/top-5-most-common-accessibility-annotations/">Deque (based on Adobe)</a></li>
<li><a href="https://www.figma.com/community/file/953682768192596304">Figma</a></li>
</ul>
</li><br>
<li>UX testing using people with disabilities<ul>
<li><a href="https://axesslab.com/">AxessLab</a></li>
<li><a href="https://makeitfable.com/">Fable</a></li>
<li><a href="https://knowbility.org/services/usability-testing">Knowbility</a></li>
<li><a href="https://nfb.org/">National Federation of the Blind</a></li>
<li><a href="https://info.usablenet.com/digital-accessibility-support-services/user-testing">UsableNet</a></li>
</ul>
</li>
</ul><br><br>
<h2 id="general-accessibility-testing-resources">General testing resources</h2>
<ul>
<li><a href="https://www.a11yproject.com/checklist/">A11y Project Checklist</a></li>
<li><a href="https://www.w3.org/WAI/test-evaluate/preliminary/">Easy Checks – A First Review of Web Accessibility</a></li>
<li><a href="https://www.w3.org/WAI/test-evaluate/conformance/wcag-em/">WCAG Evaluation Methodology (WCAG-EM)</a></li>
<li><a href="https://www.w3.org/WAI/WCAG21/quickref/">WCAG Quick Reference Guide</a></li>
<li><a href="https://www.youtube.com/watch?v=u-mOCGX8ckw">Web Accessibility Conformance Evaluation Overview (video)</a></li>
<li><a href="https://www.youtube.com/watch?v=aM4nKEZyOjE">What is Intelligent Guided Testing? (video)</a></li>
</ul><br><br>
<h2 id="design-ux-accessibility-tools">Design &amp; UX accessibility tools</h2>
<ul>
<li><a href="https://kb.iu.edu/d/bbrx">Accessibility for content creators</a></li>
<li><a href="https://grtcalculator.com/">Golden Ratio Typography (GRT) Calculator</a></li>
<li><a href="https://www.thegoodlineheight.com/">Good Line-Height</a></li>
<li><a href="https://fonts.adobe.com/foundries/google">Google Font Foundry</a></li><br>
<li>Color contrast tools:<ul>
<li><a href="http://a11yrocks.com/colorPalette/">A11y Rocks Color Palette</a></li>
<li><a href="https://color.adobe.com/create/color-wheel">Adobe Color Accessibility Tools</a></li>
<li><a href="http://colorsafe.co/">Color Safe</a></li>
<li><a href="https://www.tpgi.com/color-contrast-checker/">Colour Contrast Analyser</a></li>
<li><a href="https://coolors.co/contrast-checker/112a46-acc8e5">Coolors Color Contrast Checker</a></li>
<li><a href="https://material.io/resources/color/#!/?view.left=0&amp;view.right=0">Material Design Color Tool</a></li>
</ul><br>
</li>
<li>Disability simulators:<ul>
<li><a href="https://chrome.google.com/webstore/detail/chromelens/idikgljglpfilbhaboonnpnnincjhjkd">ChromeLens (Chrome)</a></li>
<li><a href="https://www.funkify.org/">Funkify</a></li>
<li><a href="https://addons.mozilla.org/en-US/firefox/addon/nocoffee/">NoCoffee (Firefox)</a></li>
<li><a href="https://chrome.google.com/webstore/detail/web-disability-simulator/olioanlbgbpmdlgjnnampnnlohigkjla?hl=en">Web Disability Simulator</a></li>
</ul>
</li>
</ul><br><br>
<h2 id="automated-accessibility-tools">Automated accessibility tools</h2>
<ul>
<li><a href="https://www.digitala11y.com/free-mobile-accessibility-testing-tools/">17 Free Mobile Accessibility Testing Tools</a></li>
<li><a href="https://www.deque.com/axe/">axe DevTools (desktop)</a></li>
<li><a href="https://www.deque.com/android-accessibility/">axe DevTools (mobile)</a></li>
<li><a href="https://developers.google.com/web/tools/lighthouse/#devtools">Chrome Lighthouse</a></li>
<li><a href="https://accessibilityinsights.io/">Microsoft Accessibility Insights</a></li>
<li><a href="https://pa11y.org/">Pa11y (multiple integration options)</a></li>
<li><a href="https://khan.github.io/tota11y/">Tota11y</a></li>
<li><a href="https://wave.webaim.org/">Web Accessibility Evaluation Tool (WAVE)</a></li><br>
<li>Linters:<ul>
<li><a href="https://github.com/jsx-eslint/eslint-plugin-jsx-a11y">Accessibility Plugin for ESLint</a></li>
<li><a href="https://marketplace.visualstudio.com/items?itemName=deque-systems.vscode-axe-linter">axe Accessibility Linter (VS Code)</a></li>
<li><a href="https://github.com/dequelabs/axe-core-npm">axe Core NPM (7 linting packages included)</a></li>
</ul><br>
</li>
</ul><br>
<h2 id="manual-ai-guided-accessibility-tools">Manual/AI-guided accessibility tools</h2>
<ul>
<li><a href="https://www.digitala11y.com/accessibility-plug-ins-ie-chrome-firefox-browsers/">42 Browser Extensions for Accessibility Testing</a></li>
<li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">Accessible Name &amp; Description Inspector (ANDI)</a></li>
<li><a href="https://dequeuniversity.com/validator">HTML Validator</a></li>
<li><a href="https://chrispederick.com/work/web-developer/">Web Developer Toolbar</a></li><br>
<li>Bookmarklets:<ul>
<li><a href="https://www.digitala11y.com/accessibility-bookmarklets-testing/">48 Accessibility Bookmarklets For A11Y Testing</a></li>
<li><a href="https://adrianroselli.com/2015/01/css-bookmarklets-for-testing-and-fixing.html">CSS Bookmarklets</a></li>
<li><a href="https://pauljadam.com/bookmarklets/">JS Bookmarklets for A11y Testing</a></li>
<li><a href="https://www.tpgi.com/nu-markup-validation-service-bookmarklets/">Nu Markup Validation</a></li>
<li><a href="https://cdpn.io/stevef/debug/YLMqbo">Text Spacing</a></li>
</ul>
</li>
</ul><br><br>
<h2 id="general-assistive-tech-at-resources">General assistive tech (AT) resources</h2>
<ul>
<li><a href="https://www.youtube.com/watch?v=wZupJSqzkHc">Digital Accessibility Lab Tour (video)</a></li>
<li><a href="https://www.w3.org/WAI/people-use-web/tools-techniques/">How People with Disabilities Use the Web - Tools &amp; Techniques</a></li>
<li><a href="https://incl.ca/the-evolution-of-assistive-technology-into-everyday-products/">The Evolution of Assistive Technology into Everyday Products</a></li>
<li><a href="https://www.youtube.com/watch?v=DB9pKkZoJDc">Understanding Assistive Technology (video)</a></li>
<li><a href="https://www.atia.org/home/at-resources/what-is-at/">What is AT?</a></li>
</ul><br><br>
<h2 id="aria-html-resources">ARIA/HTML resources</h2>
<ul>
<li><a href="https://www.davidmacd.com/blog/wai-aria-accessbility-for-average-web-developers.html">19 WAI-ARIA attributes that every web developer should know</a></li>
<li><a href="https://a11ysupport.io/">Accessibility Support</a></li>
<li><a href="https://www.w3.org/TR/html-aria/#rules-wd">ARIA in HTML</a></li>
<li><a href="https://caniuse.com/?search=aria">Can I Use: ARIA?</a></li>
<li><a href="https://developers.google.com/web/fundamentals/accessibility/semantics-aria">Google&#39;s Introduction to ARIA</a></li>
<li><a href="https://stevefaulkner.github.io/HTML5accessibility/">HTML5 Accessibility</a></li>
<li><a href="https://www.powermapper.com/tests/screen-readers/attributes/">PowerMapper list of ARIA/HTML elements</a></li>
<li><a href="https://www.w3.org/TR/using-aria/#NOTES">Rules of ARIA</a></li>
<li><a href="https://www.w3.org/TR/wai-aria/#role_definitions">WAI-ARIA Definition of Roles</a></li>
<li><a href="https://www.w3.org/TR/wai-aria/#state_prop_def">WAI-ARIA Definition of States &amp; Properties</a></li>
<li><a href="https://www.w3.org/TR/wai-aria/#usage_intro">WAI-ARIA Roles</a></li>
<li><a href="https://www.w3.org/TR/wai-aria/#introstates">WAI-ARIA States &amp; Properties</a></li>
<li><a href="https://www.lullabot.com/articles/what-heck-aria-beginners-guide-aria-accessibility">What the Heck is ARIA? A Beginner&#39;s Guide to ARIA for Accessibility</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Web_applications_and_ARIA_FAQ#where_is_aria_supported">Where is ARIA Supported?</a></li>
</ul><br><br>
<h2 id="screen-reader-resources">Screen reader resources</h2>
<ul>
<li><a href="https://support.freedomscientific.com/Products/Blindness/JawsDocumentation">JAWS User Guide</a></li>
<li><a href="https://support.microsoft.com/en-us/windows/complete-guide-to-narrator-e4397a0d-ef4f-b386-d8ae-c172f109bdb1#ID0EBD=Windows_10">Narrator User Guide</a></li>
<li><a href="https://www.nvaccess.org/files/nvda/documentation/userGuide.html">NVDA User Guide</a></li>
<li><a href="https://help.gnome.org/users/orca/stable/index.html.en">ORCA User Guide</a></li>
<li><a href="https://dequeuniversity.com/screenreaders/">Screen Reader Keyboard Shortcuts &amp; Gestures</a></li>
<li><a href="https://www.powermapper.com/tests/screen-readers/">Screen Reader Reliability Chart</a></li>
<li><a href="https://www.interactiveaccessibility.com/education/training/downloads/Android-Cheatsheet.pdf">TalkBack Gesture Reference</a></li>
<li><a href="https://support.google.com/accessibility/android/topic/3529932?hl=en&amp;ref_topic=9078845">TalkBack User Guide</a></li>
<li><a href="https://www.interactiveaccessibility.com/education/training/downloads/iOS-Cheatsheet.pdf">VoiceOver Gesture Reference</a></li>
<li><a href="https://support.apple.com/guide/voiceover/welcome/mac">VoiceOver User Guide (desktop)</a></li>
<li><a href="https://support.apple.com/guide/iphone/turn-on-and-practice-voiceover-iph3e2e415f/ios">VoiceOver User Guide (mobile)</a></li>
<li><a href="https://webaim.org/projects/screenreadersurvey9/">WebAIM Screen Reader Survey</a></li><br>
<li>Bookmarklets:<ul>
<li><a href="https://joelanman.github.io/voiceover-helper/">Safari VoiceOver Helper</a></li>
<li><a href="http://whatsock.com/training/matrices/screen_curtain.htm">Screen Curtain</a></li>
</ul>
</li>
</ul><br><br>
<h2 id="general-pattern-resources">General pattern resources</h2>
<ul>
<li><a href="https://www.smashingmagazine.com/2021/03/complete-guide-accessible-front-end-components/">A Complete Guide To Accessible Front-End Components</a></li>
<li><a href="https://atomicdesign.bradfrost.com/">Atomic Design (book)</a></li>
<li><a href="https://w3c.github.io/using-aria/#checklist">Custom Control Accessible Development Checklist</a></li>
<li><a href="https://www.smashingmagazine.com/2021/06/css-javascript-requirements-accessible-components/">When CSS Isn&#39;t Enough: JavaScript Requirements For Accessible Components</a></li>
<li><a href="https://www.smashingmagazine.com/2021/03/good-better-best-untangling-complex-world-accessible-patterns/">Untangling The Complex World Of Accessible Patterns</a></li>
</ul><br><br>
<h2 id="pattern-library-resources">Pattern library resources</h2>
<ul>
<li><a href="https://dequeuniversity.com/library/">ARIA Pattern Library</a></li>
<li><a href="https://www.scottohara.me/code/">Accessible Components</a></li>
<li><a href="https://cauldron.netlify.app/">Accessible React Library</a></li>
<li><a href="https://design-system.service.gov.uk/">GOV.UK Design System</a></li>
<li><a href="https://inclusive-components.design/">Inclusive Components</a></li>
<li><a href="https://designsystem.digital.gov/documentation/developers/">U.S. Web Design System (USWDS)</a></li>
<li><a href="https://www.w3.org/WAI/tutorials/">Web Accessibility Tutorials</a></li>
</ul><br><br>
<h2 id="wcag-2-2-3-0-resources">WCAG 2.2 &amp; 3.0 resources</h2>
<ul>
<li><a href="https://www.levelaccess.com/7-quick-facts-about-wcag-2-2-2/">7 Quick Facts about WCAG 2.2</a></li>
<li><a href="https://www.w3.org/TR/wcag-3.0/">W3C Accessibility Guidelines 3.0</a></li>
<li><a href="https://www.w3.org/TR/wai-aria-practices-1.1/">WAI-ARIA Authoring Practices 1.1</a></li>
<li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/wcag3-intro/">WCAG 3 Introduction</a></li>
<li><a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines 2.2 (working draft)</a></li>
<li><a href="https://www.deque.com/blog/first-public-working-draft-wcag-3/">What to Expect From The First Public Working Draft of WCAG 3.0</a></li>
<li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/new-in-22/">What&#39;s New in WCAG 2.2 Working Draft</a></li>
</ul><br>
</section>