// Person Detail Card
//
// Markup: cards-person-details.twig
//
// Style guide: Cards.cards-person-details

// Import site utilities.
@import '../../global/utils/init';

.person__content-section {
  margin-bottom: $padding-md;

  &:last-child {
    margin-bottom: 0;
  }
}

.person__content-section-title {
  font-weight: $font-weight-bold;
  margin: 0 0 $padding-sm;
}

.person__content-item {
  margin-bottom: $padding-sm;

  &:last-child {
    margin-bottom: 0;
  }
}

.person__phone {
  word-break: break-word;

  a {
    display: inline-block;
    color: $color-cherry;
    font-weight: $font-weight-bold;
    font-size: 1.8rem;
  }

  .paragraph--type--phone-numbers {
    display: flex;

    .field {
      margin-right: $padding-xsm;
    }

    .field--name-field-type {
      font-weight: $font-weight-bold;
    }

    .field--name-field-type::after {
      content: ':';
    }
  }
}

.person__address {

  & > .field {
    display: flex;
    flex-wrap: wrap;
  }

  & > .field > .field__item {
    padding: 0 $padding-lg $padding-sm 0;
  }

  & > .field > .field__item:last-child {
    padding-right: 0;
  }

  .person__address-container {
    padding-left: 20px;
    position: relative;

    .fa {
      display: block;
      left: 0;
      position: absolute;
      top: 2px;
    }

    .field--name-field-address-type {
      font-weight: $font-weight-bold;
      white-space: nowrap;
    }

    .field--name-field-room {
      @include clearfix;

      div {
        float: left;
      }

      .field__label {
        font-weight: normal;
      }
    }

    .field--name-field-city {
      display: inline-block;
      margin-right: $padding-xsm;

      &::after {
        content: ',';
      }
    }

    .field--name-field-state {
      display: inline-block;
    }
  }
}

.person__titles-title,
.person__titles-dept {
  display: inline;

  .field {
    display: inline;
  }
}

.person__titles-title.with-dept {

  &::after {
    content: ',';
    margin-left: -3px;
  }
}

.field--name-field-postdoctoral-positions .field__label {
  margin: $padding-md 0 $padding-sm;
}

.flip-container {
  height: $person-grid-item--height - 35px;
  margin: 0 auto;
  perspective: 1000px;
  width: $person-grid-item--width - 35px;

  @include breakpoint($bp-xxsm) {
    height: $person-grid-item--height - 20px;
    width: $person-grid-item--width - 20px;
  }

  @include breakpoint($bp-xsm) {
    height: $person-grid-item--height - 10px;
    width: $person-grid-item--width - 10px;
  }

  @include breakpoint($bp-lg) {
    height: $person-grid-item--height;
    width: $person-grid-item--width;
  }

  &:hover,
  &.hover {

    .flipper {
      transform: rotateY(180deg);
    }
  }

  .flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
  }

  .flip--back,
  .flip--front {
    backface-visibility: hidden;
    height: $person-grid-item--height - 30px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: $person-grid-item--width - 30px;

    @include breakpoint($bp-xsm) {
      height: $person-grid-item--height - 10px;
      width: $person-grid-item--width - 10px;
    }

    @include breakpoint($bp-lg) {
      height: $person-grid-item--height;
      width: $person-grid-item--width;
    }
  }

  .flip--back {
    transform: rotateY(180deg);
  }

  .flip--front {
    // For firefox 31.
    transform: rotateY(0deg);
    z-index: 2;
  }
}

.person-list__item-wrapper {
  border-bottom: 1px solid $color-alto;
  margin-bottom: $padding-md;
  padding-bottom: $padding-md;

  @include breakpoint($bp-xsm) {
    display: flex;
  }
}

.person-list__image {
  margin: 1.5rem 0;

  @include breakpoint($bp-xsm) {
    width: $person-list-image--width;
  }

  img {
    margin: 0 auto;
    width: $person-list-image--width;
  }
}

.person-list__image-placeholder {
  background-color: $color-manatee;
  height: 180px;
  width: $person-list-image--width;
}

.person-list__content {

  @include breakpoint($bp-xsm) {

    .with-image & {
      padding-left: $padding-md;
      max-width: calc(100% - #{$person-list-image--width});
    }
  }
}

.person-list__name {
  color: $color-cherry;
  font-weight: $font-weight-bold;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0;
}

.person-list__title {
  font-size: 1.4rem;
  word-break: break-word;
}

.person-list__more-info-link .field {
  display: inline-block;
}
