<section class="breadcrumbs-section">
  <h3>Option #1: List styling with nav element</h3>
  <nav aria-label="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Parent</li>
    </ol>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Parent</a></li>
      <li class="breadcrumb-item active">Child</li>
    </ol>
  </nav>
  <div class="break"></div>
  <h3>Option #2: Link styling with no nav element</h3>
  <div role="navigation" aria-label="breadcrumbs" class="breadcrumb">
    <a class="breadcrumb-item" href="#">Home</a>
    <a class="breadcrumb-item" href="#">Parent</a>
    <span class="breadcrumb-item active">Child</span>
  </div>
</section>
