{{ attach_library('theme_name/breadcrumbs') }}
<section class="breadcrumbs-section">
  <nav role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb__item"><a href="#">Grandparent page</a></li>
      <li class="breadcrumb__item"><a href="#">Parent page</a></li>
      <li class="breadcrumb__item">Current page</li>
    </ol>
  </nav>
</section>
