<section class="highlight section highlight--right">
  <div class="l-center">
    <div class="highlight__image">
      <img src="http://placebear.com/500/400" alt="Brown bear frolicing on rocks in the river.">
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">Highlight Card Right with Large Photo</h2>
      </div>
      <div class="highlight__description">
        <p>In convallis euismod nibh a ornare. Integer vitae ultrices lectus, quis semper leo. Sed tempus massa vel arcu dapibus tempus. Quisque dignissim ac diam et auctor. In hac habitasse platea dictumst. Vestibulum ut tellus eu magna varius tempus. Sed vitae scelerisque odio, ut tempor dolor. Vivamus non ultrices nisl. Donec maximus vehicula consequat. Integer sed fermentum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><p>
      </p></div>
      <a href="#" aria-label="Learn more about black bears" class="read-more">Optional Read More Link</a>
    </div>
  </div>
</section>

<section class="highlight section highlight--right-small">
  <div class="l-center">
    <div class="highlight__image">
      <img src="http://placebear.com/400/300" alt="Brown bear fishing for salmon in a river.">
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">Highlight Card Right with Small Photo</h2>
      </div>
      <div class="highlight__description">
        <p>In convallis euismod nibh a ornare. Integer vitae ultrices lectus, quis semper leo. Sed tempus massa vel arcu dapibus tempus. Quisque dignissim ac diam et auctor. In hac habitasse platea dictumst. Vestibulum ut tellus eu magna varius tempus. Sed vitae scelerisque odio, ut tempor dolor. Vivamus non ultrices nisl. Donec maximus vehicula consequat. Integer sed fermentum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><p>
      </p></div>
      <a href="#" aria-label="Learn more about black bears" class="read-more">Optional Read More Link</a>
    </div>
  </div>
</section>