// Import site utilities.
@import '../../global/utils/init';

.icon {
  @include image-replace;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 2.25rem;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 2.25rem;
}

// Social Footer Icons
.icon--facebook {
  background-image: url('#{$asset-path}/icon_facebook_small.svg');

  &:hover,
  &:focus {
    background-image: url('#{$asset-path}/icon_facebook_small_hover.svg');
  }
}

.icon--twitter {
  background-image: url('#{$asset-path}/icon_twitter_small.svg');

  &:hover,
  &:focus {
    background-image: url('#{$asset-path}/icon_twitter_small_hover.svg');
  }
}

.icon--youtube {
  background-image: url('#{$asset-path}/icon_you-tube_small.svg');
  width: 3.125rem;
  max-width: 100%;

  &:hover,
  &:focus {
    background-image: url('#{$asset-path}/icon_you-tube_small_hover.svg');
  }
}

.icon--instagram {
  background-image: url('#{$asset-path}/icon_instagram_small.svg');

  &:hover,
  &:focus {
    background-image: url('#{$asset-path}/icon_instagram_small_hover.svg');
  }
}

.icon--snapchat {
  background-image: url('#{$asset-path}/icon_snapchat_small.svg');

  &:hover,
  &:focus {
    background-image: url('#{$asset-path}/icon_snapchat_small_hover.svg');
  }
}

// Contact Footer Icons
.icon--phone {
  background-image: url('#{$asset-path}/icon_phone.svg');
  content: '';
  background-size: .9375rem .9375rem;
  background-repeat: no-repeat;
  padding: 0 .25rem 0 1.5625rem;
}

.icon--email {
  background-image: url('#{$asset-path}/icon_email.svg');
  content: '';
  background-size: 1.0625rem 1.3125rem;
  background-repeat: no-repeat;
  padding: 0 .25rem 0 1.5625rem;
}

.icon--address {
  background-image: url('#{$asset-path}/icon_address.svg');
  content: '';
  background-size: 1.0625rem 1.1875rem;
  background-repeat: no-repeat;
  padding: 0 .25rem 0 1.5625rem;
}
