// Icons
//
// These icons are used throughout the site.
//
// Usage:
//
// Import the icons macro.
//
// Call the `.get()` function passing it the icon name.
//
// (Optional) The second argument is any classes you would like to apply to the svg element.
//
// **Example:**
// ```
// {% import '@a11y_styleguide/icons/icons.twig' as icons %}
// {{ icons.get('facebook', 'icon icon--facebook') }}
// ```
// This will render the svg inline with whatever class or classes are
// passed as the second argument.
// ```
// <svg aria-hidden="true" role="img" class="icon icon--facebook">...</svg>
// ```
//
// Markup: icons-kss.twig
//
// Style guide: Media.icons

// Import site utilities.
@import '../../global/utils/init';
