<div class="directory directory-layout--photo-grid-name">
  <ul class="directory__items">
          <li class="directory directory-layout--photo-grid-name directory__item">

<article class="person person-grid__item-wrapper photo-grid-names">
  <div class="person-grid__image">
          <a href="#"><img src="http://placehold.it/256x360" alt="Person name"></a>
      </div>
  <div class="person-grid__content">
          <h3 class="person-grid__name">
        <a href="#">Ban Allos, MD</a>
      </h3>
              <div class="person-grid__title">Associate Professor of Medicine, Preventative Medicine</div>
              <div class="person-grid__email">
        <a href="mailto:email@email.com">
          <i class="fa fa-fw fa-envelope"></i>
          Email
        </a>
      </div>
      </div>
</article>
      </li>
          <li class="directory directory-layout--photo-grid-name directory__item">

<article class="person person-grid__item-wrapper photo-grid-names">
  <div class="person-grid__image">
          <a href="#"><img src="http://placehold.it/256x360" alt="Person name"></a>
      </div>
  <div class="person-grid__content">
          <h3 class="person-grid__name">
        <a href="#">Lorem Ultricies, MD</a>
      </h3>
              <div class="person-grid__title">Professor of Medicine, Preventative Medicine</div>
              <div class="person-grid__email">
        <a href="mailto:email@email.com">
          <i class="fa fa-fw fa-envelope"></i>
          Email
        </a>
      </div>
      </div>
</article>
      </li>
      </ul>
<div>

                    </div>
                                      </div>
