// Person Grid Card
//
// Markup: cards-person-grid.twig
//
// Style guide: Cards.cards-person-grid

// Import site utilities.
@import '../../global/utils/init';

.node--view-mode-photo-grid-names {
  width: 100%;
}

.person-grid__item-wrapper.photo-grid-names {
  background-color: $color-alto;
  margin: 0 auto;
  max-width: 250px;
}

.person-grid__item-wrapper.photo-grid {
  margin: 0 auto;
  max-width: 250px;
}

.person-grid__image {

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.person-grid__placeholder-image {
  background-color: $color-manatee;
  // Matching aspect ratio of
  // barista_person_photo_grid_thumbnail image style.
  padding-top: 140.5%;
  width: 100%;
}

.person-grid__content {
  background-color: $color-alto;
  font-size: 1rem;
  line-height: 1.5;
  padding: $padding-sm;
}

// <h3> required to override
// default body text styling.
.person-grid__name {
  margin: 0 0 0.5rem;
  font-size: inherit;
  line-height: inherit;
  word-break: break-word;
}

.person-grid__title {
  margin-bottom: 0.5rem;
  word-break: break-word;
}

// <h2> required to override
// default body text styling.
h2.directory__group-title {
  color: $color-cherry;
  font-weight: $font-weight-bold;
  font-size: 2.2rem;
  line-height: 1.5;
  text-transform: none;
}

// <ul> required to override
// default body text styling.
ul.directory__items {
  margin: 0;
  padding: 0;

  .directory-layout--photo-grid &,
  .directory-layout--photo-grid-name & {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;

    @include breakpoint($bp-xsm) {
      margin: 0 -1rem;
    }
  }
}

.directory__item {
  list-style: none;
  padding: 1rem;

  .directory-layout--list & {
    flex: 0 1 100%;
    padding: 0;
  }

  .directory-layout--photo-grid &,
  .directory-layout--photo-grid-name & {
    flex: 0 1 50%;
    padding: 1rem;
    flex-basis: 100%;

    @include breakpoint($bp-sm) {
      flex-basis: 33.33%;
    }
  }

  .directory-layout--photo-grid-name & {
    display: flex;
  }
}
