// Style Guide Theme
//
// This is the theme styling component for the style guide
//
// Markup: style-guide-theme.twig

// Import site utilities.
@import '../../global/utils/init';

// KSS node changes
#kss-node {

  // Main content
  .kss-section {
    margin-bottom: $padding-md-lg;
    padding-bottom: $padding-md;
    border-bottom: 1px solid $color-silver;

    &:first-child,
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: $padding-sm;
    }
  }

  .kss-depth-2 {
    margin: 0;
    background: url('#{$asset-path}/hr.png') repeat-x 0 0;
    border: 0;
    float: left;
    clear: both;
    width: 100%;
  }

  .kss-modifier {
    border-top: 0;
  }

  .kss-wrapper {
    padding-left: 0;
    margin-left: 0;
    position: relative;
  }

  .kss-content {
    padding-left: $padding-xsm;
    transition: all 0.5s ease-in-out;
    margin: 0 $padding-md 0 325px;

    li {
      padding-bottom: $padding-xsm;
    }
  }

  .kss-sidebar-collapsed + .kss-content {
    transition: all 0.5s ease-in-out;
    margin: 0 $padding-md 0 5rem;
  }

  .kss-modifier-original .kss-modifier-example {
    padding: $padding-sm 0;
  }

  .kss-overview code,
  .kss-description code,
  .kss-description pre {
    padding: 2px 6px;
    background: $color-gallery;
    border-radius: $border-rd-sm;
  }

  .kss-description {

    blockquote {
      margin-bottom: $padding-md;
    }

    h3 {
      font-weight: normal;
      font-style: normal;
      margin: 20px 0 0;
    }
  }

  .kss-markup pre {
    border-radius: 0 $border-rd-sm $border-rd-sm 0;
    border: 2px solid $color-gallery;
    border-left: 5px solid $color-cherry;
  }

  // Sidebar
  .kss-sidebar.kss-fixed,
  .kss-sidebar {
    height: 100% !important;
    background: $color-gallery;
    padding: ($padding-md + $padding-xsm) $padding-md;
    width: 275px;
    box-shadow: $shadow-sm;
    float: left;
    position: fixed;
    z-index: 1;

    .kss-nav {
      padding: $padding-xsm 0;
      margin: $padding-xsm (-$padding-xsm);
      max-height: calc(125vh - 44px - 68px - 30px);
      overflow-y: auto;
    }

    .kss-sidebar-inner {
      text-decoration: none;
      padding-top: 0;
      margin-top: -$padding-sm;
    }
  }

  .kss-menu > .kss-menu-item {
    padding: $padding-xsm;
    border-bottom: 1px solid $color-silver;

    &:last-child {
      border-bottom: 0;
    }
  }

  .kss-menu,
  .kss-menu-child,
  .kss-menu > .kss-menu-item > a {
    border-bottom: 0;

    li {
      list-style: none;
    }

    > .kss-menu-item > a > .kss-name {
      text-align: left;
      color: $color-midnight;
      font-weight: 100;

      &:hover,
      &:focus,
      &:active {
        color: $color-midnight;
        text-decoration: underline;
      }
    }
  }

  .kss-menu-child {
    padding: 0;
  }

  h1 > a,
  h2 > a,
  h3 > a,
  .kss-menu > .kss-menu-item > a > .kss-ref,
  .kss-menu-child > .kss-menu-item > a > .kss-ref,
  .kss-overview a,
  .kss-description a {
    text-align: left;
    color: $color-cherry;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      color: $color-ruby;
      text-decoration: underline;
    }
  }

  .kss-doc-title {
    text-align: left;
    color: $color-midnight;
    text-decoration: none;
    margin: 0;
  }

  h2,
  h3 {
    text-align: left;
    color: $color-midnight;
    text-decoration: none;
    font-weight: normal;
  }

  .kss-depth-1 .kss-title,
  .kss-overview > h1:first-child {
    font-weight: 100;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }

  .kss-header {
    background: transparent;
  }

  .kss-overview h1,
  .kss-overview h2,
  .kss-overview h3,
  .kss-overview h4,
  .kss-overview h5,
  .kss-overview h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  .kss-overview h1 {
    margin: 0 0 30px;
    padding-bottom: 10px;
  }

  blockquote {
    font-style: italic;
  }
}

// Sidebar toggle settings
.kss-sidebar,
.nav-btn {
  transition: all 0.5s ease-in-out;
  overflow: visible !important; // needed to override default KSS node styling
}

.kss-sidebar {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.no-js .nav-btn {
  display: none;
}

.nav-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('#{$asset-path}/chevron_left_round_red.png') no-repeat;
  right: 10px;
  top: 13px;
  background-size: 32px;
  border: 0;
  box-shadow: none;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }
}

.kss-menu {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: visible;
}

.kss-sidebar-collapsed {
  transform: translateX(-82%);

  .kss-menu {
    opacity: 0;
    visibility: hidden;
  }

  .kss-nav {
    overflow-y: hidden !important;
  }
}

.kss-sidebar-collapsed .nav-btn {
  transform: translateX(100%);
  background: url('#{$asset-path}/chevron_right_round_red.png') no-repeat;
  background-size: 32px;
  right: 40px;
  top: 13px;
}


.kss-skip-link {
  background: $color-cherry;
  border: 3px solid $color-ruby;
  color: $color-white;
  display: inline-block;
  left: 0;
  list-style: none;
  opacity: 1;
  padding: 0.8rem;
  pointer-events: none;
  position: fixed;
  text-decoration: underline;
  top: -100px;
  transition: top 0.3s ease-in-out;
  z-index: 99;

  &:focus,
  &:active {
    color: $color-white;
    opacity: 1;
    top: 0;
  }
}

// Misc changes
body {
  @include font-stack-base;
  color: $color-midnight;
}

.break {
  margin: $padding-md-lg 0;
  border-bottom: 1px solid $color-gallery;
}

.markup {
  margin: 1.5rem 0;
  border-bottom: 1px solid $color-gallery;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bold {
  font-weight: bold !important;
}

.js-show-markup {
  margin: $padding-xsm 0;
}

abbr[title] {
  text-decoration: none;
}

.copied {
	color: $color-grass;
	display: none;
}

// ARIA toggle theme
.atblock {
  position: relative;
}

.atblock__title,
.atblock__panel {
  overflow: hidden;
  position: relative;
  padding: 0 $padding-xsm;
  margin: 0 !important;

  p {
    margin: 10px 0 15px !important;
  }

  ul {
    margin: 0 !important;
  }

  &.guidelines {

    p {
      margin: 10px 10px 15px 55px !important;
      border-left: 2px solid $color-gallery;
      padding-left: 15px;
      position: relative;
    }
  }
}

// these need to be siblings. so as to ensure that content isn't hidden if a title doesn't exist
.atblock__title + .atblock__panel {
  max-height: 0;
  visibility: hidden;
}

.atblock__title + .atblock__panel[aria-hidden='false'],
.no-js .atblock__title + .atblock__panel:target {
  max-height: 100%;
  visibility: visible;
  padding-bottom: $padding-sm;
  padding-left: $padding-sm;
}

.atblock__title__trigger {
  font-size: 20px;
  font-weight: normal !important;
  padding: 0;
  background-repeat: no-repeat;
  padding-right: 40px;
  display: inline-block !important;
  background-image: url('#{$asset-path}/plus_round_red.png'); // replace with plus
  background-size: 32px;
  background-position: 100% 50%;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  font-family: 'Verdana', 'Arial', sans-serif;
  height: 30px;
  line-height: 1.4;
  margin: $padding-xsm 0;

  &[aria-expanded='true'] {
    content: '';
    background: url('#{$asset-path}/minus_round_red.png'); // replace with minus
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  &:hover,
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }
}

.guidelines {
  margin-left: 10px;
  position: relative;

  &::before {
    content: '';
    background: url('#{$asset-path}/w3c.png');
    background-size: 50px;
    float: left;
    clear: both;
    width: 50px;
    margin: auto;
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 10px;
    right: auto;
    text-align: left;
    background-repeat: no-repeat;
  }
}

a[target="_blank"]::after {
  content: '';
  background: url('#{$asset-path}/icon_new-tab.png'); // Outside link icon
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 0 0 -2px 5px;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.social-link-twitter {
  content: '';
  background: url('#{$asset-path}/icon_twitter.png'); // Twitter icon
  background-size: 32px;
  background-repeat: no-repeat;
  padding: $padding-sm 1.5rem;

  &[target="_blank"]::after {
    display: none;
  }
}

.social-link-github {
  content: '';
  background: url('#{$asset-path}/icon_github.png'); // GitHub icon
  background-size: 32px;
  background-repeat: no-repeat;
  padding: $padding-sm 1.5rem;

  &[target="_blank"]::after {
    display: none;
  }
}

.social-link-out {
  position: absolute;
  right: $padding-md;
  top: $padding-md;
}

// back to top styling
.back-to-top {
  background-color: $color-cherry;
  bottom: -1px;
  height: 40px;
  position: fixed;
  right: 18px;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  width: 40px;
  background-image: url('#{$asset-path}/chevron_up_round_red.png');
  background-repeat: no-repeat;
  background-size: 32px;
  border-top-left-radius: $border-rd-sm;
  border-top-right-radius: $border-rd-sm;
  background-position: 50%;

  &:hover {
    background-color: $color-ruby;
  }
}

.show-back-to-top .back-to-top {
  transform: translateY(0%);
}
