// Style Guide Theme
//
// This is the theme styling component for the style guide
//
// Markup: style-guide-theme.twig

// Import site utilities.
@import '../../global/utils/init';

#kss-node {

  // Main content
  .kss-section {
    margin-bottom: $padding-md-lg;
    padding-bottom: $padding-md;
    border-bottom: 1px solid $color-silver;

    &:first-child,
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: $padding-sm;
    }
  }

  .kss-depth-2 {
    margin: 0;
    background: url('#{$asset-path}/hr.png') repeat-x 0 0;
    border: 0;
    float: left;
    clear: both;
    width: 100%;
  }

  .kss-modifier {
    border-top: 0;
  }

  .kss-wrapper {
    padding-left: 0;
    margin-left: 0;
  }

  .kss-content {
    padding-left: $padding-xsm;
    transition: all 0.5s ease-in-out;
    margin: 0 $padding-sm 0 325px;

    li {
      padding-bottom: $padding-xsm;
    }
  }

  .kss-sidebar-collapsed + .kss-content {
    transition: all 0.5s ease-in-out;
    margin: 0 $padding-sm 0 5rem;
  }

  .kss-modifier-original .kss-modifier-example {
    padding: $padding-sm 0;
  }

  .kss-overview code,
  .kss-description code,
  .kss-description pre {
    padding: 2px 6px;
    background: $color-gallery;
    border-radius: $border-rd-sm;
  }

  .kss-description {

    h3 {
      font-weight: normal;
      font-style: normal;
      margin: 20px 0 0;
    }

    blockquote {
      border-left: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }
  }

  .kss-markup pre {
    border-radius: 0 $border-rd-sm $border-rd-sm 0;
    border: 2px solid $color-gallery;
    border-left: 5px solid $color-cherry;
  }

  // Sidebar
  .kss-sidebar.kss-fixed,
  .kss-sidebar {
    height: 100% !important;
    background: $color-gallery;
    padding: $padding-md;
    width: 275px;
    box-shadow: $shadow-sm;
    float: left;
    position: fixed;
    z-index: 1;

    .kss-nav {
      padding: $padding-xsm 0;
      margin: $padding-xsm (-$padding-xsm);
      max-height: calc(125vh - 44px - 68px - 30px);
      overflow-y: auto;
    }

    .kss-sidebar-inner {
      text-decoration: none;
      padding-top: 0;
      margin-top: -$padding-sm;
    }
  }

  .kss-menu > .kss-menu-item {
    padding: $padding-xsm;
    border-bottom: 1px solid $color-silver;

    &:last-child {
      border-bottom: 0;
    }
  }

  .kss-menu,
  .kss-menu-child,
  .kss-menu > .kss-menu-item > a {
    border-bottom: 0;

    li {
      list-style: none;
    }

    > .kss-menu-item > a > .kss-name {
      text-align: left;
      color: $color-midnight;
      font-weight: 100;

      &:hover,
      &:focus,
      &:active {
        color: $color-midnight;
        text-decoration: underline;
      }
    }
  }

  .kss-menu-child {
    padding: 0;
  }

  h1 > a,
  h2 > a,
  h3 > a,
  .kss-menu > .kss-menu-item > a > .kss-ref,
  .kss-menu-child > .kss-menu-item > a > .kss-ref,
  .kss-overview a,
  .kss-description a {
    text-align: left;
    margin-bottom: 0;
    color: $color-cherry;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      color: $color-ruby;
      text-decoration: underline;
    }
  }

  .kss-doc-title {
    text-align: left;
    color: $color-midnight;
    text-decoration: none;
    margin: 0;
  }

  h2,
  h3 {
    text-align: left;
    color: $color-midnight;
    text-decoration: none;
    font-weight: normal;
  }

  .kss-depth-1 .kss-title,
  .kss-overview > h1:first-child {
    font-weight: 100;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }

  .kss-header {
    background: transparent;
  }

  .kss-overview h1,
  .kss-overview h2,
  .kss-overview h3,
  .kss-overview h4,
  .kss-overview h5,
  .kss-overview h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  blockquote {
    font-style: italic;
  }
}

// Sidebar toggle settings
.kss-sidebar,
.nav-btn {
  transition: all 0.5s ease-in-out;
  overflow: visible !important; // needed to override default KSS node styling
}

.kss-sidebar {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.no-js .nav-btn {
  display: none;
}

.nav-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('#{$asset-path}/chevron_left_round_red.png') no-repeat;
  right: 10px;
  top: 5px;
  background-size: 32px;
  border: 0;
  box-shadow: none;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }
}

.kss-menu {
  opacity: 1;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  visibility: visible;
}

.kss-sidebar-collapsed {
  transform: translateX(-82%);

  .kss-menu {
    opacity: 0;
    visibility: hidden;
  }

  .kss-nav {
    overflow-y: hidden !important;
  }
}

.kss-sidebar-collapsed .nav-btn {
  transform: translateX(100%);
  background: url('#{$asset-path}/chevron_right_round_red.png') no-repeat;
  background-size: 32px;
  right: 40px;
  top: 5px;
}


.kss-skip-link {
  background: $color-cherry;
  border: 3px solid $color-ruby;
  color: $color-white;
  display: inline-block;
  left: 0;
  list-style: none;
  opacity: 1;
  padding: .8rem;
  pointer-events: none;
  position: fixed;
  text-decoration: underline;
  top: -100px;
  transition: top .3s ease-in-out;
  z-index: 99;

  &:focus,
  &:active {
    color: $color-white;
    opacity: 1;
    top: 0px;
  }
}
