// Style Guide Theme
//
// This is the theme styling component for the style guide
//
// Markup: style-guide-theme.twig

// Import site utilities.
@import '../../global/utils/init';

#kss-node {

  // Main content
  .kss-section {
    margin-bottom: $padding-md-lg;
    padding-bottom: $padding-md;
    border-bottom: $border-thin;

    &:first-child,
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: $padding-sm;
    }
  }

  .kss-modifier {
    border-top: 0;
  }

  .kss-wrapper {
    padding-left: 0;
    margin-left: 0;
  }

  .kss-content {
    margin-left: 325px;
    padding-left: $padding-xxsm;

    li {
      padding-bottom: $padding-xxsm;
    }
  }

  .kss-modifier-original .kss-modifier-example {
    padding: $padding-sm 0;
  }

  .kss-overview code,
  .kss-description code,
  .kss-description pre {
    padding: 2px 6px;
    background: $color-gallery;
    border-radius: $border-rd-sm;
  }

  // Sidebar
  .kss-sidebar.kss-fixed,
  .kss-sidebar {
    height: 100% !important;
    background: $color-gallery;
    padding: $padding-md;
    width: 275px;
    box-shadow: $shadow-sm;
    float: left;
    position: fixed;
    z-index: 1;

    .kss-nav {
      padding-right: 0;
      margin: $padding-sm (-$padding-xxsm);
    }

    .kss-sidebar-inner {
      padding-top: $padding-md;
      text-decoration: none;
    }
  }

  .kss-menu > .kss-menu-item {
    margin: $padding-xxsm;
  }

  .kss-menu-full-width {
    @include button;
    margin-top: $padding-md;
  }

  .kss-menu,
  .kss-menu-child,
  .kss-menu > .kss-menu-item > a {
    border-bottom: 0;

    li {
      list-style: none;
    }

    > .kss-menu-item > a > .kss-name {
      text-align: left;
      color: $color-midnight;
      font-weight: 100;

      &:hover,
      &:focus,
      &:active {
        color: $color-midnight;
        text-decoration: underline;
      }
    }
  }

  .kss-menu-child {
    padding: 0;
  }

  // Headers
  h1 > a,
  h2 > a,
  h3 > a,
  .kss-menu > .kss-menu-item > a > .kss-ref,
  .kss-menu-child > .kss-menu-item > a > .kss-ref,
  .kss-overview a {
    text-align: left;
    margin-bottom: 0;
    color: $color-cherry;
    text-decoration: none;
    font-weight: 100;

    &:hover,
    &:focus,
    &:active {
      color: $color-ruby;
      text-decoration: underline;
    }
  }

  .kss-doc-title {
    text-align: left;
    color: $color-cherry;
    text-decoration: none;
    margin: 0 0 1.5rem;
  }

  h2,
  h3 {
    text-align: left;
    color: $color-midnight;
    text-decoration: none;
  }

  .kss-depth-1 .kss-title,
  .kss-overview > h1:first-child {
    border-bottom: $border-regular;
    font-weight: 100;
  }

  .kss-header {
    background: transparent;
  }

  .kss-overview h1,
  .kss-overview h2,
  .kss-overview h3,
  .kss-overview h4,
  .kss-overview h5,
  .kss-overview h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
  }
}
