<section class="accordion-section">
  <div class="accordion" data-action="is-accordion" role="tablist">
    <div class="js-accordion__panel">
      <a class="accordion__heading" href="#accordion__content_1" aria-expanded="false" role="tab" tabindex="0" id="accordion__title_1" aria-selected="false">Tab #1 </a>
      <div class="accordion__content" id="#accordion__content_1" role="tabpanel" aria-hidden="true" aria-labelledby="accordion__title_1"> <p> Content of Tab #1 </p> </div>
    </div>
    <div class="js-accordion__panel">
      <a class="accordion__heading" href="#accordion__content_2" aria-expanded="false" role="tab" tabindex="0" id="accordion__title_2" aria-selected="false">Tab #2 </a>
      <div class="accordion__content" id="#accordion__content_2" role="tabpanel" aria-hidden="true" aria-labelledby="accordion__title_2"> <p> Content of Tab #2 </p> </div>
    </div>
    <div class="js-accordion__panel">
      <a class="accordion__heading" href="#accordion__content_2" aria-expanded="false" role="tab" tabindex="0" id="accordion__title_3" aria-selected="false">Tab #3 </a>
      <div class="accordion__content" id="#accordion__content_3" role="tabpanel" aria-hidden="true" aria-labelledby="accordion__title_3"> <p> Content of Tab #3 </p> </div>
    </div>
  </div>
</section>
