// Accordion
//
// Markup: accordion.twig
//
// Import site utilities.
@import '../../global/utils/init';

.accordion {
  &__heading {
    background-color: $color-alabaster;
    border-bottom: $border-regular;
    display: block;
    text-decoration: none;
    text-transform: none;
    outline: none;

    &--active {
      background-color: $color-cherry;
      color: $color-white;
    }

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-cherry;
      outline: none;
    }

  }

  &__content {
    display: none;
    padding: 10px 16px;
  }
}
