<section class="accordion-section">
  <div class="accordion" role="presentation">
    <div class="js-accordion__panel">
      <h3 class="accordion__heading"> <button class="accordion__trigger" aria-controls="accordion__content_1" aria-expanded="false" tabindex="0" id="accordion__title_1" aria-selected="false">Tab #1 </button> </h3>
      <div class="accordion__content" id="accordion__content_1" role="region" aria-hidden="true" aria-labelledby="accordion__title_1"> <p> Content of Tab #1 </p> </div>
    </div>
    <div class="js-accordion__panel">
      <h3 class="accordion__heading"> <button class="accordion__trigger" aria-controls="accordion__content_2" aria-expanded="false" tabindex="0" id="accordion__title_2" aria-selected="false">Tab #2 </button> </h3>
      <div class="accordion__content" id="accordion__content_2" role="region" aria-hidden="true" aria-labelledby="accordion__title_2"> <p> Content of Tab #2 </p> </div>
    </div>
    <div class="js-accordion__panel">
      <h3 class="accordion__heading"> <button class="accordion__trigger" aria-controls="accordion__content_3" aria-expanded="false" tabindex="0" id="accordion__title_3" aria-selected="false">Tab #3 </button> </h3>
      <div class="accordion__content" id="accordion__content_3" role="region" aria-hidden="true" aria-labelledby="accordion__title_3"> <p> Content of Tab #3 </p></div>
    </div>
  </div>
</section>
