<section class="accordion-section">
  <div class="accordion">
    <div class="js-accordion__panel">
      <div class="accordion__heading"> <h3>Tab #1 </h3> </div>
      <div class="accordion__content"> <p> Content of Tab #1 </p> </div>
    </div>
    <div class="js-accordion__panel">
      <div class="accordion__heading"> <h3>Tab #2 </h3> </div>
      <div class="accordion__content"> <p> Content of Tab #2 </p> </div>
    </div>
    <div class="js-accordion__panel">
      <div class="accordion__heading"> <h3>Tab #3 </h3> </div>
      <div class="accordion__content"> <p> Content of Tab #3 </p> </div>
    </div>
  </div>
</section>
