// Accordion
//
// Markup: accordion.twig
//
// Import site utilities.
@import '../../global/utils/init';

.accordion {
  &__heading {
    margin: 0;
  }
  &__trigger {
    width: 100%;
    text-align: left;
    padding: 10px 16px;
    font-size: 1rem;
    background-color: $color-alabaster;
    border: 0;
    border-bottom: $border-regular;
    display: block;
    text-decoration: none;
    text-transform: none;
    outline: none;

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-cherry;
      outline: none;
    }

  }

  &__content {
    display: none;
    padding: 10px 16px;
  }
}
