<section class="card-grid">
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/butterfly.jpg" alt="Blue Morpho butterfly"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/blue/" class="card__title--link">Blue Morpho</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/gold-banded.jpg" alt="Gold-banded Forester butterfly"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/blue/" class="card__title--link">Gold-banded Forester</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/starry.jpg" alt="Starry Night Cracker butterfly"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/blue/" class="card__title--link">Starry Night Cracker</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/lacewing.jpg" alt="Red Lacewing butterfly"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/red/" class="card__title--link">Red Lacewing</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/swallowtail.jpg" alt="Emerald Swallowtail butterfly"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/green/" class="card__title--link">Emerald Swallowtail</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/glasswing.jpg" alt="Glasswing butterfly"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/gray-white/" class="card__title--link">Glasswing</a>
      </div>
    </div>
  </section>
</section>