// Basic Card Grid
//
// Markup: cards-basic-grid.twig
//
// Style guide: Cards.cards-basic-grid

// Import site utilities.
@import '../../global/utils/init';

.card-grid .card {
  margin: 0 $padding-xsm $padding-sm;
}

.card-grid__item {
  margin: 3rem 0;

  @include breakpoint($bp-md) {
    .card__title {
      left: 15px;
      right: 15px;
    }
  }
}
