{{ attach_library('theme_name/select-lists') }}
<section class="select-section">
  <form>
    <div class="select">
      <select>
        <option>First select</option>
        <option>Option 1.1</option>
        <option>Option 1.2</option>
      </select>
      <div class="select__arrow"></div>
    </div>
    <div class="select">
      <select>
        <option>Second select</option>
        <option>Option 2.1</option>
        <option>Option 2.2</option>
      </select>
      <div class="select__arrow"></div>
    </div>
  </form>
</section>
