{{ attach_library('theme_name/select-lists') }}
<form>
  <div class="select">
    <select>
      <option>First select</option>
      <option>Option</option>
      <option>Option</option>
    </select>
    <div class="select__arrow"></div>
  </div>
  <div class="select">
    <select>
      <option>Second select</option>
      <option>Option</option>
      <option>Option</option>
    </select>
    <div class="select__arrow"></div>
  </div>
</form>
