<footer class="footer">
  <div>
    <div class="l-center">
      <div class="footer__left">
        <div class="footer__contact">
          <nav aria-labelledby="footer-label" class="footer__header">
            <h3 class="footer__title" id="footer-label">Contact</h3>
            <div class="footer__content">
              <ul>
                <li class="icon--phone"><a href="#">+1 (800) 555-5555</a></li>
                <li class="icon--email"><a href="#">info@company.com</a></li>
                <li class="icon--address"><a href="#">Street Address</a></li>
                <li><a href="#">City, Zip Code</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__header">
          <h3 class="footer__title">Resources</h3>
        </div>
        <ul>
          <li><a href="#">Press</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Charity</a></li>
        </ul>
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-center">
    <div class="footer__flex">
      <div class="footer__left-social">
        <div class="footer__social">
          <nav class="navigation navigation--social">
            <ul class="navigation__menu menu">
              <li class="navigation__link navigation__link--icon first"><a href="#" class="icon icon--facebook">Facebook</a></li>
              <li class="navigation__link navigation__link--icon"><a href="#" class="icon icon--instagram">Instagram</a></li>
              <li class="navigation__link navigation__link--icon"><a href="#" class="icon icon--snapchat">Snapchat</a></li>
              <li class="navigation__link navigation__link--icon"><a href="#" class="icon icon--twitter">Twitter</a></li>
              <li class="navigation__link navigation__link--icon last"><a href="#" class="icon icon--youtube">YouTube</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__right-search">
        <form action="" role="search">
          <label for="footer-search">Site search:</label>
          <input type="search" id="footer-search">
        </form>
      </div>
    </div>
  </div>
  <div class="footer__credits">
    <div class="l-center">
      <div class="footer__copyright">All rights reserved A11Y Style Guide ©2017</div>
    </div>
  </div>
</footer>
