<footer class="footer">
  <div>
    <div class="l-center">
      <div class="footer__left">
        <div class="footer__contact">
          <div aria-labelledby="footer-contact" class="footer__header">
            <h2 class="footer__title" id="footer-contact">Contact</h2>
            <div class="footer__content">
              <ul>
                <li class="icon--phone">+1 (800) 555-5555</li>
                <li><a class="icon--email" href="#">info@company.com</a></li>
                <li class="icon--address">Street Address <br>City, Zip Code</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <nav aria-labelledby="footer-resources" class="footer__header">
          <h2 class="footer__title" id="footer-resources">Resources</h2>
          <ul>
            <li><a href="#">Press</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Charity</a></li>
          </ul>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="l-center">
    <div class="footer__flex">
      <div class="footer__left-social">
        <div class="footer__social">
          <nav aria-labelledby="footer-social-links" class="navigation navigation--social">
            <h2 class="visuallyhidden" id="footer-scoial-links">Social Media Links</h2>
            <ul class="navigation__menu menu" id="footer-social-links">
              <li class="navigation__link navigation__link--icon first"><a href="#" class="icon icon--facebook">Facebook</a></li>
              <li class="navigation__link navigation__link--icon"><a href="#" class="icon icon--instagram">Instagram</a></li>
              <li class="navigation__link navigation__link--icon"><a href="#" class="icon icon--twitter">Twitter</a></li>
              <li class="navigation__link navigation__link--icon last"><a href="#" class="icon icon--youtube">YouTube</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__right-search">
        <div role="search">
          <input type="search" name="search" aria-label="Search">
          <button type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__credits">
    <div class="l-center">
      <p class="footer__copyright">All rights reserved A11Y Style Guide ©2017</p>
    </div>
  </div>
</footer>
